#page-local-report_users-index .col-md-9 {
    clear:both;
}

#page-local-report_users-index #iomad_course_selector, #page-local-report_users-index #iomad_license_selector {
    float:left;
}

#page-local-report_users-index #iomad_course_selector select, #page-local-report_users-index #iomad_license_selector select {
    background-color: #ddd;
}

#page-local-report_users-index #iomad_course_selector, #page-local-report_users-index #iomad_license_selector {
    padding-top: 7px;
    padding-bottom: 17px;
    padding-right: 5px;
}

#page-local-report_users-userdisplay .form-inline label,
#page-local-report_users-index .form-inline label {
    display: inline-block!important;
}

#page-local-report_users-userdisplay .tablecontainer,
#page-local-report_users-index .tablecontainer {
    padding-top: 1px;
}

#page-local-report_users-index #mform1 {
    display: flex;
    padding-top: 5px;
}

#page-local-report_users-index .mform fieldset {
    border-bottom: 0px;
}

.progress {
    background-color: #666;
}

.progress-bar {
    background-color: green;
}
