{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_question/qbank_action_menu

    Question bank tertiary navigtion.

    Classes required for JS:
    * none

    Context variables required for this template:
    * see question/classes/output/qbank_actionbar.php

    Example context (json):
    {
        "questionbankselect": {
            "action": "http://localhost/moodle/course/jumpto.php",
            "classes": "urlselect",
            "formid": "questionbankaction",
            "id": "url_select61a85bc543dca7",
            "label": "Question bank tertiary navigation",
            "options": [{
                    "name": "Questions",
                    "selected": true,
                    "value": "/question/edit.php?courseid=7"
                },
                {
                    "name": "Categories",
                    "selected": false,
                    "value": "/question/bank/managecategories/category.php?courseid=7"
                },
                {
                    "name": "Import",
                    "selected": false,
                    "value": "/question/bank/importquestions/import.php?courseid=7"
                },
                {
                    "name": "Export",
                    "selected": false,
                    "value": "/question/bank/exportquestions/export.php?courseid=7"
                }
            ]
        },
        "addcategory": "http://localhost/moodle/question/bank/managecategories/addcategory.php?cmid=71"
    }
}}
<div class="container-fluid tertiary-navigation">
    <div class="row">
        {{#questionbankselect}}
            <div class="navitem">
                {{>core/url_select}}
            </div>
        {{/questionbankselect}}
        {{#addcategory}}
            <div class="navitem">
                <a class="btn btn-primary ml-2" href="{{ addcategory }}">{{#str}}addcategory, question {{/str}}</a>
            </div>
        {{/addcategory}}
    </div>
</div>
