/* tool_profiling styles */

.path-admin-tool-profiling .profilingruntable .label {
    font-weight: bold;
}
.path-admin-tool-profiling .profiling_worse {
    color: red;
}
.path-admin-tool-profiling .profiling_better {
    color: green;
}
.path-admin-tool-profiling .profiling_same {
    color: dimgrey;
}
.path-admin-tool-profiling .profiling_important,
.path-admin-tool-profiling .flexible .referencerun {
    font-weight: bold;
}
.path-admin-tool-profiling .flexible {
    margin-left:auto;
    margin-right:auto
}
