/** Course formats **/
.course-content ul.weeks li.section {border:1px solid #DDD;}
.course-content ul.weeks li.section .content {background-color:#FAFAFA;padding:5px 10px;}
.course-content ul.weeks li.section .content h3 {margin:0;color:#777;font-weight: normal;}
.course-content ul.weeks li.section .left {padding:4px 0;}
.course-content ul.weeks li.section .right {padding:4px 0;}

/** Course **/
#page-course-recent h2.main {font-size:1.1em;}
#page-course-recent .user {font-size:0.75em;}
#page-course-recent .grade {font-style: italic;font-size:0.9em;}
#page-course-recent .forum-recent .reply .title {font-style: italic;font-size:0.9em;}
#page-course-recent .forum-recent .discussion .title {font-weight:bold;font-style: italic;font-size:0.9em;}

.path-site .availabilityinfo,
.path-course-view .availabilityinfo {font-size:0.85em;color:#aaa;}
.path-site .availabilityinfo strong,
.path-course-view .availabilityinfo strong {font-weight:normal;color:black;}
.path-course-view .dimmed_text img {opacity:0.3;filter: alpha(opacity='30');}
.path-course-view .section {font-size:1em;line-height:1.2em;}
.path-course-view .section .weekdates {margin: 0;font-weight: normal;font-size: 1em;}
.path-course-view .section .groupinglabel {color: #666666;}
.path-course-view .section .groupinglabel.dimmed_text {color: #AAA;}
.path-course-view .section .left {font-weight:bold;}

.path-course-view .weeks .section,
.path-course-view .topics .section,
.path-course-view .section td {border-color:#DDDDDD;}
.path-course-view .weeks .content ,
.path-course-view .topics .content,
.path-course-view .weeks .section,
.path-course-view .topics .section {background: #FAFAFA;}
.path-course-view .section td.side {background: #FFFFFF;}
.path-course-view .weeks .current,
.path-course-view .topics .current,
.path-course-view .current td.side {background: #9fc6fb;}
.path-course-view .section-summary.current {border-color: #9fc6fb;}
.path-course-view .weeks .hidden,
.path-course-view .topics .hidden,
.path-course-view .hidden td.side {background: #DDDDDD;}
.path-course-view .section .weekdates {color: #777777;}
.path-course-view .weeks .weekdates ,
.path-course-view .topics .weekdates {color: #333333;}

.weeks li.section ,
.topics li.section {border-style:solid;border-width:1px;}

.weeks .content,
.topics .content {padding: 5px;}

#page-report-outline-user .section {border-color:#AAAAAA;}

#page-admin-report .plugin,
#page-report .plugin,
#page-import .plugin {margin-bottom: 20px;margin-left:10%;margin-right:10%;border: 1px solid #cecece;background-color: #fdfdfd;}

.path-course-view .unread {background: #9EBEFF;}
.path-course-view .completionprogress {font-size:0.80em; margin-right: 1.5em; }

#page-report #content {padding-top:15px;padding-bottom:15px;}

#page-report #region-main p,
#page-report-log-index #region-main .info,
#page-report-loglive-index #region-main .info,
#page-report-stats-index #region-main .graph {text-align: center;}

#page-report .logselectform,
#page-report .participationselectform,
#page-report-log-index .logselectform,
#page-report-participation-index .participationselectform {text-align:center;}

.addcoursebutton {text-align:center;}
.categorypicker {text-align:center;margin-bottom:10px;}
.path-report-outline .loginfo {text-align:center;margin: 1em;}

/* Courses and categories lists */

.coursebox {border:1px solid #DDD;border-color:#DDDDDD;}
#page-enrol-index .generalbox.info,
#page-course-info .generalbox.info {border:none;}
.coursebox .content .teachers,
.coursebox .content .coursecat,
.coursebox .content .summary,
.coursebox .content .courseimage,
.coursebox .content .coursefile,
.coursebox.remotecoursebox .remotecourseinfo {font-size:0.9em;}

.course_category_tree .category >.info {background-image:url([[pix:theme|hgradient]]);background-repeat: repeat-x;background-color:#e1e1df;border:1px solid #ddd;margin:3px 0;}
.course_category_tree.frontpage-category-names .category >.info {background:none;border:none;margin:0;}

.courses .coursebox.collapsed {border:1px solid #eeeeee;padding:3px 0;}
.courses .coursebox.even {background-color:#f6f6f6;}
.courses .coursebox:hover,
.course_category_tree .courses > .paging.paging-morelink:hover {background-color:#eeeeee;}

.course_category_tree .paging.paging-morelink a {font-size:90%}

/* Publication */
#page-course-publish-metadata .metadatatext {width: 400px;}
#page-course-publish-metadata .hubscreenshot {
    display:inline;
    float:left;
    margin-right:10px;
}
#page-course-publish-metadata .hubscreenshot img {vertical-align: bottom;}
#page-course-publish-metadata .hubdescription {}
#page-course-publish-metadata .hubinfo {display:block; margin-bottom:20px;}
#page-course-publish-metadata .hublink {}
#page-course-publish-backup .courseuploadtextinfo {text-align: center;}
#page-course-publish-backup .sharecoursecontinue  {text-align: center;}
