body {
    background-image: url($imageurl);
    background-size: cover;
}
.region-main .region-main-content {
    padding: 0.875rem;
    background-color: $body-bg;
    border: $card-border-width solid $card-border-color;
    @include border-radius($card-border-radius);
}