<div id='reportloading_{{reportinstance}}' style='display:none;'>
    <img src={{loading}} alt='loading' title='loading' />
</div>

<div id='reportcontainer{{reportinstance}}' class='report_dashboard_container' data-reportid={{reportid}}
            data-reporttype={{reportcontenttype}} data-blockinstance={{instanceid}} >
</div>

<div id='plotreportcontainer{{reportinstance}}' class='plotreport_dashboard_container' data-reportid={{reportid}}
            data-reporttype={{reportcontenttype}} data-blockinstance={{instanceid}} {{#disableheader}} style="border-bottom: 5px solid #{{stylecolorpicker}}" {{/disableheader}}>
</div>
<em class="ml-2" id="durtiontext{{reportinstance}}">{{reportduration}}</em>
{{^disableheader}}
<a href={{config.wwwroot}}/blocks/learnerscript/viewreport.php?id={{reportid}}>
    <span class="reportdashboard_right">{{#str}}viewmore{{/str}}</span>
</a>
{{/disableheader}}