<p>{{ '{core:no_metadata:config_problem}'|trans }}</p>

<ul>
    <li>{{ '{core:no_metadata:suggestion_user_link}'|trans }}</li>
    <li>{{ '{core:no_metadata:suggestion_developer}'|trans }}</li>
</ul>

