<div class="ml-2 dl-dashboard">
    <div id="dashboarddarksidenav" class="dashboarddarksidenav" onclick="dashboarddark()">
        <i id="darki" class="align-middle bx bx-moon"></i>
    </div>
</div>
