{{!
    Page social footer.
}}

<div class="block20 educard-block educard-font copyright-area text-light footer-header-underline">
   <div class="container">
        <div class="row ">
            <div class="col-12 text-center pt-10 social-links">
                {{{block20social}}}
            </div>
            <div class="col-12 text-center">
                <div class="copyright-area ">
                    <small>
                        {{{block20copyright}}}
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
