<ul class="list-unstyled">
    {{#children}}
        {{#divider}}
            <li><hr></li>
        {{/divider}}
        {{^divider}}
            {{#url}}
                <li><a href="{{{url}}}" title="{{{title}}}">{{{text}}}</a></li>
            {{/url}}
            {{^url}}
                <li>{{{text}}}</li>
            {{/url}}
        {{/divider}}
        {{#haschildren}}
            {{> theme_boost/custom_menu_footer }}
        {{/haschildren}}
    {{/children}}
</ul>
