
.block_calendar_month table.minicalendar {
 margin-top: 5px;
 background-color: #ffffff;
}

.block_calendar_month table.minicalendar .weekend {
 color: #aaaaaa;
}

.minicalendar .today {
  background-color: #d5e1f4;
}
