
html {
  background-color: #c4d5ef;
}

.regions-outer {
 background-color: #ffffff;
}

h1 {
 font-size:182%;
}

h2 {
 font-size:146.5%;
}

h3 {
 font-size:116%;
}

a:link,
a:visited {
  color:#0000ff;
}

a.dimmed:link,
a.dimmed:visited {
  color:#aaaaaa;
}

a:hover {
  color:#d16600;
}

.dimmed_text,
.dimmed_text a {
  color:#aaaaaa;
}


#content {
 padding:5px 0px 5px 0px;
}

.generalbox {
 border-color: #d5e1f4;
 background-color: #f9fbfe;
}


/*** Page header ***/
#header-home .headermain,
#header .headermain {
 padding: 5px;
 float:left;
}
#header-home .headermenu,
#header .headermenu {
 float:right;
 padding: 5px;
}
#header-home .headermenu div,
#header .headermenu div {
 text-align: right;
}

.navbar {
 clear: both;
 padding: 2px 5px 2px 5px;
 background-color: #7fa5dd;
 min-height:1.7em;
}

.navbar .breadcrumb {
 float:left;
}

.navbar .navbutton {
 float:right;
}

/*** Page footer ***/

#footer {
 background-color: #7fa5dd;
}
#footer div{
 text-align: center;
}

#footer .homeinfo .sitelink img {
 margin: 5px;
}

#footer .logininfo {
 padding: 5px;
}


.logininfo {
 font-size:93%;
 background-color: #c4d5ef;
 font-style: italic;
}

/*** Blocks ***/

.sideblock {
 margin-top:5px;
 margin-bottom:5px;
 background-color: #f9fbfe;
 border-width: 1px;
 border-style: solid;
 border-color: #d5e1f4;
}
.sideblock .header {
 padding: 2px;
 background-color: #d5e1f4;
}

.sideblock h2 {
 font-size:116%;
}

.sideblock .content {
  padding: 4px;
}

/*** Frontpage ***/

#site-index h2.headingblock {
 text-align: center;
 margin-bottom: 4px;
}

.coursebox {
  margin-bottom: 15px;
  border-width:1px;
  border-style:solid;
 border-color: #d5e1f4;
 background-color: #f9fbfe;
}

.coursebox .summary {
  float: right;
  text-align:left;
  width: 65%;
  padding:5px;
}

.coursebox .info {
  float: left;
  text-align:left;
  width: 30%;
  padding:5px;
}


.sitetopic {
 margin: 0px 0px 1em 0px;
 padding: 5px;
}

.categorylist {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.categorylist .category.image {
  width: 20px;
}
.categorylist .category.number {
  text-align: right;
}

.categorylist .category.indentation {
  width: 1px;
}

.categorybox {
 margin: 0 0 1em 0;
 padding: 5px;
}

#coursesearch {
 text-align:right;
}
#coursesearch2 {
 text-align:right;
}


/*** Course layouts ***/

.course-content .weeks .right,
.course-content .weeks .left,
.course-content .topics .right,
.course-content .topics .left {
  width: 1.6em;
  padding: 5px 0;
}

.course-content .weeks .left,
.course-content .topics .left {
  float: left;
}

.course-content .weeks .right,
.course-content .topics .right {
  float: right;
}

.course-content li.activity {
 padding:2px 0px 2px 0px;
}

.course-content li.section {
  border-width: 4px;
  border-style: solid;
  border-color: #d5e1f4;
  background-color: #d5e1f4;
  margin-top: 10px;
}

.section_add_menus .horizontal {
 margin-top:1em;
}

.course-content .weeks .content,
.course-content .topics .content {
  padding: 5px;
  margin: 0 1.7em 0 1.7em;
}

.course-view .weeks .content {
 background-color: #ffffff;
}


.course-view .weeks .current,
.course-view .topics .current {
  background: #ffD991;
}
