{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Edit tree.
}}

<form id="gradetreeform" method="post" action="{{actionurl}}">
    <div>
        <input type="hidden" name="sesskey" value="{{sesskey}}">
        {{#notification}}
            {{>core/notification_info}}
        {{/notification}}
        {{{table}}}
        <div id="gradetreesubmit">
            {{#showsave}}
                <input class="advanced btn btn-primary" type="submit" value={{#quote}}{{#str}}savechanges{{/str}}{{/quote}}>
            {{/showsave}}
            {{#showbulkmove}}
                <div class="form-inline mt-3">
                    <input type="hidden" name="bulkmove" value="0" id="bulkmoveinput">
                    <label for="menumoveafter">{{#str}}moveselectedto, grades{{/str}}</label>
                    <select name="moveafter" id="menumoveafter" class="ignoredirty singleselect select form-control">
                        {{#bulkmoveoptions}}
                            <option value="{{value}}">{{name}}</option>
                        {{/bulkmoveoptions}}
                    </select>
                </div>
            {{/showbulkmove}}
        </div>
    </div>
</form>
