 .navbar.fixed-top{
        background-color: $navbarcolor!important;
        .nav-link, .navbar-brand, form{
            color: $verdinum-white!important;
        }
    }

    &.active {
        border-bottom-color: $secondary!important;
        &:focus,
        &:hover {
            border-bottom-color: $secondary!important;
        }
    }


    .nav-link {
        &:hover,
        &:focus {
            @include hover-navbar();
        }
    }

    .dropdown-item:hover, .dropdown-item:focus{
        background:$tertiary!important;
    }

    .btn-secondary,.bg-secondary.text-dark {
        @include btn-secondary;
    }

    .iomad_company_admin{
        margin-top:40px;
    }



