{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_insights/insight

    Template for a insight.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
        "samplelink": "<a href=\"#\">Link</a>",
        "sampledescription": "Sample description",
        "predictionstyle": "alert alert-success",
        "predictiondisplayvalue": "This dev will understand it"
    }
}}
<div class="card">
    <div class="row m-a-1">
        {{#samplelink}}
            <div class="col-sm-1 span1 m-b-1">
                {{{samplelink}}}
            </div>
            <div class="col-sm-3 span3 m-b-1">
                {{{sampledescription}}}
            </div>
        {{/samplelink}}
        {{^samplelink}}
            <div class="col-sm-4 span4 m-b-1">
                {{{sampledescription}}}
            </div>
        {{/samplelink}}
        <div class="col-sm-4 span4">
            <div class="{{predictionstyle}}">{{predictiondisplayvalue}}</div>
        </div>
        <div class="col-sm-4 span4">
            {{#actions}}
                    {{> core/action_menu}}
            {{/actions}}
        </div>
    </div>
</div>
