{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_forum/local/grades/local/grader/user_picker_placeholder

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
    }
}}
<div class="col-md-12 mt-3">
    <div class="row">
        <div class="col-md-8">
            <div class="bg-pulse-grey w-50" style="height: 20px;"></div>
            <div class="bg-pulse-grey w-25 mt-1" style="height: 15px;"></div>
        </div>
        <div class="col-md-4">
            <ul class="pagination">
                <li class="page-item mr-3">
                    <span class="btn bg-pulse-grey" aria-hidden="true">&langle;</span>
                    <span class="sr-only">{{#str}} previous {{/str}}</span>
                </li>
                <li class="page-item mr-3">
                    <span class="btn bg-pulse-grey" aria-hidden="true">&rangle;</span>
                    <span class="sr-only">{{#str}} next {{/str}}</span>

                </li>
                <li class="page-item">
                    <span class="btn bg-pulse-grey fa fa-search" aria-hidden="true"></span>
                    <span class="sr-only">{{#str}} search {{/str}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>

