/** General display rules **/
#page-blocks-community-communitycourse .hubscreenshot {float: left; }
#page-blocks-community-communitycourse .hubdescription { color: #003333;
    font-size: 95%;
}
#page-blocks-community-communitycourse .hubadditionaldesc { color: #666666;
    font-size: 90%;
}
#page-blocks-community-communitycourse .trusted {
    font-size: 90%;
    color: #006633;
    font-weight: normal;
    font-style: italic;
}
#page-blocks-community-communitycourse .nottrusted { }
#page-blocks-community-communitycourse .hubtrusted { }
#page-blocks-community-communitycourse .hubnottrusted {
    font-weight: bold;
}

#page-blocks-community-communitycourse .trustedtr {background-color: #ffe1c3;}
#page-blocks-community-communitycourse .prioritisetr {background-color: #ffd4ff;}
#page-blocks-community-communitycourse .additionaldesc {font-size: 80%; color: #aa6666;}
#page-blocks-community-communitycourse .additionaladmindesc {font-size: 80%; color: #6666ff;}
#page-blocks-community-communitycourse .blockdescription {font-size: 80%; color: #555555;}