/*******************************************************************
 styles_layout.css
  
 This CSS file contains all layout definitions like positioning,
 floats, margins, padding, borders etc.

 Styles are organised into the following sections:
  core
  header
  footer

  admin
  blocks
  calendar
  course
  doc
  login
  message
  tabs
  user

  various modules

*******************************************************************/


/***
 *** Core
 ***/

h1.main,
h2.main,
h3.main,
h4.main,
h5.main,
h6.main {
  text-align: center;
}

#layout-table {
  width:100%;
  border-collapse:separate;
  margin-top: 8px;
}

#layout-table #left-column,
#layout-table #middle-column,
#layout-table #right-column
{
  vertical-align:top;
}

#layout-table #middle-column {
  padding-left:12px;
  padding-right:12px;
}

#layout-table #left-column {
  padding-left:10px;
}

#layout-table #right-column {
  padding-right:10px;
}

.clearer {
  clear:both;
  margin:0px;
  padding:0px;
  height:1px;
  border:none;
  background:transparent;
}

.continuebutton {
  text-align: center;
}

form {
  margin-bottom:0px;
}

table {
  border-spacing: 0px;
  border-collapse: collapse;
}

a img {
  border:none;
}
.notifyproblem {
  text-align: center;
  padding: 10px;
}
  
.notifysuccess {
  text-align:center;
  padding: 10px;
}   

.generalbox {
  border-width:1px;
  border-style:solid;
}

.generalbox#intro {
  text-align:center;
}

.noticebox {
  border-width:1px;
  border-style:solid;
}
.errorbox {
  border-width:1px;
  border-style:solid;
  margin: 1em 15%;
  width: 70%;
}
.errorbox .title {
  padding: 5px;
}
.informationbox {
  border-width:1px;
  border-style:solid;
}
.feedbackbox {
  border-width:1px;
  border-style:solid;
}
.feedbackby {
}
.feedback {
}
.initialbar {
  text-align: center;
}

#help .indent {
  margin-left:3em;
}

.tabledivider {
  border-width:1px;
  border-style:solid;
  border-left:0px;
  border-right:0px;
  border-top:0px;
}

.sitetopic {
  margin-bottom:20px;
}

.sitetopiccontent {
  border-width:1px;
  border-style:solid;
}

.pagingbar {
  text-align:center;
}
.pagingbar a {
  padding-left: 10px;
}
.pagingbar .thispage {
  padding-left: 10px;
}

table.formtable {
  margin: auto;
}

table.formtable tbody th {
  vertical-align: top;
}

table.formtable tbody td,
table.formtable tbody th
{
  padding: 5px;
}

.paging {
  text-align: center;
  margin: 10px 0px 10px 0px;
}

.unread {
  padding-right:2px;
} 

.cell {
  vertical-align: top;
}


/***
 *** Header
 ***/

#header-home {
  padding:1em 0.5em;
  height:2em;
}

#header {
  padding:0.1em 0.5em;
}

.headermain {
  float:left;
}

#header .headermain {
  margin:0.2em 0em;
}

.headermenu {
  float:right;
  text-align:right;
}

.navbar {
  padding:3px 0.5em;
  height:1.3em;
 
}

.navbar .breadcrumb {
  float:left;
  margin:0.2em 0em;
}

.navbar .navbutton,
.navbar .menu {
  float:right;
}

#footer .navbar {
  margin-top: 4em;
}


/***
 *** Footer
 ***/

#footer {
  text-align:center;
}

.homelink {
  margin: 1em 0;
}

.homelink a {
  padding-left:1em;
  padding-right:1em;
}



/***
 *** Admin
 ***/

body#admin-index .c0 {
  vertical-align: top;
} 

body#admin-modules table.generaltable td.cell,
body#admin-modules .generaltablecell {
  padding-top: 2px;
  padding-bottom: 2px;
} 

body#admin-blocks table.generaltable td.cell,
body#admin-blocks .generaltablecell {
  padding-top: 1px;
  padding-bottom: 1px;
} 

body#admin-config .confighelp {
  display: block;
  padding-bottom: 20px;
}


/***
 *** Blocks
 ***/

.sideblock .content h3,
.sideblock .content h2 {
  text-align: left;
}

.sideblock {
  width: 100%;
  margin-bottom:1em;
}

.sideblock .header {
    background-image:url(images/sideblock.jpg);
    text-align: left;
      padding:4px;
}

.sideblock .header .hide-show {

}

.sideblock .header .hide-show img.hide-show-image {
  height:11px;
  width:11px;
  margin-top:0.25em;
}

.sideblock .header .commands {
  float: right;
  margin-top: 0.3em;
}

.sideblock .header .title {

}

.sideblock .header .commands a {
  margin: 0px 2px;
}

.sideblock .content {
  padding:4px;
}

.sideblock .content hr {
  height:1px;
  margin-top:4px;
  margin-bottom:4px;
  border:none;
  border-top:1px solid;
}
.sideblock.hidden .content {
  display: none;
}

.sideblock .list {
  width: 100%;
}

.sideblock .list .c0{
  padding: 2px;
}

.sideblock .footer {
  margin-top:4px;
  text-align:center;
}
.sideblock .header .icon.hide,
.sideblock .header .icon.edit {
  margin-right: 6px;
}

.sideblock .head {
  margin-top: 5px;
}




/***
 *** Calendar
 ***/

#calendar {
  width: 100%;
  border-spacing: 5px;
  border-collapse: separate;
}

#calendar .maincalendar,
#calendar .sidecalendar
{
  vertical-align: top;
  border: 1px solid;
}

#calendar .sidecalendar {
  width: 25%;
}

#calendar .maincalendar table.calendarmonth {
  border-collapse: separate;
  margin: 0px auto;
  width: 98%;
}

#calendar .maincalendar table.calendarmonth th {
  padding:10px;
  border-bottom:2px solid;
}

#calendar .maincalendar table.calendarmonth td {
  height: 5em;
  padding-left: 4px;
  padding-top: 4px;
  line-height:1.2em;
}

#calendar .maincalendar table.calendarmonth td,
table.minicalendar td,
table.minicalendar th {
  width:14%;
  vertical-align:top;
}
table.minicalendar td {
  text-align: center;
}
#calendar .maincalendar table.calendarmonth td table td {
  height: auto;
}

#calendar div.header
{
  padding: 5px;
}

#calendar .maincalendar .buttons {
  float: right;
}

#calendar .maincalendar .filters table,
#calendar .sidecalendar .filters table
{
  border-collapse:separate;
  border-spacing: 2px;
  padding: 2px;
  width: 100%;
}

#calendar .maincalendar .filters {
  padding: 0px 10px;
}

#calendar .sidecalendar .filters {
  padding: 5px;
}

#calendar .maincalendar .controls {
  clear:both;
  padding:10px;
}

#calendar .maincalendar table.calendarmonth ul.events-new,
#calendar .maincalendar table.calendarmonth ul.events-underway
{
  padding:0px;
  margin:0px;
  list-style-type:none;
}

#calendar .maincalendar table.calendarmonth ul li {
  margin-top: 4px;
}

table.minicalendar {
  width: 100%;
  margin:10px auto;
  padding:2px;
  border-width:1px;
  border-style:solid;
  border-collapse:separate;
  border-spacing:1px !important;
}

table.minicalendar th {
  padding: 0px 2px;
}

#calendar .maincalendar .eventlist {
  padding: 10px;
}

#calendar .maincalendar .eventlist .topic {
  padding: 5px;
  border-style:solid; 
  border-width: 0px;
  border-bottom-color: #EEEEEE;
  border-bottom-width: 1px;
}

#calendar .maincalendar .eventlist .event {
  width:100%;
  margin-bottom:10px;
  border-spacing:0px;
  border-collapse:separate;
  border-width:1px;
  border-style:solid;
}

#calendar .maincalendar .eventlist .event .name {
  float:left;
}

#calendar .maincalendar .eventlist .event .course {
  float:left;
  clear:left;
}

#calendar .maincalendar .eventlist .event .date {
  float:right;
}

#calendar .maincalendar .eventlist .event .description .commands {
  width:100%;
}

#calendar .maincalendar .eventlist .event .description {
  padding:5px;
}

#calendar .maincalendar .eventlist .event .picture {
  padding:8px;
}

#calendar .maincalendar .eventlist .event .side {
  width:32px;
}

#calendar #selecteventtype table {
  margin:auto;
}

#calendar .event_global,
#calendar .event_course,
#calendar .event_group,
#calendar .event_user,
.minicalendar .event_global,
.minicalendar .event_course,
.minicalendar .event_group,
.minicalendar .event_user {
  border:2px solid !important;
}

#calendar .duration_global,
#calendar .duration_course,
#calendar .duration_group,
#calendar .duration_user,
.minicalendar .duration_global,
.minicalendar .duration_course,
.minicalendar .duration_group,
.minicalendar .duration_user
{
  border-top:2px solid !important;
  border-bottom:2px solid !important;
}

#calendar .today,
.minicalendar .today {
  border:2px solid !important;
}
  
.cal_popup_bg {
  padding:0px;
  margin:0px;
  border:1px solid;
}

.cal_popup_close {
  margin-right:5px;
}

.cal_popup_caption {
  border-width:0px 0px 1px 0px;
  border-style:solid;
  padding-bottom:2px;
}

table.calendar-controls {
  width: 100%;
}

table.calendar-controls .previous,
table.calendar-controls .next
{
  width: 12%;
}
table.calendar-controls .previous {
  text-align: left;
}
table.calendar-controls .current {
  text-align: center;
}
table.calendar-controls .next {
  text-align: right;
}

#calendar .maincalendar .calendar-controls .previous,
#calendar .maincalendar .calendar-controls .next
{
  width: 30%;
}


/***
 *** Course
 ***/
.activitydate, .activityhead {
  text-align:center;
}

#course-view .section td {
  vertical-align:top;
}

#course-view .section .content {
  padding:5px;
  border-style:solid;
  border-width:1px;
  border-left:0px;
  border-right:0px;
}

#course-view .section .side {
  padding:5px;
  border-style:solid;
  border-width:1px;
}

#course-view .section .left {
  border-right:0px;
  text-align:center;
  width: 1.5em;
}

#course-view .section .right {
  border-left:0px;
  text-align:center;
  width: 1.5em;
}

#course-view .current .side {
}

#course-view .topics {
  margin-top: 9px;
}

#course-view .weeks {
  margin-top: 9px;
}

#course-view .section .spacer {
  height:0.5em;
}

#course-view .section .weekdates {
}

.section .activity img.activityicon {
  vertical-align:middle;
  height:16px;
  width:16px;
}

.section img.movetarget {
  height:16px;
  width:80px;
}

body#course-view .unread {
  margin-left: 3em;
} 

body#course-enrol .generalbox {
  margin-top: 20px;
}
body#course-enrol .coursebox {
  margin-top: 20px;
}

body#course-user .graph {
  text-align: center;
}

body#course-user .section,
body#course-user .content {
  margin-left: 30px;
  margin-right: 30px;
}

body#course-user .section {
  border-width:1px;
  border-style:solid;
  padding:10px;
  margin-bottom: 20px;
}

body#course-user .section h2 {
  margin-top: 0px;
}


.headingblock {
    padding:5px;
}

.headingblock header{

}

.headingblock .link {
  text-align:right;
}

body#site-index .headingblock {
  margin-bottom: 8px;
}

.coursebox {
  margin-bottom: 8px;
}

.categoryboxcontent,
.courseboxcontent {
  border-width:1px;
  border-style:solid;
}



/***
 *** Doc
 ***/

body#doc-contents h1 {
  margin: 1em 0px 0px 0px;
}

body#doc-contents ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 90%;
}


/***
 *** Login
 ***/

.loginbox .content {
  border-width:1px;
  border-style:solid;
  padding:15px;
}


/***
 *** Message
 ***/

.message_link {
  vertical-align:middle;
}

.message_search_results {
  border-collapse:collapse;
  border-spacing:0px;
}

table.message_search_results td {
  padding:5px;
  border-width:1px;
  border-style:solid;
}
.message_summary_link {
  text-align:right;
}
.message_heading {
  text-align:center;
}


/***
 *** Tabs
 ***/

.tabs {
  width: auto;
  margin-bottom: 15px;
}
.tabs .side {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  width: 50%;
}

.tabrow {
  border-collapse:collapse;
  width:100%;
  margin:0;
}
.tabrow td {
  height:34px;
  padding:0 0 0 14px;
}
.tabrow th {
  display:none;
}
.tabrow td .tablink {
  display:block;
  height:34px;
  line-height:38px;
  padding:0 14px 0 0;
  text-align:center;
  white-space:nowrap;
  text-decoration:none;
}
.tabrow .last span {
  display:block;
  padding:0px 1px 0px 0px;
}
          
.tabrow .selected .tablink {
  line-height:38px;
}


/***
 *** User
 ***/

.userinfobox {
  margin-bottom:5px;
  border-width: 1px;
  border-style: solid;
  border-collapse: separate;    
}

.userinfobox .left {
  padding: 10px;
  width: 100px;
  vertical-align: top;
}

.userinfobox .content {
  padding: 10px;
  vertical-align: top;
}

.userinfobox .links {
  width: 100px;
  padding: 5px;
  vertical-align: bottom;
}

.userinfobox .list td {
  padding: 3px;
}

.userinfobox .username {
  padding-bottom: 20px;
}    


table.userinfobox {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

table.groupinfobox {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  border-width:1px;
  border-style:solid;
  margin-bottom: 20px;
}

.groupinfobox .left {
  padding: 10px;
  width: 100px;
  vertical-align: top;
}
body#user-index #longtimenosee {
  text-align:center;
}


/***
 *** Modules: Assignment
 ***/

/***
 *** Modules: Chat
 ***/

/***
 *** Modules: Choice
 ***/

/***
 *** Modules: Forum
 ***/

.forumheaderlist,
.forumpost {
  border-width:1px;
  border-style:solid;
  border-collapse:separate;
}

.forumpost {
  margin-top: 15px;
}

.forumpost .topic {
  padding: 4px;
  border-style:solid;
  border-width: 0px;
  border-bottom-width: 1px;
}

.forumpost .commands {
  padding-top: 0.5em;
  text-align:right;
}

.forumpost .ratings {
  padding-top: 1em;
  text-align:right;
}

.forumpost .content {
  padding: 4px;
}

.forumpost .footer {
  padding-top: 0.5em;
  text-align:right;
}

.forumpost .link {
  padding-top: 0.5em;
  text-align:right;
}

.forumpost .left {
  width: 35px;
  padding: 4px;
  text-align: center;
  vertical-align: top;
}

.mod-forum .indent {
  margin-left: 30px;
}

body#user-view .forumpost,
.course .forumpost {
  width: 100%;
}

body#mod-forum-search .c0 {
  text-align: right;
}

body#mod-forum-search .introcontent {
  padding: 15px;
}

.forumolddiscuss {
  text-align: right;
}

.forumheaderlist {
  width: 100%;
}

.forumheaderlist td {
  border-width:1px 0px 0px 1px;
  border-style:solid;
}

.forumheaderlist .replies {
  text-align: center;
}

.forumheaderlist .picture {
  width: 35px;
}

.forumheaderlist .discussion .starter {
  vertical-align: middle;
}

.forumheaderlist .discussion .lastpost {
  white-space: nowrap;
}

.forumheaderlist .discussion .author {
  white-space: nowrap;
}
.forumolddiscuss {
  text-align:right;
}
.forumaddnew,
.forumnodiscuss,
.noticeboxcontent {
  text-align:center;
}
#mod-forum-view .unread {
  padding-left: 3px;
  padding-right: 3px;
}
#mod-forum-discuss .unread .forumpost .message {
  border-style: solid;
  border-width: 2px;
}


/***
 *** Modules: Glossary
 ***/

.glossarypost .commands {
  width: 200px;
  white-space: nowrap;
}

.entryboxheader {
  border-width: 1px 1px 0px 1px;
  border-style: solid;
}

.entrybox {
  border-width: 0px 1px 1px 1px;
  border-style: solid;
}

.glossarypost {
  width: 95%;
  border-width:1px;
  border-style:solid;
  border-collapse:separate;
  margin-bottom: 5px;
  text-align: left;
}


.entrylist {
  border-width:0px;
}

.entrylowersection {
  padding-top: 10px;
}
.entrylowersection table{
  width: 100%;
}
.entrylowersection .aliases {
  text-align:center;
}
.entrylowersection .icons,
.entrylowersection .ratings {
  text-align:right;
  padding-right: 5px;
}
.entrylowersection .ratings {
  padding-bottom: 2px;
}
.glossarycategoryheader {
  width: 95%;
}
.glossaryformatheader {
  width: 90%;
}

.glossarypost .entry {
  padding: 3px;
}

.glossarypost .picture {
  width: 35px;
}

.glossarycomment {
  border-width:1px;
  border-style:solid;
  border-collapse:separate;
  margin-bottom: 5px;
  text-align: left;
}


.glossarycomment .entry {
  padding: 3px;
}

.glossarycomment .picture {
  width: 35px;
}

.glossarycomment .icons {
  text-align: right;
}

.glossarydisplay {
  width: 70%;
}

.glossarydisplay .tabs {
  width: 100%;
}

.glossarydisplay .separator {
  width: 4px;
}

.glossarydisplay .tabs .selected,
.glossarydisplay .tabs .inactive,
.glossarydisplay .tabs .general {
}

.glossarypopup {
  width: 95%;
}

.glossaryapproval {
  width: 100%;
}

.mod-glossary .tabs {
  margin-bottom: 0px;
}
.mod-glossary .tabs .side {
  border-style: none;
  border-width: 0px;
  width: auto;
}


/***
 *** Modules: Journal
 ***/
#mod-journal-view .lastedit,
#mod-journal-view .editend {
  margin: 5px;
  text-align: center;
}
#mod-journal-view .feedbackbox {
  width: 75%;
  border-collapse: separate;
}
#mod-journal-view .entrycontent {
  padding: 3px;
}
#mod-journal-view .picture {
  width: 35px;
}
#mod-journal-view .grade {
  text-align: right;
}
#mod-journal-view .info {
  margin-bottom: 5px;
  text-align: right;
}


/***
 *** Modules: Label
 ***/

/***
 *** Modules: Lesson
 ***/

/***
 *** Modules: Quiz
 ***/

.feedbacktext {
  display:block;
}

body#mod-quiz-report table#attempts,
body#mod-quiz-report table#commands
{
  width: 80%;
  margin: auto;
}
body#mod-quiz-report table#attempts {
  margin: 20px auto;
}
body#mod-quiz-report table#attempts .header,
body#mod-quiz-report table#attempts .cell
{
  padding: 4px;
}
body#mod-quiz-report table#attempts .header .commands {
  display: inline;
}
body#mod-quiz-report table#attempts .picture {
  width: 40px;
}
body#mod-quiz-report table#attempts td {
  border-left-width: 1px;
  border-right-width: 1px;
  border-left-style: solid;
  border-right-style: solid;
}
.feedbacktext {
  text-align:right;
}
body#mod-quiz-report table#attempts .header {
  text-align: left;
}
body#mod-quiz-report table#attempts .picture {
  text-align: center !important;
}
body#mod-quiz-report .controls {
  text-align: center;
}



/***
 *** Modules: Resource
 ***/

/***
 *** Modules: Scorm
 ***/

/***
 *** Modules: Survey
 ***/

/***
 *** Modules: Wiki
 ***/

/***
 *** Modules: Workshop
 ***/

#header-home {
  height:112px;
}
