<div id="block02-3" class="block02-3 educard-block educard-font">
    <div class="block02-bg block-start-end-space">
        <div class="container">
            <div class="row">
                {{#block02}}
                <div class="{{{count}}} mb-4 pb-4 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="edu-icon-box block-shadow block-hover-shadow educard-rounded">
                        <div class="icon"><i class="{{icon}}"></i></div>
                        <h4 class="title"><a href="{{{buttonurl}}}">{{{title}}}</a></h4>
                        <div class="font-size-m text-truncate-3 ">
                           {{{caption}}}
                        </div>
                    </div>
                </div>    
                {{/block02}}
            </div>
        </div>
    </div>
</div>
