
<link rel="stylesheet" href="{{qmurl}}/css/pdf.css" />
<link rel="stylesheet" href="{{qmurl}}/css/defaultlayout.css" />
<link rel="stylesheet" href="{{qmurl}}/css/Chapter.css" />
<link rel="stylesheet" href="{{qmurl}}/css/highlight.css" />
<link rel="icon" href="{{qmurl}}/qubits-logo.png" sizes="any" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdn.jsdelivr.net/gh/qubits-platform/sqlite-wasm@master/sqlite3.js" defer=""></script>
<link rel="stylesheet" href="{{qmurl}}/css/pytutor.css" />
<link rel="stylesheet" href="{{qmurl}}/css/jquery-ui.min.css" />
<style>
.ace-tm{
    background-color: #fff;
}
</style>

<noscript data-n-css=""></noscript>

{{#js}}
var murl = "{{qmurl}}";
require(["jquery", "jqueryui"], function($, jqui){
    
    $.getScript( "https://cdn.jsdelivr.net/pyodide/v0.21.3/full/pyodide.js" )
    .done(function( script, textStatus ) {
        $.when(
            $.getScript(`${murl}/js/d3.v2.min.js`),
            $.getScript(`${murl}/js/jquery.jsPlumb-1.3.10-all-min.js`),
            $.getScript(`${murl}/js/pytutor.js`),
            $.getScript(`${murl}/_next/static/chunks/polyfills-c67a75d1b6f99dc8.js`),
            $.getScript(`${murl}/_next/static/chunks/webpack-7edae2f81c64c5b2.js`),
            $.getScript(`${murl}/_next/static/chunks/framework-73b8966a3c579ab0.js`),
            $.getScript(`${murl}/_next/static/chunks/main-b2630dc1035b5fee.js`),
            $.getScript(`${murl}/_next/static/chunks/110-fc5d51b4955c2c4e.js`),
            $.getScript(`${murl}/_next/static/chunks/119-77838d3189794a28.js`),
            $.getScript(`${murl}/_next/static/chunks/132-30e7292a7acd5b9d.js`),
            $.getScript(`${murl}/_next/static/chunks/176.73b8a81db93d2e40.js`),
            $.getScript(`${murl}/_next/static/chunks/241-d5ad5b38883a5bf9.js`),
            $.getScript(`${murl}/_next/static/chunks/26-d50e3ad951892cd1.js`),
            $.getScript(`${murl}/_next/static/chunks/268.d4f2a5abaecfe937.js`),
            $.getScript(`${murl}/_next/static/chunks/2b7b2d2a-bf3badb4f8422355.js`),
            $.getScript(`${murl}/_next/static/chunks/308-24d18944ee292eb0.js`),
            $.getScript(`${murl}/_next/static/chunks/395-49eb72d4e7d7c7c8.js`),
            $.getScript(`${murl}/_next/static/chunks/441.1d49677cbddfbd30.js`),
            $.getScript(`${murl}/_next/static/chunks/489.5f85e480483bd8ae.js`),
            $.getScript(`${murl}/_next/static/chunks/513-32c986c787971bf3.js`),
            $.getScript(`${murl}/_next/static/chunks/568.25e344edffa76485.js`),
            $.getScript(`${murl}/_next/static/chunks/581.c79b1e130d5ee6d2.js`),
            $.getScript(`${murl}/_next/static/chunks/583.92971570c5af7c36.js`),
            $.getScript(`${murl}/_next/static/chunks/667-94e8bd101f6c09f1.js`),
            $.getScript(`${murl}/_next/static/chunks/697.125cdcaa49d704f7.js`),
            $.getScript(`${murl}/_next/static/chunks/70.1fae6ae48a390866.js`),
            $.getScript(`${murl}/_next/static/chunks/868-d97d1c8bf82105eb.js`),
            $.getScript(`${murl}/_next/static/chunks/8a28b14e-96237857ba0e8686.js`),
            $.getScript(`${murl}/_next/static/chunks/95-05f034fd9c73f188.js`),
            $.getScript(`${murl}/_next/static/chunks/981-c9b1114f978652c7.js`),
            $.getScript(`${murl}/_next/static/chunks/d2094a0f-45a7e1bd71808f43.js`),
            $.getScript(`${murl}/_next/static/chunks/d3048c20-6953e1ade0ff3a81.js`),
            $.getScript(`${murl}/_next/static/chunks/pages/Assignment-ddc27baf28d3626b.js`),
            $.getScript(`${murl}/_next/static/chunks/pages/Chapter1-47a095daa938964a.js`),
            $.getScript(`${murl}/_next/static/chunks/pages/Chapter2-e4e8f348bbf673b3.js`),
            $.getScript(`${murl}/_next/static/chunks/pages/Chapter3-27f67bd0a7713e8c.js`),
            $.getScript(`${murl}/_next/static/chunks/pages/CloudIDE-59d07be30c972a2a.js`),
            $.getScript(`${murl}/_next/static/chunks/pages/Editor/[language]-b440db8d24280f81.js`),
            $.getScript(`${murl}/_next/static/chunks/pages/index-e5e200aa3454aed5.js`),
            $.getScript(`${murl}/_next/static/chunks/pages/pdf-04074dd6a9619057.js`),
            $.getScript(`${murl}/_next/static/chunks/pages/TeacherSideView-b2f4fcba756318d8.js`),
            $.getScript(`${murl}/_next/static/chunks/pages/_app-c69b2c1c2c2a4ea3.js`),
            $.getScript(`${murl}/_next/static/chunks/pages/_error-a2805152a5cb71b2.js`),
            $.getScript(`${murl}/_next/static/Uax2aoFve0fGjmf5qSMjb/_buildManifest.js`),
            $.getScript(`${murl}/_next/static/Uax2aoFve0fGjmf5qSMjb/_ssgManifest.js`),

            $.Deferred(
                function( deferred ){
                    $( deferred.resolve );
                }
            )
        ).done(function(){

        })
        

    })
    .fail(function( jqxhr, settings, exception ) {
        console.log( "Triggered ajaxError handler." );
    });
    
});
{{/js}}