<div class="hr-line"></div>
        <ul class="nav-links">
            <li class="nav-item d-block d-sm-none">
                {{#usermenu}}
                    {{> core/muser_menu }}
                {{/usermenu}}
            </li>
             <li class="nav-item d-block d-sm-none">

                <a href="{{globals.config.wwwroot}}/message/output/popup/notifications.php" class="nav-hover">
                    <i class="qicon-notifications icon"></i>
                    <span class="link_name">Notifications</span>
                </a>
            </li>
            <div class="hr-line mb-5 d-block d-sm-none"></div>
            <li class="nav-item">
                <div class="nav-hover" data-name="mycourses">
                    <i class="qicon-my-courses icon"></i>
                    <a href="{{globals.config.wwwroot}}/my/courses.php" class="link_name" data-name="mycourses">My Courses</a>
                    <i class="qicon-chevron-down-thin arrow icon"></i>
                </div>
                <ul class="sub-menu">
                    {{#myenrolcourses}}
                    <li><a href="{{{url}}}" class="lftcitm" data-id="{{id}}">{{ name }}</a></li>
                    {{/myenrolcourses}}
                </ul>
            </li>

            <li class="nav-item">

                <a href="{{globals.config.wwwroot}}/my" class="nav-hover" data-name="dashboard">
                    <span class="qicon-dashboard icon"></span>
                    <span class="link_name">Dashboard</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="javascript:;">
                    <span class="qicon-assessment icon"></span>
                    <span class="link_name">Assesments</span>
                </a>
            </li>
			
            <li class="nav-item">
                <div class="nav-hover">
                    <i class="qicon-my-courses icon"></i>
                    <a href="javascript:;" class="link_name" data-name="extrnledtrs">External Editors</a>
                    <i class="qicon-chevron-down-thin arrow icon"></i>
                </div>
                <ul class="sub-menu">
                    <li><a href="{{globals.config.wwwroot}}/third_party/qubits/index.php?language=python" data-editor="python">Python</a></li>
                    <li><a href="{{globals.config.wwwroot}}/third_party/qubits/index.php?language=javascript" data-editor="js">JavaScript</a></li>
                    <li><a href="{{globals.config.wwwroot}}/third_party/qubits/index.php?language=sql" data-editor="sql">SQL</a></li>
                    <li><a href="{{globals.config.wwwroot}}/third_party/scratch" data-editor="scratch">Scratch</a></li>
                    <li><a href="{{globals.config.wwwroot}}/third_party/pagebuilder" data-editor="pagebuilder">Website editor</a></li>
                </ul>
            </li>
        </ul>