<div class="hr-line"></div>
        <ul class="nav-links">
            <li class="nav-item d-block d-sm-none">
                {{#usermenu}}
                    {{> core/muser_menu }}
                {{/usermenu}}
            </li>
             <li class="nav-item d-block d-sm-none">

                <a href="{{globals.config.wwwroot}}/message/output/popup/notifications.php" class="nav-hover">
                    <i class="qicon-notifications icon"></i>
                    <span class="link_name">Notifications</span>
                </a>
            </li>
            <div class="hr-line mb-5 d-block d-sm-none"></div>
            <li class="nav-item">
                <div class="nav-hover">
                    <i class="qicon-my-courses icon"></i>
                    <a href="{{globals.config.wwwroot}}/my/courses.php" class="link_name">My Courses</a>
                    <i class="qicon-chevron-down-thin arrow icon"></i>
                </div>
                <ul class="sub-menu">
                    {{#myenrolcourses}}
                    <li><a href="{{{url}}}">{{ name }}</a></li>
                    {{/myenrolcourses}}
                </ul>
            </li>

            <li class="nav-item">

                <a href="{{globals.config.wwwroot}}/my" class="nav-hover">
                    <span class="qicon-dashboard icon"></span>
                    <span class="link_name">Dashboard</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="#">
                    <span class="qicon-assessment icon"></span>
                    <span class="link_name">Assesments</span>
                </a>
            </li>
			
			<li class="nav-item">
                <a href="{{globals.config.wwwroot}}/sitebuilder/">
                    <span class="qicon-assessment icon"></span>
                    <span class="link_name">Site Builder</span>
                </a>
            </li>
        </ul>