{{#iscourseviewpage}}
<i class="icon fa fa-chevron-left arrow-left previousnav cvormv" id="cvbkbtn" data-cid="{{courseid}}" role="button"></i>
{{/iscourseviewpage}}
{{#ismodulepage}}
<i class="icon fa fa-chevron-left arrow-left previousnav cvormv" id="mvbkbtn" data-cid="{{courseid}}" role="button"></i>
{{/ismodulepage}}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-none">
        {{#ismycoursepage}}
            <li class="breadcrumb-item active" aria-current="page">{{#str}} mycourses, theme_qubitsbasic {{/str}}</li>
        {{/ismycoursepage}}
        {{#iscourseviewpage}}
            <li class="breadcrumb-item"><a href="{{globals.config.wwwroot}}/my/courses.php" class="bc-items">{{#str}} mycourses, theme_qubitsbasic {{/str}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{heading}}</li>
        {{/iscourseviewpage}}
        {{#ismodulepage}}
            <li class="breadcrumb-item"><a href="{{globals.config.wwwroot}}/my/courses.php" class="bc-items">{{#str}} mycourses, theme_qubitsbasic {{/str}}</a></li>
            <li class="breadcrumb-item bc-items" aria-current="page">
            <a href="{{globals.config.wwwroot}}/course/view.php?id={{courseid}}" class="bc-items">
            {{coursefullname}}
            </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{heading}}</li>
        {{/ismodulepage}}
        {{#otherpage}}
            <li class="breadcrumb-item active" aria-current="page">{{heading}}</li>
        {{/otherpage}}
    </ol>
</nav>

{{#js}}
require(['jquery', 'theme_qubitsbasic/qubitsmain'], ($, QubitsMain) => {
 let qubitsMain = QubitsMain.init();
 qubitsMain.breadcrumbBackBtn();
 if($(".cvormv").length)
 {
    let cid = $(".cvormv").data("cid")
    $("a.lftcitm").filter(function(){
        return $(this).data("id") == cid
    }).addClass("active");
    $("a.link_name").filter(function(){
        return $(this).data("name") == "mycourses"
    }).addClass("active").parents(".nav-hover").addClass("active").parents(".nav-item").addClass("showMenu");
 }
 if($("body.page-mycourses")){
     $("a.link_name").filter(function(){
        return $(this).data("name") == "mycourses"
    }).addClass("active").parents(".nav-hover").addClass("active");
 }
});
{{/js}}