
<link rel="stylesheet" href="{{qmurl}}/css/Chapter.css" />
<link rel="stylesheet" href="{{qmurl}}/css/highlight.css" />
<link rel="icon" href="{{qmurl}}/qubits-logo.png" sizes="any" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdn.jsdelivr.net/gh/qubits-platform/sqlite-wasm@master/sqlite3.js" defer=""></script>

<link
      rel="preload"
      href="{{qmurl}}/_next/static/css/b7fe1c3ced7eec1e.css"
      as="style"
    />
    <link
      rel="stylesheet"
      href="{{qmurl}}/_next/static/css/b7fe1c3ced7eec1e.css"
      data-n-g=""
    />
<link rel="stylesheet" href="{{qmurl}}/css/pytutor.css" />
<link rel="stylesheet" href="{{qmurl}}/css/jquery-ui.min.css" />
<style>
.ace-tm{
    background-color: #fff;
}
</style>

<noscript data-n-css=""></noscript>

{{#js}}
var murl = "{{qmurl}}";
require(["jquery", "jqueryui"], function($, jqui){
    
    $.getScript( "https://cdn.jsdelivr.net/pyodide/v0.21.3/full/pyodide.js" )
    .done(function( script, textStatus ) {
        $.when(
            $.getScript(`${murl}/js/d3.v2.min.js`),
            $.getScript(`${murl}/js/jquery.jsPlumb-1.3.10-all-min.js`),
            $.getScript(`${murl}/js/pytutor.js`),
            $.getScript(`${murl}/_next/data/vH0oerZAXyU8BeRXmx9Hx/Editor/javascript.json`),
            $.getScript(`${murl}/_next/data/vH0oerZAXyU8BeRXmx9Hx/Editor/python.json`),
            $.getScript(`${murl}/_next/data/vH0oerZAXyU8BeRXmx9Hx/Editor/sql.json`),
            $.getScript(`${murl}/_next/static/chunks/138-07ae0e62fb9ebb02.js`),
            $.getScript(`${murl}/_next/static/chunks/242.11d8fb5cad10fee1.js`),
            $.getScript(`${murl}/_next/static/chunks/2b7b2d2a-81f6f30138d3ccc2.js`),
            $.getScript(`${murl}/_next/static/chunks/330.15fd4ae41f8497d9.js`),
            $.getScript(`${murl}/_next/static/chunks/437.cd6ad1ade176ccc8.js`),
            $.getScript(`${murl}/_next/static/chunks/751-80cffe59879d0435.js`),
            $.getScript(`${murl}/_next/static/chunks/8a28b14e.d29918a3616a3ec4.js`),
            $.getScript(`${murl}/_next/static/chunks/framework-2c79e2a64abdb08b.js`),
            $.getScript(`${murl}/_next/static/chunks/main-164f91e3b1a225f8.js`),
            $.getScript(`${murl}/_next/static/chunks/pages/Chapter1-31594939785a2fa1.js`),
            $.getScript(`${murl}/_next/static/chunks/pages/Chapter2-ef1e203de6f809ff.js`),
            $.getScript(`${murl}/_next/static/chunks/pages/Chapter3-b38b04fb52d133c9.js`),
            $.getScript(`${murl}/_next/static/chunks/pages/Editor/[language]-50223f98a9cda81e.js`),
            $.getScript(`${murl}/_next/static/chunks/pages/index-d53433006dcaa3a2.js`),
            $.getScript(`${murl}/_next/static/chunks/pages/pdf-bb6fdd53aa683819.js`),
            $.getScript(`${murl}/_next/static/chunks/pages/_app-aea6920bd27938ca.js`),
            $.getScript(`${murl}/_next/static/chunks/pages/_error-3986dd5834f581dc.js`),
            $.getScript(`${murl}/_next/static/chunks/polyfills-c67a75d1b6f99dc8.js`),
            $.getScript(`${murl}/_next/static/chunks/webpack-823a36a3c3d0b621.js`),
            $.getScript(`${murl}/_next/static/css/b7fe1c3ced7eec1e.css`),
            $.getScript(`${murl}/_next/static/vH0oerZAXyU8BeRXmx9Hx/_buildManifest.js`),
            $.getScript(`${murl}/_next/static/vH0oerZAXyU8BeRXmx9Hx/_ssgManifest.js`),

            $.Deferred(
                function( deferred ){
                    $( deferred.resolve );
                }
            )
        ).done(function(){

        })
        

    })
    .fail(function( jqxhr, settings, exception ) {
        console.log( "Triggered ajaxError handler." );
    });
    
});
{{/js}}