<div class="file-picker fp-dlg">
    <p class="fp-dlg-text"></p>
    <a class="fp-dlg-butoverwrite btn btn-primary" href="#">{{#str}}overwrite, repository{{/str}}</a>
    <a class="fp-dlg-butrename btn btn-primary" href="#"></a>
    <a class="fp-dlg-butcancel btn btn-secondary" href="#">{{#str}}cancel{{/str}}</a>
    <br/>
    <a class="fp-dlg-butoverwriteall btn btn-primary" href="#">{{#str}}overwriteall, repository{{/str}}</a>
    <a class="fp-dlg-butrenameall btn btn-primary" href="#">{{#str}}renameall, repository{{/str}}</a>
</div>