<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 push-md-2 col-xl-6 push-xl-3">
            <div class="card">
                {{#logourl}}
                    <img class="card-img-top" src="{{logourl}}">
                {{/logourl}}
                <div class="card-block">
                    <div class="card-title">
                        <h3>{{#str}}newaccount{{/str}}</h3>
                    </div>
                    {{{formhtml}}}
                </div>
            </div>
        </div>
    </div>
</div>
