[submodule "blocks/massaction"]
	path = blocks/massaction
	url = https://github.com/Syxton/moodle-block_massaction
	branch = master
	tag = 7.4.1
[submodule "repository/boxnet"]
	path = repository/boxnet
	url = https://github.com/moodlehq/moodle-repository_boxnet
	branch = master
