[submodule "admin/tool/ilioscategoryassignment"]
	path = admin/tool/ilioscategoryassignment
	url = https://github.com/ilios/tool_ilioscategoryassignment
	branch = MOODLE_405_STABLE
[submodule "blocks/course_recent"]
	path = blocks/course_recent
	url = https://github.com/ucsf-education/moodle-block-course_recent
	branch = MOODLE_405_STABLE
[submodule "blocks/massaction"]
	path = blocks/massaction
	url = https://github.com/Syxton/moodle-block_massaction
	branch = master
	tag = 7.4.1
[submodule "blocks/quickmail"]
	path = blocks/quickmail
	url = https://github.com/ucsf-education/moodle-block_quickmail
	branch = UCSFCLE_405_STABLE
[submodule "enrol/ilios"]
	path = enrol/ilios
	url = https://github.com/ilios/moodle-enrol-ilios
	branch = MOODLE_405_STABLE
[submodule "enrol/ucsfsis"]
	path = enrol/ucsfsis
	url = https://github.com/ucsf-education/moodle-enrol-ucsfsis
	branch = main
[submodule "filter/ucsfezproxy"]
	path = filter/ucsfezproxy
	url = https://github.com/ucsf-education/moodle-filter_ucsfezproxy
	branch = MOODLE_405_STABLE
[submodule "local/staticpage"]
	path = local/staticpage
	url = https://github.com/moodle-an-hochschulen/moodle-local_staticpage
	branch = MOODLE_405_STABLE
	tag =v4.5-r1
[submodule "mod/attendance"]
	path = mod/attendance
	url = https://github.com/danmarsden/moodle-mod_attendance
	branch = MOODLE_405_STABLE	
[submodule "mod/checklist"]
	path = mod/checklist
	url = https://github.com/davosmith/moodle-checklist
	branch = master
	tag = 4.1.0.3
[submodule "mod/choicegroup"]
	path = mod/choicegroup
	url = https://github.com/ndunand/moodle-mod_choicegroup
	branch = master
	tag = 2024111301
[submodule "mod/customcert"]
	path = mod/customcert
	url = https://github.com/mdjnelson/moodle-mod_customcert
	branch = MOODLE_404_STABLE
	tag = v4.4.4
[submodule "mod/oublog"]
	path = mod/oublog
	url = https://github.com/moodleou/moodle-mod_oublog
	branch = MOODLE_404_STABLE
[submodule "mod/questionnaire"]
	path = mod/questionnaire
	url = https://github.com/PoetOS/moodle-mod_questionnaire
	branch = MOODLE_404_STABLE
[submodule "mod/quiz/report/archive"]
	path = mod/quiz/report/archive
	url = https://github.com/bfh/moodle-quiz_archive
	branch = main
	tag = v4.5-r2
[submodule "mod/turnitintooltwo"]
	path = mod/turnitintooltwo
	url = https://github.com/ucsf-education/moodle-mod_turnitintooltwo
	branch = UCSFCLE_404_STABLE
[submodule "plagiarism/turnitin"]
	path = plagiarism/turnitin
	url = https://github.com/turnitin/moodle-plagiarism_turnitin
	branch = master
	tag = v2025030501
[submodule "question/type/knowledgecheck"]
	path = question/type/knowledgecheck
	url = https://github.com/ucsf-education/knowledgecheck
	branch = MOODLE_405_STABLE
[submodule "question/type/oumultiresponse"]
	path = question/type/oumultiresponse
	url = https://github.com/moodleou/moodle-qtype_oumultiresponse
	branch = main
[submodule "question/type/wordselect"]
	path = question/type/wordselect
	url = https://github.com/marcusgreen/moodle-qtype_wordselect
	branch = master
	tag = v2.53
[submodule "report/benchmark"]
	path = report/benchmark
	url = https://github.com/mikasmart/moodle-report_benchmark
	branch = master
	tag = v1.5.1
[submodule "repository/boxnet"]
	path = repository/boxnet
	url = https://github.com/moodlehq/moodle-repository_boxnet
	branch = master
[submodule "theme/ucsf"]
	path = theme/ucsf
	url = https://github.com/ucsf-education/moodle-theme-ucsf
	branch = MOODLE_405_STABLE
	tag = v4.5.1
