WARNING: the CVS tree is currently a little unstable, 
         as I'm doing some major work on the code.

         It may or may not work right now.

         Martin - 18 May 2002
------------------------------------------------------

All the documention is in the "doc" subdirectory.  :-)
