# --- Docker Image Config ---
MOODLE_IMAGE_NAME=ghcr.io/bryantvanordenaust/aust_moodle
MOODLE_TAG=latest

# --- Application Config ---
APP_PORT=80

# --- Emailer ---
TENANT_ID=
CLIENT_ID=
CLIENT_SECRET=

# --- Database ---
PG_HOST=
PG_PORT=
PG_DBNAME_FUSION=
# moodle-test
PG_DBNAME_MOODLE=
PG_USER=
PG_PASSWORD=

# --- Moodle ---
MOODLE_URL=
MOODLE_TOKEN=

AUTODESK_CLIENT_ID=
AUTODESK_CLIENT_SECRET=
AUTODESK_HOST=
AUTODESK_USER_EMAIL=