<li data-id="{{id}}" draggable="true">
    <span {{^visible}}class="disabled"{{/visible}}>
        {{shortname}}
    </span>
    {{#haschildren}}
    <ul>
    {{#children}}
    {{> tool_lp/competencies_tree }}
    {{/children}}
    </ul>
    {{/haschildren}}
</li>
