<ul data-enhance="tree">
    <li><span>{{{shortname}}}</span>
        <ul>
            {{#competencies}}
                {{> tool_lp/competencies_tree }}
            {{/competencies}}
        </ul>
    </li>
</ul>
