{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Plan page template.
}}
<div data-region="plan-page" data-id="{{plan.id}}" data-userid="{{plan.userid}}">
    <h2>
        {{plan.name}}
        {{#plan.canbeedited}}
            <a href="{{pluginbaseurl}}/editplan.php?id={{plan.id}}&amp;userid={{plan.userid}}&amp;return=plan">{{#pix}}t/edit, core, {{#str}}editplan, tool_lp{{/str}}{{/pix}}</a>
        {{/plan.canbeedited}}
    </h2>
    <div data-region="plan-summary">
        <dl>
            <dt>{{#str}}status, tool_lp{{/str}}</dt>
            <dd>
                {{plan.statusname}}
                {{#plan.usercancomplete}}
                    (<a data-action="plan-complete" href="#">{{#str}}completeplan, tool_lp{{/str}}</a>)
                {{/plan.usercancomplete}}
                {{#plan.usercanreopen}}
                    (<a data-action="plan-reopen" href="#">{{#str}}reopenplan, tool_lp{{/str}}</a>)
                {{/plan.usercanreopen}}
            </dd>
            <dt>{{#str}}duedate, tool_lp{{/str}}</dt>
            <dd>{{plan.duedateformatted}}</dd>
            {{#plan.template}}
                <dt>{{#str}}template, tool_lp{{/str}}</dt>
                <dd>
                    {{#canread}}
                        <a href="{{pluginbaseurl}}/templatecompetencies.php?templateid={{id}}&amp;pagecontextid={{contextid}}">
                    {{/canread}}
                    {{plan.template.shortname}}
                    {{#canread}}
                        </a>
                    {{/canread}}
                </dd>
            {{/plan.template}}
            {{#description}}
                <dt>{{#str}}description{{/str}}</dt>
                <dd>{{plan.description}}</dd>
            {{/description}}
        </dl>
    </div>
    <div data-region="plan-competencies">
        <h3>{{#str}}learningplancompetencies, tool_lp{{/str}}</h3>
        <table class="generaltable fullwidth managecompetencies">
            <thead>
                <tr>
                    <th scope="col">{{#str}}shortname, tool_lp{{/str}}</th>
                    <th scope="col">{{#str}}rating, tool_lp{{/str}}</th>
                    <th scope="col">{{#str}}proficient, tool_lp{{/str}}</th>
                    {{^plan.iscompleted}}
                        <th scope="col">{{#str}}status, tool_lp{{/str}}</th>
                    {{/plan.iscompleted}}
                    {{#plan.canbeedited}}
                        <th scope="col">{{#str}}actions, tool_lp{{/str}}</th>
                    {{/plan.canbeedited}}
                </tr>
            </thead>
            <tbody  class="drag-parentnode">
                {{#competencies}}
                <tr class="drag-samenode" data-id="{{competency.id}}">
                    <td>
                        {{#plan.canbeedited}}
                        <span class="drag-handlecontainer pull-left"></span>
                        {{/plan.canbeedited}}
                        <a href="{{pluginbaseurl}}/usercompetencyplan.php?competencyid={{competency.id}}&amp;userid={{plan.userid}}&amp;planid={{plan.id}}">{{competency.shortname}}</a>
                        <em>{{competency.idnumber}}</em>
                    </td>
                    {{#plan.iscompleted}}
                        <td>{{usercompetencyplan.gradename}}</td>
                        <td>{{usercompetencyplan.proficiencyname}}</td>
                    {{/plan.iscompleted}}
                    {{^plan.iscompleted}}
                        <td>{{usercompetency.gradename}}</td>
                        <td>{{usercompetency.proficiencyname}}</td>
                        <td>{{usercompetency.statusname}}</td>
                    {{/plan.iscompleted}}
                    {{#plan.canbeedited}}
                        <td>
                            <div class="pull-left">
                                <a href="#" data-action="delete-competency-link" data-id="{{competency.id}}">{{#pix}}t/delete, core, {{#str}}delete{{/str}}{{/pix}}</a>
                            </div>
                        </td>
                    {{/plan.canbeedited}}
                </tr>
                {{/competencies}}
            </tbody>
        </table>

        <div data-region="actions">
            <div class="pull-right">
                <!-- Button to add competencies to the plan -->
                {{#plan.canbeedited}}
                <button class="btn" data-action="add">{{#pix}}t/add{{/pix}} {{#str}}addcompetency, tool_lp{{/str}}</button>
                {{/plan.canbeedited}}
            </div>
        </div>
    </div>

</div>
{{#plan.canmanage}}
{{#js}}
require(['tool_lp/competencies', 'tool_lp/planactions'], function(mod, actionsMod) {
    (new mod({{plan.id}}, 'plan', {{contextid}}));

    var planActions = new actionsMod('plan');
    planActions.registerEvents();
});
{{/js}}
{{/plan.canmanage}}
{{#js}}
require(['tool_lp/competencydialogue'], function(Compdialogue) {
    var competencydialogue = new Compdialogue({includerelated : true});
    competencydialogue.watch('[data-region="plan-page"]');
});
{{/js}}
