{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Plan page template.
}}
<div data-region="plancompetenciespage">
    <table class="generaltable fullwidth managecompetencies">
        <thead>
            <tr>
                <th scope="col">{{#str}}shortname, tool_lp{{/str}}</th>
                <th scope="col">{{#str}}status, tool_lp{{/str}}</th>
                <th scope="col">{{#str}}proficient, tool_lp{{/str}}</th>
                {{^iscompleted}}
                    <th scope="col">{{#str}}state, tool_lp{{/str}}</th>
                {{/iscompleted}}
                {{#canmanage}}
                    <th scope="col">{{#str}}actions, tool_lp{{/str}}</th>
                {{/canmanage}}
            </tr>
        </thead>
        <tbody  class="drag-parentnode">
            {{#competencies}}
            <tr class="drag-samenode" data-id="{{id}}">
                <td>
                    {{#canmanage}}
                    {{#canbeedited}}
                    <span class="drag-handlecontainer pull-left"></span>
                    {{/canbeedited}}
                    {{/canmanage}}
                    <a href="#" data-action="competency-dialogue" data-id="{{id}}">{{shortname}}</a>
                </td>
                {{#iscompleted}}
                    <td>{{usercompetencyplan.gradename}}</td>
                    <td>{{usercompetencyplan.proficiencyname}}</td>
                {{/iscompleted}}
                {{^iscompleted}}
                    <td>{{usercompetency.gradename}}</td>
                    <td>{{usercompetency.proficiencyname}}</td>
                    <td>{{usercompetency.statusname}}</td>
                {{/iscompleted}}
                {{#canmanage}}
                    <td>
                        {{#canbeedited}}
                        <div class="pull-left">
                            <a href="#" data-action="delete-competency-link" data-id="{{id}}">{{#pix}}t/delete, core, {{#str}}delete{{/str}}{{/pix}}</a>
                        </div>
                        {{/canbeedited}}
                    </td>
                {{/canmanage}}
            </tr>
            {{/competencies}}
        </tbody>
    </table>

    <div data-region="actions">
        <div class="pull-right">
            <!-- Button to add competencies to the plan -->
            {{#canmanage}}
            {{#canbeedited}}
             <button class="btn" data-action="add">{{#pix}}t/add{{/pix}} {{#str}}addcompetency, tool_lp{{/str}}</button>
             {{/canbeedited}}
            {{/canmanage}}
        </div>
    </div>

</div>
{{#canmanage}}
{{#js}}
require(['tool_lp/competencies'], function(mod) {
    (new mod({{planid}}, 'plan', {{contextid}}));
});
{{/js}}
{{/canmanage}}
{{#js}}
require(['tool_lp/competencydialogue'], function(Compdialogue) {
    var competencydialogue = new Compdialogue({includerelated : true});
    competencydialogue.watch('[data-region="plancompetenciespage"]');
});
{{/js}}
