/* Styles for the initial layout of the question. */

/* Ensure container covers the draggable items. */
.que.ordering div.answer.ordering {
    overflow: auto;
}

.que.ordering ul.sortablelist {
    float            : left;
    list-style-type  : none;
    margin           : 0 0 0 5px;
    padding          : 4px;
}
.que.ordering ul.sortablelist.orderingactive {
    border           : 1px dotted #333;
    border-radius    : 4px;
}
.que.ordering ul.sortablelist li {
    background-color : #ffffff;
    border           : 1px solid #000;
    border-radius    : 4px;
    list-style-type  : none;
    margin           : 4px;
    padding          : 6px 12px;
}
.que.ordering ul.sortablelist li.sortableitem {
    position         : relative;
    cursor           : move;
    margin-left      : 26px; /* The margin is needed for the list-style-type in numberingxxx classes */
}

.que.ordering ul.sortablelist li.sortableitem.numbering123 {
    list-style-type  : decimal;
}
.que.ordering ul.sortablelist li.sortableitem.numberingabc {
    list-style-type  : lower-alpha;
}
.que.ordering ul.sortablelist li.sortableitem.numberingABCD {
    list-style-type  : upper-alpha;
}
.que.ordering ul.sortablelist li.sortableitem.numberingiii  {
    list-style-type  : lower-roman;
}
.que.ordering ul.sortablelist li.sortableitem.numberingIIII {
    list-style-type  : upper-roman;
}
.que.ordering ul.sortablelist li.sortableitem.numberingnone {
    list-style-type  : none;
    margin-left: 0px;
}

.que.ordering ul.sortablelist li.sortableitem:focus {
    border-color: #0a0;
    box-shadow: 0 0 5px 5px rgba(255, 255, 150, 1);
}
.que.ordering ul.sortablelist li.horizontal {
    float            : left;
}
.que.ordering ul.sortablelist li.vertical {
    min-height       : 18px;
}

/* Styles for when things are being dragged. */
.que.ordering.dragproxy {
    margin: 0;
    padding: 0;
    border: 0 none;
}
.que.ordering.dragproxy ul.sortablelist {
    margin: 0;
    padding: 0;
    float: none;
}
.que.ordering.dragproxy ul.sortablelist li {
    margin: 0;
}
.que.ordering.dragproxy ul.sortablelist li.horizontal {
    float: none;
}
.item-moving {
    box-shadow: 3px 3px 4px #000;
}
.current-drop {
    visibility: hidden;
}


/* Styles for feedback. */
.que.ordering ul.sortablelist li.correct {
    background-color : #dff4d8; /* light green */
    border-color     : #99ff66; /* gentle green */
}
.que.ordering ul.sortablelist li.partial66 {
    background-color : #dff4d8; /* light green */
    border-color     : #ff9900; /* dark  orange */
}
.que.ordering ul.sortablelist li.partial33 {
    background-color : #ffebcc; /* light orange */
    border-color     : #ff9900; /* dark orange */
}
.que.ordering ul.sortablelist li.partial00 {
    background-color : #ffdddd; /* light red */
    border-color     : #ff9900; /* dark orange */
}
.que.ordering ul.sortablelist li.incorrect {
    background-color : #ffdddd; /* light red */
    border-color     : #ff7373; /* gentle red */
}
/*
    Force containing DIV to cover the floating LI elements
    Note: if you add "overflow:auto;  to "ol.correctorder"
    then the numbers for the <LI> elements disappear !!
*/
.que.ordering div.rightanswer {
    overflow: auto;
}
.que.ordering div.rightanswer ol.correctorder li.horizontal {
    float            : left;
    margin-left      : 24px;
    margin-right     : 24px;
}
.que.ordering div.rightanswer ol.correctorder li.horizontal:first-child {
    margin-left      : 0;
}
.que.ordering div.rightanswer ol.correctorder li.vertical {
}

/* the width restriction can be limited to editors for draggable items
   by inserting "fieldset:nth-child(n+4)" before "div.feditor" */
#page-question-type-ordering form.mform fieldset:nth-child(n+4) div.feditor {
    max-width: 480px;
}
