<?xml version="1.0" encoding="UTF-8"?>
<config>
	<mapping>
		<namespace>http://www.imsglobal.org/xsd/imscc/imscp_v1p1</namespace>
		<path>imscp_v1p2_localised.xsd</path>
	</mapping>
	<mapping>
		<namespace>http://www.imsglobal.org/xsd/imscp_v1p1</namespace>
		<path>imscp_v1p2.xsd</path>
	</mapping>
	<mapping>
		<namespace>http://www.imsglobal.org/xsd/imsccauth_v1p0</namespace>
		<path>domainProfile_0/imsccauth_v1p0_localised.xsd</path>
	</mapping>
	<mapping>
		<namespace>http://ltsc.ieee.org/xsd/imscc/LOM</namespace>
		<path>domainProfile_1/lomLoose_localised.xsd</path>
	</mapping>
	<mapping>
		<namespace>http://ltsc.ieee.org/xsd/imscc/LOM/unique</namespace>
		<path>domainProfile_1/loose.xsd</path>
	</mapping>
		<mapping>
		<namespace>http://ltsc.ieee.org/xsd/imscc/LOM/vocab</namespace>
		<path>domainProfile_1/vocab/loose.xsd</path>
	</mapping>
	<mapping>
		<namespace>http://ltsc.ieee.org/xsd/imscc/LOM/extend</namespace>
		<path>domainProfile_1/extend/custom.xsd</path>
	</mapping>
	<mapping>
		<namespace>http://ltsc.ieee.org/xsd/LOM</namespace>
		<path>domainProfile_2/lomLoose_localised.xsd</path>
	</mapping>
	<mapping>
		<namespace>http://ltsc.ieee.org/xsd/LOM/unique</namespace>
		<path>domainProfile_2/loose.xsd</path>
	</mapping>
	<mapping>
		<namespace>http://ltsc.ieee.org/xsd/LOM/vocab</namespace>
		<path>domainProfile_2/vocab/loose.xsd</path>
	</mapping>
	<mapping>
		<namespace>http://ltsc.ieee.org/xsd/LOM/extend</namespace>
		<path>domainProfile_2/extend/custom.xsd</path>
	</mapping>
	<mapping>
		<namespace>http://www.imsglobal.org/xsd/imscp_extensionv1p2</namespace>
		<path>domainProfile_3/imscp_extensionv1p2_localised.xsd</path>
	</mapping>
	<mapping>
		<namespace>http://www.imsglobal.org/xsd/ims_qtiasiv1p2</namespace>
		<path>domainProfile_4/ims_qtiasiv1p2_localised.xsd</path>
	</mapping>
	<mapping>
		<namespace>http://www.imsglobal.org/xsd/imswl_v1p0</namespace>
		<path>domainProfile_5/imswl_v1p0_localised.xsd</path>
	</mapping>
	<mapping>
		<namespace>http://www.imsglobal.org/xsd/imsdt_v1p0</namespace>
		<path>domainProfile_6/imsdt_v1p0_localised.xsd</path>
	</mapping>
</config>