<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
             xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<title>
Testing browser check code
</title>
<style type="text/css">

</style>

<script type="text/javascript" src="hp6browsercheck.js_"></script>

<base href="http://hotpot.uvic.ca/" />

</head>

<body>

<script type="text/javascript">
<!--
for (var i in C){
	document.write('C.' + i + '=' + C[i].toString() + '<br />');
}
//var BH = document.getElementsByTagName('base')[0].getAttribute('href');
//alert(BH);
//-->
</script>

<a href="index.htm">Go</a>

</body>
</html>
