{{!-- Categories --}}
<div id="block09-1-s" class="block09-1 educard-block mt-90 educard-font">
    <div class="block09-bg block-start-end-space">
        <div class="container">
            <div class="educard-sub-title">
                <h6> {{{block09headline}}} </h6>
            </div>
            <div>
                <div class="h1"> {{block09header}} <span>{{block09maintitle}}</span></div>
                <div class="educard-heading-line-left"></div>
            </div>
            <div class="mt-60">
                <div id="block09-1-slider" class="splide block09-1-slider" >
                    <div class="splide__track" >
                        <ul class="splide__list">
                            {{#block09}}
                            <li class="splide__slide">
                                <div class="educard-categories d-flex align-items-center block-hover-shadow">
                                    <a class="educard-link" href="{{catagoryURL}}">
                                        <div class="educard-categories-icon"> <i class="{{block09icon}}"></i> </div>
                                        <div class="educard-categories-desc">
                                            <h4>{{#shortentext}} 45, {{catagoryname}} {{/shortentext}}</h4>
                                        </div>
                                    </a>
                                </div>
                            </li>    
                            {{/block09}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
