{{!-- Categories --}}
<div id="block09-4-s" class="block09-4 educard-block educard-font">
    <div class="block09-bg block-start-end-space">
        <div class="container educard-category">
            <div class="educard-sub-title">
                <h6>{{{block09headline}}}</h6>
            </div>
            <div>
                <div class="h1">{{block09header}} <span>{{block09maintitle}}</span></div>
                <div class="educard-heading-line-left"></div>
            </div>
            <div class="mt-60 wrap-category-educard">
                <div id="block09-4-slider" class="splide block09-4-slider" >
                    <div class="splide__track" >
                        <ul class="splide__list">
                            {{#block09}}
                            <li class="splide__slide">
                               <div class="categori-item">
                                    {{#bgnone}}
                                        <div class="img-none educard-rounded"></div>
                                    {{/bgnone}}
                                    {{^bgnone}}
                                    <div class="img educard-rounded {{#bgcolor}}img-none block09-bg-color-{{counter}}{{/bgcolor}}">
                                        {{#imgurl}}<img src="{{imgurl}}" alt="image">{{/imgurl}}
                                    </div>
                                    {{/bgnone}}
                                    <div class="details position-relative block-shadow block-hover-shadow educard-rounded">
                                        <div class="icon">
                                            <i class="{{block09icon}}"></i>
                                        </div>
                                        <a href="{{catagoryURL}}" class="stretched-link">
                                            <h4 class="text-truncate-1">{{catagoryname}}</h4>
                                        </a>
                                        <div class="font-size-m text-truncate-3">{{{description}}}</div>
                                    </div>
                                </div>
                            </li>   
                            {{/block09}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
