{{!-- Categories --}}
<div id="block09-2" class="block09-2 educard-block educard-font">
    <div class="block09-bg block-start-end-space">
        <div class="container educard-category">
            <div class="educard-sub-title">
                <h6>{{{block09headline}}}</h6>
            </div>
            <div>
                <div class="h1">{{block09header}} <span>{{block09maintitle}}</span></div>
                <div class="educard-heading-line-left"></div>
            </div>
            <div class="row mt-60 wrap-category-educard">
                {{#block09}}
                <div class="col-lg-4 col-md-6">
                    <div class="educard-single-item mb-4 educard-rounded block-shadow block-hover-shadow border-0">
                        <div class="card educard-item-image educard-rounded {{#bgcolor}}block09-bg-color-{{counter}}{{/bgcolor}} {{#bgnone}}block09-bg-color-1{{/bgnone}}">
                            {{#imgurl}}<img class="educard-rounded" src="{{imgurl}}" alt="image">{{/imgurl}}
                            <div class="overlay educard-rounded">
                                <div class="overlay-text text-center">
                                    <i class="{{block09icon}}"></i>
                                    <a href="{{catagoryURL}}">
                                        <h4 class="text-white">{{catagoryname}}</h4>
                                    </a>
                                    <p> {{coursecount}} {{#str}}courses, core {{/str}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
                {{/block09}}
            </div>
        </div>
    </div>
</div>