/************************************************* 
***
*** fonts
***
**************************************************/

/*************************************************
***
*** This CSS file contains all font definitions
*** like family, size, weight,
*** text-align, letter-spacing
*** etc.
***
*** Shortindex:
*** basic and general styles
*** header and footer styles
*** content styles (alphabetically)
*** admin, course, activities, calendar, blocks
*** 
*** Please sort new styles for existing content
*** into the appropriate part of this CSS file.
*** Styles for new Blocks or Activities please
*** place at the end.
*** Wouldn't the alphabetical order be better?
***
**************************************************/


/* basic styles */
font {
    font-size:100%;
}

.clearer {
    font-size:1px;
}


/* general styles */
body, td, th, li {
    font-family:"Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    font-size:0.95em;
}

th {
    font-weight:bold;
}

a:link,
a:visited {
    text-decoration:none;
}

a.dimmed:link,
a.dimmed:visited {
    text-decoration:none;
}

a.autolink:link,
a.autolink:visited {
    text-decoration:none;
}

a.autolink:hover,
a:hover,
a.dimmed:hover {
    text-decoration:underline;
}


/* header styles */
.headermain {
    font-weight:bold;
}

#header-home .headermain {
    font-size:1.5em;
}

#header .headermain {
    font-size:1.3em;
}

#breadcrumb {
    font-size:0.9em;
    font-weight:bold;
}

.logininfo,
#header-home .headermenu font {
    font-size:x-small;
}

/* footer styles */
.homelink {
    font-size:x-small;
}


/*****************************
***
*** content styles
***
******************************/
/* many places */


/*****************************
***
*** Admin
***
******************************/


/*****************************
***
*** Course
***
******************************/
/* course */
.activitydate, .activityhead {
    font-size:x-small;
    text-align:center;
}

.weeklydatetext {
    font-size:medium;
    font-weight:bold;
}

.courseboxinfo {
    font-size:normal;
}

.courseboxteachers,
.courseboxcost {
    font-size:smaller;
}

.courseboxsummary {
    font-size:small;
}



/*****************************
***
*** Activities
***
******************************/
/* index, admin, course, lang, adodb, quiz */
.categoryname,
.categorynumber {
    font-size:larger;
    font-weight:bold;
}


/* forum */
.forumolddiscuss {
    text-align:right;
}

.forumaddnew,
.forumaddnewminimal,
.forumnodiscuss,
.forumnodiscussminimal,
.forumolddiscussminimal,
.noticeboxcontent {
    text-align:center;
}

.forumnodiscuss,
.forumnodiscussminimal {
    font-weight:bold;
}

.forumpostheadername,
.forumpostheaderreplies,
.forumpostheaderdate {
    font-size:small;
}

.forumaddnewminimal, 
.forumnodiscussminimal,
.forumheadminimal, 
.foruminfominimal,
.forumolddiscussminimal {
    font-size:x-small;
}


/* message */
.message_summary_link {
    font-size:small;
    text-align:right;
}

.message_link {
    font-size:x-small;
}

.message_form {
    font-size:0.78em;
}

.message_heading {
    font-size:medium;
    font-weight:bold;
    text-align:center;
}

.message_date,
.message_contact,
.message_summary {
    font-size:small;
}

.message_small_note, 
.message_pix {
    font-size:x-small;
}


/* quiz */
.feedbacktext {
    text-align:right;
}

.editorhelptext {
    font-size:x-small;
}


/*****************************
***
*** Calendar
***
******************************/
table.calendarmini {
    font-size:85%;
}

table.calendarmini tbody td {
    text-align:center;
}

table.calendarmini thead td {
    font-size:.95em;
    text-align:center;
}

table.calendarmonth thead td {
    text-align:center;
}

.sideblockmain .cal_event {
    font-size:0.8em;
    font-weight:bold;
}

.sideblockmain .cal_event_date {
    font-size:0.6em;
}

.mycalendar .cal_event_date {
    font-size:0.8em;
}

.mycalendar .cal_event_table thead {
    font-weight:bold;
    text-align:center;
}

.cal_popup_caption {
    font-family:sans-serif;
    font-size:75%;
    font-weight:bold;
}

.cal_popup_close {
    font-family:sans-serif;
    font-size:75%;
    font-weight:bold;
}

.sideblock .cal_controls {
    font-size:9px;
    text-align:center;
}

table.calendarmonth tbody td table,
table.calendarmonth tbody td div {
    font-size:0.75em;
    line-height:1.2em;
}

.calendarreferer,
.mycalendar .cal_event {
    font-weight:bold;
}


/*****************************
***
*** Blocks
***
******************************/
/* block_rss_client.php */
.rssclientlink {
    font-size:x-small;
}

.rssclientdescription {
    font-size:x-small;
}


/*****************************
***
*** User
***
******************************/

body#user-index #longtimenosee {
    text-align:center;
}