/************************************************* 
***
*** layout
***
**************************************************/

/*************************************************
***
*** This CSS file contains all layout definitions
*** like positioning, floats,
*** margins, paddding,
*** borders etc.
***
*** Shortindex:
*** basic and general styles
*** header and footer styles
*** content styles (alphabetically)
*** admin, course, activities, calendar, blocks
*** 
*** Please sort new styles for existing content
*** into the appropriate part of this CSS file.
*** Styles for new Blocks or Activities please
*** place at the end.
*** Wouldn't the alphabetical order be better?
***
**************************************************/


/* basic styles */
.clearer {
    clear:both;
    margin:0px;
    padding:0px;
    height:1px;
    border:none;
    background:transparent;
}

.continuebutton {
    text-align: center;
}


/* general styles */
th {
    background-image:url(gradient.jpg);
    background-position:top;
    background-repeat:repeat-x;
}

form {
    margin-bottom:0px;
}

table {
    border-spacing: 0px;
    border-collapse: collapse;
}

a img {
    border:none;
}

/* header styles */
#header-home {
    padding:1em 0.5em;
    height:2em;
}

#header {
    padding:0.1em 0.5em;
}

.headermain {
    float:left;
}

#header .headermain {
    margin:0.2em 0em;
}

.headermenu {
    float:right;
}

#nav-bar {
    padding:3px 0.5em;
    height:1.3em;
    background-image:url(gradient.jpg);
    background-position:top;
    background-repeat:repeat-x;
}

#breadcrumb {
    float:left;
    margin:0.2em 0em;
}

#navbutton {
    float:right;
}


/* footer styles */


/*****************************
***
*** content styles
***
******************************/
/* many places */
.generalbox {
    border-width:1px;
    border-style:solid;
}
.noticebox {
    border-width:1px;
    border-style:solid;
}
.informationbox {
    border-width:1px;
    border-style:solid;
}
.feedbackbox {
    border-width:1px;
    border-style:solid;
}
.feedbackby {
}
.feedback {
}


/* summary of a user in a nice little box - weblib.php */
.userinfobox {
    margin-bottom:5px;
    border-width:1px;
    border-style:solid;
}

.userinfoboxside,
.userinfoboxsummary,
.userinfoboxlinkcontent { }


/* weblib.php table */
.tabledivider {
    border-width:1px;
    border-style:solid;
    border-left:0px;
    border-right:0px;
    border-top:0px;
}


/* entry-page index.php */ 
.sitetopic {
    border-width:1px;
    border-style:solid;
}


/*****************************
***
*** Admin
***
******************************/
/* admin, calendar */
table.formtable td {
    padding:9px;
}


/*****************************
***
*** Course
***
******************************/
/* course, entry-page, login */
.headingblock {
    background-image:url(gradient.jpg);
    background-position:top;
    background-repeat:repeat-x;
    border-width:1px;
    border-style:solid;
}


/* course */
.outlineheadingblock {
    background-image:url(gradient.jpg);
    background-position:top;
    background-repeat:repeat-x;
    border-width:1px;
    border-style:solid;
}

.weeklyoutlinecontent,
.topicsoutlinecontent {
    border-width:1px;
    border-left:0px;
    border-right:0px;
    border-style:solid;
}

.weeklyoutlinecontenthighlight,
.topicsoutlinecontenthighlight {
    border-width:1px;
    border-left:0px;
    border-right:0px;
    border-style:solid;
}

.weeklyoutlinecontenthidden,
.topicsoutlinecontenthidden {
    border-width:1px;
    border-left:0px;
    border-right:0px;
    border-style:solid;
}

.categoryboxcontent,
.courseboxcontent {
    border-width:1px;
    border-style:solid;
}


/*****************************
***
*** Activities
***
******************************/
/* assignment, forum, glossary */
.forumheaderlist,
.forumpost {
    border-width:1px;
    border-style:solid;
}

.forumpostindent {
    margin-left: 30px;
}

.unread {
    padding-right:2px;
} 


/* calendar, course, weblib,php, attandance
dialouge, exercise, forum, lesson, quiz */
.generaltableheader {
    background-image:url(gradient.jpg);
    background-position:top;
    background-repeat:repeat-x;
}


/* glossary, wiki */
.generaltab,
.generaltabselected {
    background:none;
}


/* message */
.message_link {
    vertical-align:center;
}

.message_search_results {
    border-collapse:collapse;
    border-spacing:0px;
}

table.message_search_results td {
    padding:5px;
    border-width:1px;
    border-style:solid;
}


/* quiz */
.feedbacktext {
    display:block;
}


/*****************************
***
*** Calendar
***
******************************/
/* calendar */

.event_global {
    border:2px solid !important;
}

.event_course {
    border:2px solid !important;
}

.event_group {
    border:2px solid !important;
}

.event_user {
    border:2px solid !important;
}

.duration_global {
    border-top:2px solid !important;
    border-bottom:2px solid !important;
}

.duration_course {
    border-top:2px solid !important;
    border-bottom:2px solid !important;
}

.duration_user {
    border-top:2px solid !important;
    border-bottom:2px solid !important;
}

.duration_group {
    border-top:2px solid !important;
    border-bottom:2px solid !important;
}

.today {
    border:2px solid !important;
}

.mycalendar hr {
    height:1px;
    margin-top:4px;
    margin-bottom:4px;
    border:none;
    border-top:1px solid;
}

.cal_popup_bg {
    padding:0px;
    margin:0px;
    background-image:url(gradient.jpg);
    background-position:top;
    background-repeat:repeat-x;
    border:2px solid;
}

.cal_popup_close {
    margin-right:5px;
}

.eventfull {
    border-width:1px;
    border-style:solid;
}

.eventfullpicture {
    padding:8px;
}


/*****************************
***
*** Blocks
***
******************************/
/* block_rss_client.php */
.rssclientlink {
    padding-bottom:5px;
    border-top:1px solid;
}

.rssclientdescription {
    padding-left:10px;
    padding-bottom:8px;
}


/* sideblock */
.sideblock {
    width: 100%;
    margin-bottom:1em;
    border-collapse:separate;
    border-width:1px;
    border-style:solid;
}

.sideblockheading {
    background-image:url(gradient.jpg);
    background-position:top;
    background-repeat:repeat-x;
    padding:4px;
}

.sideblockheading .hide-show {
    float:right;
}

.sideblockheading .hide-show img.hide-show-image {
    margin-top:0.25em;
}

.sideblockmain {
    padding:4px;
}

.sideblockmain hr {
    height:1px;
    margin-top:4px;
    margin-bottom:4px;
    border:none;
    border-top:1px solid;
}

.sideblock .sideblockheading .hide-show img.hide-show-image {
    background: url('../../pix/t/switch_minus.gif') no-repeat bottom;
}

.sideblock.hidden .sideblockheading .hide-show img.hide-show-image {
    background: url('../../pix/t/switch_plus.gif') no-repeat bottom;
}

.sideblock.hidden .sideblockmain {
    display: none;
}

.sideblock .sideblocklist {
    width: 100%;
}

.sideblock .footer {
    margin-top:4px;
}

/* sideblock weblib.php */
.block_course_summary .sideblockmain {
    padding:10px;
}

/* blocklib.php */

.block_adminblock .sideblockmain {
    text-align: center;
}

/* block_quiz_results.php */
.block_quiz_results table.grades {
    width: 100%;
}

.block_quiz_results table.grades caption {
    margin: 1em 0px 0px 0px;
    border-bottom: 1px solid;
}

.block_quiz_results table.grades .number, .block_quiz_results table.grades .grade {
    width: 10%;
}

.block_quiz_results h1 {
    margin: 4px;
}

/*****************************
***
*** Doc
***
******************************/

/* contents.php */

body#doc-contents h1 {
    font-size: 1em;
    margin: 1em 0px 0px 0px;
}

body#doc-contents ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: 0.8em;
    width: 90%; /* try it on IE without this and see what happens */
}

body#course-view .unread {
    margin-left: 3em;
} 

body#admin-index .c0 {
    vertical-align: top;
    background: #FAFAFA;
} 

body#admin-modules .generaltablecell {
    padding-top: 1px;
    padding-bottom: 1px;
} 

body#admin-blocks .generaltablecell {
    padding-top: 1px;
    padding-bottom: 1px;
} 

body#admin-config .confighelp {
    display: block;
    padding-bottom: 20px;
}




/*
CALENDAR STYLES -- PROVISIONALLY PLACED HERE UNTIL FINALIZED
*/

.cal_popup_caption {
    font-family:sans-serif;
    font-size:75%;
    font-weight:bold;
}

.cal_popup_close {
    font-family:sans-serif;
    font-size:75%;
    font-weight:bold;
}

.calendarreferer {
    font-weight:bold;
}

#calendar .maincalendar .calendarmonth tbody td {
    height: 5em;
    font-size:0.8em;
    line-height:1.2em;
    padding-left: 4px;
    padding-top: 4px;
}

#calendar .maincalendar .calendarmonth tbody td table td{
    height: auto;
}

#calendar .maincalendar table.calendarmonth {
    -moz-border-radius: 10px;
    margin: 0px auto;
    width: 98%;
}

#calendar .maincalendar table.calendarmonth thead th {
    padding:10px;
    border-bottom:2px solid;
}

#calendar {
    width: 100%;
    border-spacing: 5px;
}

#calendar,
#calendar .maincalendar .eventlist table,
#calendar .maincalendar table.calendarmonth {
    border-collapse: separate;
}

#calendar .maincalendar .controls {
    clear:both;
    padding:10px;
    font-size:1.2em;
}

table.calendarmonth tbody td, table.minicalendar tbody td, table.minicalendar thead th {
    width:14%;
    vertical-align:top;
}

#calendar .sidecalendar, #calendar .maincalendar {
    vertical-align: top;
    border: 1px #DDDDDD solid;
    -moz-border-radius-bottomright:20px;
    -moz-border-radius-bottomleft:20px;
}

#calendar .sidecalendar {
    width: 25%;
}

#calendar .maincalendar .heading .buttons {
    float: right;
}

#calendar .maincalendar .filters table,
#calendar .sidecalendar .filters table,
.sideblock.block_calendar_month .filters table {
    border-collapse:separate;
    border-spacing: 2px;
    -moz-border-radius:4px;
    background-color: #EEEEEE;
    padding: 2px;
    width: 100%;
}

#calendar .sidecalendar .filters,
.sideblock.block_calendar_month .filters {
    font-size:0.75em;
    padding: 5px;
}

#calendar .maincalendar .filters {
    padding: 0px 10px;
}

#calendar .maincalendar .day {
    font-weight: bold;
}

#calendar .maincalendar .heading, #calendar .sidecalendar .heading {
    background-image:url(gradient.jpg);
    background-position:top;
    background-repeat:repeat-x;
    font-weight:bold;
    padding: 5px;
}

table.minicalendar {
    font-size:0.85em;
    border-collapse:separate;
    -moz-border-radius:10px;
    border-color:#DDDDDD;
    margin:10px auto;
    padding:2px;
    border-width:1px;
    border-style:solid;
    border-spacing:1px !important;
}

table.minicalendar thead th {
    padding: 0px 2px;
}

table.minicalendar tbody td {
    -moz-border-radius:4px;
    text-align: center;
}

#calendar .eventlist {
    padding: 10px;
}

#calendar .eventfull {
    margin-bottom:10px;
    width: 100%;
    border-color:#DDDDDD; /* borders */
}

#calendar .eventfullheader, #calendar .eventfullpicture, #calendar .eventfullside {
    background-color:#EEEEEE;
}

#calendar .eventfullmessage {
    padding: 5px;
}

#calendar .maincalendar ul {
    padding:0px;
    margin:0px;
    list-style-type:none;
}

#calendar .maincalendar ul li {
    margin-top: 4px;
}

#calendar #selecteventtype table {
    margin:auto;
}