/************************************************* 
***
*** color
***
**************************************************/

/*************************************************
***
*** This CSS file contains all color definitions
*** like background-color, font-color,
*** border-color etc.
***
*** Shortindex:
*** basic and general styles
*** header and footer styles
*** content styles (alphabetically)
*** admin, course, activities, calendar, blocks
*** 
*** Please sort new styles for existing content
*** into the appropriate part of this CSS file.
*** Styles for new Blocks or Activities please
*** place at the end.
*** Wouldn't the alphabetical order be better?
***
**************************************************/


/* basic styles */
a:link,
a:visited {
    color:#0000FF;
}

a.dimmed:link,
a.dimmed:visited {
    color:#AAAAAA; /* hidden */
}

a.autolink:link,
a.autolink:visited {
    background-color:#DDDDDD; /* autolink */
    color:#000000;
}

a.autolink:hover,
a:hover,
a.dimmed:hover {
    color:#FF0000;
}


/* general styles */
body {
    background-color:#FAFAFA;
}

th {
    background-color:#DDDDDD;
}

.highlight {
    background-color:#AAFFAA; /* highlight */
}

.highlight2 {
    color:#AA0000; /* highlight missing terms in forum search */
}

/* Alternate rows even */
.r0 {  
}

/* Alternate rows odd */
.r1 {  
}

/* notification messages (can be good or bad) */
.notifyproblem {
    color:#660000;
    padding: 10px;
    text-align: center;
}

.notifysuccess {
    color:#006600;
    padding: 10px;
    text-align:center;
}

.required {
    background-color:#DDDDDD;
}


/* header styles */


/* footer styles */


/*****************************
***
*** content styles
***
******************************/
/* many places */
.generalbox {
    border-color:#DDDDDD; /* borders */
}
.informationbox {
    border-color:#DDDDDD; /* borders */
}
.feedbackbox {
    border-color: #888888; /* borders */
}
.feedbackby {
    background-color:#BBBBBB;
}
.userpicture {
    background:#EEEEEE; 
}

.admin .generalboxcontent {
    background-color:#EEEEEE; 
}
.admin .generalbox {
    border-color:#BBBBBB; 
}

.admin .informationbox {
    border-color:#BBBBBB; 
    background-color:#FFFFFF; 
}

.noticebox {
    border-color:#DDDDDD; /* borders */
}


/* summary of a user in a nice little box - weblib.php */
.userinfobox {
    border-color:#DDDDDD; /* borders */
}


/* weblib.php table */
.tabledivider {
    border-color:#DDDDDD; /* borders */
}


/* entry-page index.php */ 
.sitetopic {
    background-color:#FFFFFF; /* cellheading */
    border-color:#DDDDDD; /* borders */
}


/*****************************
***
*** Admin
***
******************************/
/* admin, calednder, course */
.dimmed_text {
    color:#AAAAAA;
}


/*****************************
***
*** Course
***
******************************/
/* course, entry-page, login */
.headingblock {
    border-color:#DDDDDD; /* borders */
}


/* course */
.outlineheadingblock {
    border-color:#DDDDDD; /* borders */
}
.weeklyoutlinesidehidden,
.topicsoutlinesidehidden {
    border-color:#AAAAAA; /* hidden */
}

.weeklyoutlinecontent,
.topicsoutlinecontent {
    border-color:#DDDDDD; /* cellheading */
}

.weeklyoutlinecontenthighlight, 
.topicsoutlinecontenthighlight {
    border-color:#FFC85F; /* cellheading2 */
}

.weeklyoutlinecontenthidden,
.topicsoutlinecontenthidden {
    border-color:#AAAAAA; /* hidden */
}

.categoryboxcontent,
.courseboxcontent {
    border-color:#DDDDDD; /* borders */
    background: #FFFFFF;
}

.weeklydatetext {
    color:#DDDDDD; /* cellheading2 */
}


/*****************************
***
*** Activities
***
******************************/
/* assignment, forum, glossary */
.forumheaderlist,
.forumpost {
    border-color:#DDDDDD; /* borders */
}

.forumpostside {
    background:#EEEEEE;
}

.forumpostpicture {
    background:#EEEEEE; 
}

.forumpostheader {
    border-style:solid; /* borders */
    border-width: 0px;
    border-bottom-color: #EEEEEE;
    border-bottom-width: 1px;
}

.forumpostmessage {
    background:#FFFFFF;
}

/* survey */
#mod-survey-view .r0 {
    background-color: #EEEEEE;
}
#mod-survey-view .r1 {
    background-color: #DDDDDD;
}


/* assignment */
.assignmentsubmission {
}

.assignmentnew .assignmentfeedback{
    background-color:#DDDDDD; /* cellheading2 */
}   
    
.assignmentold .assignmentfeedback{
    background-color:#BBBBBB; /* cellheading */
}

.assignmentheading {
    background-color:#BBBBBB; /* cellheading */
}


/* workshop */

.workshoppostpicture {
    background-color:#FEE6B9; /* cellcontent2 */
}

.workshopassessmentheading {
    background-color:#DDDDDD; /* cellheading2 */
}


/* glossary, wiki */
.generaltab {
    background-color:#BBBBBB; /* cellheading */
}

.generaltabselected {
    background-color:#DDDDDD; /* cellheading2 */
}


/* lang, forum */
.teacheronly {
    color:#990000;
}

.forumheadminimal {
    color:#555555;
}

.forumthread .unread {
    background: #FFD991;
}

.unread {
    background: #FFD991;
} 

#mod-forum-view .unread {
    padding-left: 3px;
    padding-right: 3px;
}

#mod-forum-discuss .forumpost {
    background: none;
}

#mod-forum-discuss .unread .forumpostmessage {
    border-style: solid; 
    border-color: #FFD991; 
    border-width: 2px; 
} 

#mod-forum-discuss .forumthread .unread {
} 

#mod-forum-index .unread {
}

/* message */
table.message_search_results td {
    border-color:#DDDDDD; /* borders */
}


/* weblib.php, wiki */
.sideblockmain hr {
    border-top-color:#999999;
}

/* wiki */
.sideblockheading {
    background-color: #EEEEEE;
}

    


/*****************************
***
*** Calendar
***
******************************/

.cal_event_global {
    border-color:#2EBA0E !important;
    background-color:#2EBA0E;
}

.cal_event_course {
    border-color:#FF9966 !important;
    background-color:#FF9966;
}

.cal_event_group {
    border-color:#FBBB23 !important;
    background-color:#FBBB23;
}

.cal_event_user {
    border-color:#A1BECB !important;
    background-color:#A1BECB;
}

.cal_duration_global {
    border-top-color:#2EBA0E !important;
    border-bottom-color:#2EBA0E !important;
}

.cal_duration_course {
    border-top-color:#FF9966 !important;
    border-bottom-color:#FF9966 !important;
}

.cal_duration_user {
    border-top-color:#A1BECB !important;
    border-bottom-color:#A1BECB !important;
}

.cal_duration_group {
    border-top-color:#FBBB23 !important;
    border-bottom-color:#FBBB23 !important;
}

.cal_weekend {
    color:#FF0000;
}

.cal_today {
    border-color:#000000 !important;
}

table.calendarmonth thead td {
    border-bottom-color:#FFC85F;
}

td.cal_event_description {
    border-left-color:#FFC85F;
}

.cal_popup_fg {
    background-color:#FFFFFF; /* cellcontent */
}

.cal_popup_bg {
    border-color:#FEE6B9;
}


/*****************************
***
*** Blocks
***
******************************/
/* block_rss_client.php */
.rssclientlink {
    border-top-color:#DDDDDD;
}

.rssclientdescription {
    color:#555555;
}


/* sideblock */
/* calendar, weblib.php, wiki */
.sideblock {
    border-color:#DDDDDD; /* borders */
}
.sideblockmain {
    background-color:#FCFCFC;
}

.sideblocklinks {
    background-color:#FCFCFC;
}

.sideblockmain hr {
    border-top-color:#999999;
}
