
.headingblock {
    -moz-border-radius:3px;
}

.notifyproblem {
    -moz-border-radius:10px;
}

.notifysuccess {
    -moz-border-radius:10px;
}

.sideblock {
    -moz-border-radius-bottomleft:20px;
    -moz-border-radius-bottomright:20px;
}

.sideblock.hidden {
    -moz-border-radius: 0px;
}

.generalbox {
    -moz-border-radius-topleft:3px;
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomleft:15px;
    -moz-border-radius-bottomright:15px;
}

.generalboxcontent {
    -moz-border-radius-topleft:3px;
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomleft:15px;
    -moz-border-radius-bottomright:15px;
}

.noticebox {
    -moz-border-radius:5px;
}

.informationbox {
    -moz-border-radius-topleft:3px;
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomleft:15px;
    -moz-border-radius-bottomright:15px;
}

.informationboxcontent {
    -moz-border-radius-topleft:3px;
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomleft:15px;
    -moz-border-radius-bottomright:15px;
}

.userinfobox {
    -moz-border-radius-bottomleft:20px;
    -moz-border-radius-bottomright:20px;
}


.generaltab, .generaltabinactive{
    -moz-border-radius-topleft:15px;
    -moz-border-radius-topright:15px;
}

.generaltabselected {
    -moz-border-radius-topleft:15px;
    -moz-border-radius-topright:15px;
}

.entryboxheader {
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;
}

.entrybox {
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
}

.glossarypost {
    -moz-border-radius-bottomleft:15px;
    -moz-border-radius-bottomright:15px;
}

.glossarypost .side {
    -moz-border-radius-bottomleft:15px;
}
.encyclopedia .entrylowersection {
    -moz-border-radius-bottomright:15px;
}


#calendar .eventlist .event {
    -moz-border-radius-bottomleft:15px;
    -moz-border-radius-bottomright:15px;
}

#calendar .eventlist .event .side {
    -moz-border-radius-bottomleft:15px;
}

#calendar .eventlist .event .description {
    -moz-border-radius-bottomright:15px;
}

#calendar .maincalendar,
#calendar .sidecalendar
{
    -moz-border-radius-bottomright:20px;
    -moz-border-radius-bottomleft:20px;
}

#calendar .maincalendar .filters table,
#calendar .sidecalendar .filters table,
.sideblock.block_calendar_month .filters table
{
    -moz-border-radius:4px;
}

table.minicalendar {
    -moz-border-radius:10px;
}

table.minicalendar td {
    -moz-border-radius:4px;
}

.block_course_summary, .block_course_summary .content {
    -moz-border-radius:20px;
}

.sitetopic {
    -moz-border-radius:15px;
}

.sitetopiccontent {
    -moz-border-radius:15px;
}

.headingblock {
    -moz-border-radius:3px;
}

.sideblock {
    -moz-border-radius-bottomleft:20px;
    -moz-border-radius-bottomright:20px;
}

.sideblock .content {
    -moz-border-radius-bottomleft:20px;
    -moz-border-radius-bottomright:20px;
}

.forumpost {
    -moz-border-radius-bottomleft:20px;
    -moz-border-radius-bottomright:20px;
}

.forumpost .side {
    -moz-border-radius-bottomleft:20px;
}

.forumpost .content {
    -moz-border-radius-bottomright:20px;
}

#user-view .left {
    -moz-border-radius-bottomleft:20px;
}

.categoryboxcontent, .courseboxcontent {
    -moz-border-radius:20px;
}

.forumpostmessage {
    -moz-border-radius-bottomright:20px;
}

.glossarycomment {
    -moz-border-radius-bottomleft:20px;
    -moz-border-radius-bottomright:20px;
}

.glossarycomment .side {
    -moz-border-radius-bottomleft:20px;
}

.glossarycomment .entry {
    -moz-border-radius-bottomright:20px;
}

.loginbox {
    -moz-border-radius-bottomleft:20px;
    -moz-border-radius-bottomright:20px;
}

.loginbox .content.left {
    -moz-border-radius-bottomleft:20px;
}
.loginbox .content.right {
    -moz-border-radius-bottomright:20px;
}

body#course-user .section {
    -moz-border-radius:20px;
}
