/*
 * These styles are ONLY included for IE 6 (via meta.php)
 */

.tabtree {
    height: 100%;
}

.tabrow0 {
    padding-top: 6px;
}

.tabrow0 LI.first {
    margin-left: -4px;
}

.tabrow0 A {
    padding: 0 0 0 1em;
}

.tabrow0 A span {
    padding: 12px 1em 4px 0;
}

.tabrow0 UL {
   top: 2.4em; 
}
