/*******************************************************************
 styles_form.css
  
 This CSS file contains all css required for new css and xhtml only 
 moodleforms.
*/
form.mform {
    margin: 0;
    padding: 0;
    width: 100%;
}
form.mform fieldset {
    border: 1px solid black;
    padding: 10px 0;
    margin: 0;
    width:100%;
}
form.mform fieldset.hidden, form.mform fieldset.felement {
    border: 0;
}
form.mform fieldset.felement {
    width: auto;
}
form.mform fieldset legend {
    font-weight: bold;
}

form.mform div.fitem {
    clear: both;
    width: 100%;
    min-height: 1.5em;
}
/* uncomment this and edit formslib.php for
ol li containers for form items.

form.mform fieldset li.qfrow {
    list-style: none;
    padding: 5px;
    margin: 0;
    clear: both;
    width: 100%;
    min-height: 1.5em;
}
form.mform fieldset ol {
  margin: 0;
  padding: 0;
}*/
form.mform label {
    display: block;
    float: left;
    width: 30%;
    padding: 0;
    margin: 0 0 0 0;
    text-align: right;
}
div.fitem fieldset.fgroup label {
    display:inline;
    float: none;
    width: auto;
}

form.mform div.felement,  form.mform fieldset.felement{
    /* display: inline; */
    display: block;
    float: left;
    margin: 5px 0 0 10px;
    padding: 0;
    text-align:left;
}

form.mform div.fdescription {
    clear: both;
    min-height: 1.5em;
}

form.mform input, form.mform select {
    width: auto;
}
form.mform ftextarea {
}
form.mform br {
    clear: left;
}
form.mform div.fhtmleditor {
    margin: 0 auto 10px auto;
    width : 600px;
    clear:both;
    float:none;
}
form.mform span.error, form.mform span.required {
    color: red;
}
form.mform div.error {
    border: 1px solid red;
    padding: 5px;
    color: inherit;
}
