/* @override http://ubuntu.userver.lan/moodle_20/theme/colors/colors.css */
/* @group core */
body {
  background-color: #b9baa3;
}
div#page {
  width: 960px;
  margin: 0 auto;
  padding: 0;
  background-color: #fff;
  color: #444;
  border-color: #838373;
  border-top-style: none;
  border-bottom-style: none;
  border-left-style: solid;
  border-left-width: 5px;
  border-right-width: 5px;
  border-right-style: solid;

}
p, ul {
  margin: 0 0 1em 0;
}
ol, ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 1.3em;
}
li {
  margin: 0 0 0.25em 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a:link {
  color: #129;
}
a:visited {
  color: #C01;
}
a:hover {
  color: #391;
}
a.dimmed:link,
a.dimmed:visited {
  color: #AAA;
}
a.autolink:link,
a.autolink:visited {
  color: #000000;
  background: #FAFAFA;
}
a.autolink.glossary:hover {
  cursor: help;
}
.dimmed_text,
.dimmed_text a {
  color: #AAA;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5em 0;
  font-weight: bold;
}
h1.main,
h2.main,
h3.main,
h4.main,
h5.main,
h6.main {
  text-align: left;
  margin-left: 0;
  color: #444;
  background-color: #FFF;
  font-size: 100%;
}
h1 {
  font-size: 167%;
}
h2 {
  font-size: 138.5%;
}
h3 {
  font-size: 123.1%;
}
h4 {
  font-size: 100%;
}
img.resize {
  width: 1em;
  height: 1em;
}
hr {
  color: #EEE;
  background-color: #EEE;
  height: 1px;
  border-style: none;
}
.cell {
  padding: 2px;
}
tr.r1 {
  background-color: #fcfcf5;
}
.highlight {
  background-color: #aaffaa;
}
.highlight2 {
  color: #AA0000;
}
.headingblock,
h2.headingblock {
  margin: 0 0 10px;
  padding: 11px 5px 7px;
  height: 20px;
  font-size: inherit;
  line-height: 100%;
  background-color: #e4e4e4;
  border-style: none;
}
body#site-index .headingblock,
body#course-view .headingblock {
  margin-top: -1px;
}
div.tabledivider {
  border-style: none;
}
div.generalbox {
  margin-top: 5px;
  border-color: #EEE;
}
table.generalbox {
  border-style: none;
}
th.header,
td.cell {
  border-bottom: 1px solid #EEE;
  text-align: left;
}
table.generalbox th,
table.generalbox td {
  border-bottom: 1px solid #EEE;
  text-align: left;
}
td.generalboxcontent table.formtable th {
  text-align: right;
}
table.generaltable {
  border-style: none;
}
table.generaltable th.header {
  text-align: left;
  border-bottom: 1px solid #CCC;
  text-align: left;
  padding: 2px;
}
th.header,
.admin th.header.c0,
table.generalbox th,
table.generaltable th.header {
  background-color: #fcfcf5;
}
table.generaltable td.cell {
  border-style: none;
  border-bottom: 1px solid #EEE;
  text-align: left;
  padding: 2px;
}
table.informationbox {
  border-style: none;
}
table.userinfobox {
  border-style: none;
  margin: 0 auto 5px;
}
div.errorbox {
  border: 2px solid #913;
}
/* notification messages (can be good or bad) */
.notifysuccess {
  color: #006600;
}
.notifytiny {
  color: #000044;
}
#admin-auth_config .required {
  background-color: #DDDDDD;
}
.informationbox {
  border-color: #DDDDDD;
}
.feedbackbox {
  border-color: #888888;
}
.feedbackby {
  background-color: #BBBBBB;
}
.errorbox {
  color: #ffffff;
  border-color: #660000;
  background-color: #990000;
}
.errorboxcontent {
  background-color: #FFBBBB;
}
.notifyproblem {
  text-align: left;
  padding: 10px;
  border: 2px solid #913;
}
div.noticebox {
  background-color: #FFF;
  border: 2px solid #FC1;
}
#notice.generalbox {
  margin: 0 0 1.5em 0;
  padding: 10px;
  background-color: #FFF;
  border: 2px solid #FC1;
}
.teacheronly {
  color: #990000;
}
.unread {
  background: #FFD991;
}
.censoredtext {
  color: #000000;
  background: #000000;
}
.boxwidthwide {
  width: 95%;
  margin-left: 12px;
}
.htmlarea .toolbar th,
.htmlarea .toolbar td {
  vertical-align: top;
}
body#help,#help #content,body#message-index,#message-index #content,#message-user #content,body#message-user,body#message-send,body#message-messages,body#message-discussion,#message-discussion #content,#message-history #content,body#message-history,body#mod-glossary-showentry,#mod-glossary-showentry #content {
  background: none;
}
table.categorylist {
  margin-top: 10px;
}
/* @end */
/* @group tabs */
.tabrow0 {
  font-size: 100%;
}
.tabrow0 .here,
.tabrow0 .here a:hover,
.tabrow0 a,
.tabrow0 a:hover,
.tabrow0 a span,
.tabrow0 a:hover span,
.tabrow0 .here a:hover span {
  background: transparent none;
}
.tabrow0 a {
  background-color: #d8d8d8;
  border: 1px solid #e7e8d6;
  border-bottom-style: none;
}
.tabrow0 .here a:hover,
.tabrow0 a:hover {
  background-color: #fcfcf5;
}
.tabrow0 .here a {
  background-color: #fcfcf5;
}
.tabrow0 div,
.tabrow0 ul {
  top: 1.7em;
  font-size: 100%;
  background-image: none;
  background-color: #fcfcf5;
}
ul.tabrow1 li a,
ul.tabrow1 li a:link,
ul.tabrow1 li a:visited {
  font-size: 100%;
}
.tabrow0 div,
.tabrow0 ul {
  border-top: 2px solid #fcfcf5;
}
/* @end */
/* @group forms */
.mform {
  margin: 0 0;
  width: 100%;
}
.mform fieldset {
  border-color: #EEE;
  background-color: #fff;
  width: 95%;
  margin: 0 auto;
}
#adminsettings .form-shortname {
  color: #888;
}
.mform .required label {
  color: #a00;
}
.mform .fdescription.required {
  color: #a00;
}
.mform .required .fgroup span label {
  color: #000;
}
/* @end */
/* @group header */
div#header,
div#header-home {
  height: 68px;
  background-color: #fcfde5;
}
div#header-home .headermain {
  margin: 10px 0 0 10px;
  font-size: 167%;
  color: #444;
}
div#header .headermain {
  margin: 10px 0 0 10px;
  font-size: 167%;
  color: #444;
}
.headermenu {
  margin: 10px 10px 0 0;
  color: #888;
}
.headermenu .logininfo {
  margin: 0 0 2px 0;
}
.headermenu select,
.headermenu option {
  color: #888;
}
.navbar {
  clear: both;
  padding: 1px 12px;
  margin: 0;
  height: 25px;
  background-color: #fcfcf5;
  border-style: none;
  border-top: 1px solid #e7e8d6;
  border-bottom: 1px solid #f5f5e9;
}
.navbar .breadcrumb {
  margin: 0.3em 0 0.1em;
}
.navbar .breadcrumb a {
  text-decoration: none;
}
span.arrow.sep {
  color: #444;
}
span.arrow {
  font-family: Arial,Helvetica,Courier,sans-serif;
}
.navigation select {
  background-color: #FFFFFF;
}
.navigation optgroup {
  background-color: #EEEEEE;
}
.navigation optgroup option {
  background-color: #FFFFFF;
}
/* @end */
/* @group footer */
div#footer {
  margin-top: 0;
  padding: 1em 12px 20px 12px;
  border-top: 1px solid #EEE;
  background-color: #fcfde5;
}
div#footer div {
  margin: 0;
}
div#footer div#company-stuff {
  display: none;
}
/*div#footer div#company-stuff {
  float: left;
  text-align: left;
}
div#footer div#company-stuff p {
  margin: 0;
  padding: 0;
}*/
div#footer div#moodle-stuff {
  text-align: center;
}
div#footer p.helplink {
  margin: 0;
}
.homelink a {
  padding: 0;
}
/* @end */
/* @group admin */
#adminsettings .form-item {
  padding-top: 5px;
  border-top: 1px solid #EEE;
}
#adminsettings fieldset {
  border-style: none;
}
#adminsettings fieldset.error {
  border: 1px solid #660000;
}
#adminsettings fieldset.error legend {
  border-color: #660000;
}
#adminsettings .form-overridden {
  background-color: #ff6;
}
#adminsettings .form-warning {
  background-color: #f88;
}
#adminsettings .form-defaultinfo {
  color: #888;
}
#adminsettings .form-item .pathok {
  color: green;
}
#adminsettings .form-item .patherror {
  color: red;
}
#adminsettings .form-htmlarea {
  width: auto;
}
body#admin-index div.adminwarning {
  border-style: none;
}
body#admin-lang div.generalbox {
  border-style: none;
}
body#admin-langimport div.generalbox {
  border-style: none;
}
body#course-user .section h2 {
  color: #006EA2;
}
#admin-roles-override .cell.c1,
#admin-roles-assign .cell.c1 {
  padding-top: 2px;
}
link
#adminsettings .form-item {
  margin: 0;
  padding-top: 5px;
  border-top: 1px solid #EEE;
}
#theme-index.course-1 div#content {
  margin: 0;
}
.admin h2.main {
  margin: 0 0 10px;
  height: 20px;
  line-height: 100%;
  padding: 11px 10px 7px;
  background-color: #d8d8d8;
}
#user-profile-index h2.main,
#theme-index h2.main {
  margin-top: 10px;
}
.admin th.header.c0 {

}
.rolecap .rolecapheading {
  background-color: #FAFAFA;
  border-bottom: 1px solid #ccc;
}
.rolecap .inherit,
.rolecap .allow,
.rolecap .prevent,
.rolecap .prohibit {
  padding: 2px;
  border-bottom: 1px solid #ccc;
}
.rolecap .capdefault {
  background-color: #FAFAFA;
}
#admin-roles-override .capcurrent {
  background-color: #FAFAFA;
  border: 1px solid #cecece;
}
#admin-roles-manage .capdefault {
  background-color: #FAFAFA;
  border: 1px solid #cecece;
}
#admin-roles-manage .rolecap,
#admin-roles-override .rolecap {
  border-style: none;
  border-bottom: 1px solid #cecece;
}
#admin-roles-manage .rolecap .cap-desc .cap-name,
#admin-roles-override .rolecap .cap-desc .cap-name {
  color: #888;
}
#theme-index #middle-column tr {
  border-top: 1px solid #eeeeee;
}
#theme-index #middle-column td {
  vertical-align: top;
  padding: 10px;
  border-color: #eeeeee;
}
.block_admin_tree.sideblock .link.hidden {
  color: #999999;
}
#admin-lang .translator .strkey {
  color: #666666;
}
#admin-lang .translator .bothmissing {
  background-color: #ef6868;
}
#admin-lang .translator .mastermissing {
  background-color: #feff7f;
}
#admin-lang .translator .localdifferent {
  background-color: #aaffaa;
}
.environmenttable .error {
  background-color: #ef6868;
  color: inherit;
}
.environmenttable .warn {
  background-color: #feff7f;
}
.environmenttable .ok {
  background-color: #aaffaa;
}
#admin-uploaduser .uuinfo {
  background-color: #aaffaa;
}
#admin-uploaduser .uuwarning {
  background-color: #feff7f;
}
#admin-uploaduser .uuerror {
  background-color: #ef6868;
}
.plugincompattable td.ok {
  color: #080;
}
.plugincompattable td.warning {
  color: #d80;
}
.plugincompattable td.error {
  color: #d00;
}
/*
@end */
/* @group grade */
.grade-edit-tree .moving {
  background-color: #E8EEF7;
}
#grade-aggregation-help dt {
  font-weight: bold;
}
#grade-aggregation-help dd.example {
  font-style: italic;
}
#grade-aggregation-help code {
  font-style: normal;
}
/* @end */
/* @group sideblock */
.sideblock input {
  font-size: inherit;
}
.sideblock input.styledbtn {
  font-size: 93%;
}
.sideblock a {
  text-decoration: none;
  color: #fff;
}
.sideblock a.current {
  display: block;
  background-color: #da5a23;
}
#left-column .hidden .header {
  border-style: none;
}
#right-column .hidden .header {
  border-style: none;
}
.sideblock {
  margin-bottom: 0;
  padding-bottom: 0;
  border-style: none;
  /*width: 220px;*/
}
.sideblock .header,
.sideblock .header h2 {
  font-size: 100%;
  color: #fff;
  font-size: 100%;
  padding: 5px;
  border-style: none;
}
.sideblock .header .commands {
  background-color: #EEE;
  padding: 1px;
}
#left-column .sideblock .header,
#left-column .sideblock h2.header {
  background-color: #da5a23;
}
#right-column .sideblock .header,
#right-column .sideblock h2.header {
  background-color: #4b95ed;
}
#course-view .sideblock.hidden .header h2 {
  color: #444;
}
.sideblock .content {
  background: transparent;
  border-style: none;
  padding: 4px 12px;
  margin-bottom: 10px;
}
.block_admin_tree .content {
  padding:4px 0pt 4px 12px;
}
.sideblock .content h3.eventskey {
  font-size: inherit;
  color: #fff;
}
.sideblock .list li {
  margin: 0;
  padding-bottom: 5px;
  line-height: normal;
}
.sideblock .content .icon {
  display: none;
}
.sideblock .content div.info {
  text-align: left;
}
.sideblock .footer {
  text-align: left;
}
.calendar-controls .previous,
.calendar-controls .next,
.calendar-controls .current {
  text-decoration: none;
}
.block_messages .content {
  font-size: 100%;
}
.block_search_forums .searchform {
  text-align: left;
}
.activitydate, .activityhead {
  text-align: left;
}
.block_login .loginform .c1 {
  margin: 0.3em 0;
  color: #fff;
}
/* @end */
/* @group login */
div.loginbox {
  border-color: #EEE;
}
div.loginbox.twocolumns div.loginpanel {
  border-color: #EEE;
}
.loginbox h2 {
  color: #444;
  font-weight: normal;
  font-style: normal;
}
/* @end */
/* @group content */
#content {
  clear: both;
}
#site-index #content,
#course-view #content,
.haslayouttable #content {
  margin: 0;
}
#site-index .subscribelink,
#course-view .subscribelink {
  padding: 0 5px;
}
.weeks-format #left-column,
.weeks-format #right-column,
.topics-format #left-column,
.topics-format #right-column {
    width: 15.5em;
}
.weeks-format,
.topics-format {
  width: 960px;
  margin: 0;
}
.topics-format #left-column {
  background-color: #f68933;
}
.topics-format #middle-column {
  padding: 0;
  background-color: #fff;
  margin: 0 16.5em;
}
.topics-format #right-column {
  background-color: #1d6fcf;
}
.headingblock {
  border-style: none;
}
#content .section {
  border-style: none;
}
.section {
  border-style: none;
}
.onlymiddlecolumn #content {
  margin: 10px;
}
/* @end */
/* @group startpage */
div.sitetopiccontent {
  border-style: none;
}
div.categoryboxcontent {
  border-style: none;
}
div.courseboxcontent {
  border-style: none;
}
div.coursebox {
  border-style: none;
  border-top: 1px solid #EEE;
}
div.categorybox {
  border-top: 1px solid #EEE;
}
#site-index .sitetopic {
  margin-top: 10px;
}
/*#site-index .sitetopic {
  background: url(pix/pix/vinn_hi_splash.jpg) no-repeat center top;
  padding-top: 180px;
  margin-top: 10px;
}*/
/* @group My Group */
.admin #layout-table #middle-column {
  /*padding-top: 10px;*/
}
#layout-table {
  width: 960px;
  border-collapse: collapse;
  margin: 0;
}
#layout-table #left-column {
  width: 220px !important;
  background-color: #f68933;
}
#layout-table #middle-column {
  padding: 0;
  background-color: #fff;
}
#layout-table #right-column {
  width: 220px !important;
  background-color: #1d6fcf;
}
/* @end */
/* @end */
/* @group course */
#course-view .section td.side {
  border-style: none;
  border-top: 1px solid #EEE;
  background-color: inherit;
}
#course-view .current td.left,
#course-view .current td.right {
  background-color: #fcfde5;
  color: #fcfde5;
}
#course-view .section td.left {
  color: #444;
  font-weight: bold;
  padding: 8px 0 0;
}
#course-view .section td.content {
  border-style: none;
  border-top: 1px solid #EEE;
  padding-top: 0;
}
#course-view .section .spacer {
  height: 1em;
  border-top: 1px solid #a3daa8;
}
tr.section div.summary {
  color: #444;
  padding: 8px 2px 3px;
}
tr.section div.summary > br {
  display: none;
}
ul.section li.activity {
  background-color: inherit;
  padding: 2px;
}
ul.section li.label {
  background-color: inherit;
}
#course-report p {
  text-align: left;
}
.block_news_items .newlink {
  text-align: left;
}
#course-view .hidden *,
#course-view .section.hidden td.left {
  color: #CCC;
}
/* @end */
/* @group calendar */
table#calendar td.event_global {
  background-color: #D6F8CD;
  border-color: #D6F8CD;
  border-bottom-style: none !important;
  border-top-style: none !important;
  border-right-style: none !important;
  border-left-style: none !important;
}
table#calendar td.event_group {
  background-color: #FEE7AE;
  border-color: #FEE7AE;
  border-left-style: none !important;
  border-right-style: none !important;
  border-top-style: none !important;
  border-bottom-style: none !important;
}
table#calendar td.event_course {
  background-color: #FFD3BD;
  border-color: #FFD3BD;
  border-left-style: none !important;
  border-right-style: none !important;
  border-top-style: none !important;
  border-bottom-style: none !important;
}
table#calendar td.event_user {
  background-color: #DCE7EC;
  border-color: #DCE7EC;
  border-left-style: none !important;
  border-right-style: none !important;
  border-top-style: none !important;
  border-bottom-style: none !important;
}
.minicalendar .event_global {
  background-color: #D6F8CD;
  border-color: #D6F8CD;
}
div.block_calendar_month td.event_global {
  background-color: #D6F8CD;
  border-color: #D6F8CD;
}
.minicalendar .event_course {
  background-color: #FFD3BD;
  border-color: #FFD3BD;
}
div.block_calendar_month td.event_course {
  background-color: #FFD3BD;
  border-color: #FFD3BD;
}
.minicalendar .event_group {
  background-color: #FEE7AE;
  border-color: #FEE7AE;
}
div.block_calendar_month td.event_group {
  background-color: #FEE7AE;
  border-color: #FEE7AE;
}
.minicalendar .event_user {
  background-color: #DCE7EC;
  border-color: #DCE7EC;
}
div.block_calendar_month td.event_user {
  background-color: #DCE7EC;
  border-color: #DCE7EC;
}
#calendar .duration_global,
.minicalendar .duration_global {
  border-top-color: #66D14D !important;
  border-bottom-color: #66D14D !important;
}
#calendar .duration_course,
.minicalendar .duration_course {
  border-top-color: #FF9966 !important;
  border-bottom-color: #FF9966 !important;
}
#calendar .duration_group,
.minicalendar .duration_group {
  border-top-color: #FBBB23 !important;
  border-bottom-color: #FBBB23 !important;
}
#calendar .duration_user,
.minicalendar .duration_user {
  border-top-color: #A1BECB !important;
  border-bottom-color: #A1BECB !important;
}
#calendar .duration_course0,
.minicalendar .duration_course0 {
  border-top-color: #FF9966 !important;
  border-bottom-color: #FF9966 !important;
}
#calendar .duration_course1,
.minicalendar .duration_course1 {
  border-top-color: #0099FF !important;
  border-bottom-color: #0099FF !important;
}
#calendar .duration_course2,
.minicalendar .duration_course2 {
  border-top-color: #FFFF00 !important;
  border-bottom-color: #FFFF00 !important;
}
#calendar .nottoday,
.minicalendar .nottoday {
  border-color: #eeeeee;
}
table.minicalendar {
  border-style: none;
}
td.weekend.day.event_course a {
  text-decoration: none;
}
table.cal_popup_bg {
  background-color: #FFF;
  border-color: #CCC;
}
table#calendar td.maincalendar {
  border-style: none;
}
table#calendar td.sidecalendar,
table#calendar td.sidecalendar * {
  border-style: none;
  color: #333;
  border-color: #eee;
}
table.minicalendar td.today {
  border: 1px solid #CCC;
}
table.minicalendar td.today a {
  text-decoration: none;
}
table.minicalendar tr.weekdays abbr {
  border-style: none;
  color: #fff;
}
div.block_calendar_month div.filters {
  padding: 0 4px;
  font-size: 100%;
}
table.minicalendar th {
  padding: 0;
}
table.minicalendar td {
  padding: 0;
}
table.minicalendar td.day {
  line-height: 1.1em;
  padding: 3px 0 1px;
  border: 1px solid #4b95ed;
  color: #fff;
}
table.minicalendar tr.weekdays th {
  font-weight: normal;
}
table.minicalendar td.today {
  border: 1px solid #ccc;
  background-color: #4b95ed;
}
.cal_popup_bg {
  background-color: #FFF;
  border-color: #CCC;
}
.cal_popup_cg {
  background-color: #FFF;
  border-color: #CCC;
}
.cal_popup_fg {
  background-color: #FFF;
  border-color: #CCC;
}
.cal_popup_fg div a {
  font-size: 100% !important;
}
.block_calendar_month .cal_popup_caption, .block_calendar_month .cal_popup_fg div {
  border-color: #9B9984;
  font-size: 100% !important;
  color: #999;
}
#calendar .event_global,
#calendar .event_course,
#calendar .event_group,
#calendar .event_user,
.minicalendar .event_global,
.minicalendar .event_course,
.minicalendar .event_group,
.minicalendar .event_user {
  border: 1px solid  #9b9984 !important;
}
#calendar {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
#calendar .today,
.minicalendar .today {
  border: 1px solid #CCC;
}
#calendar .maincalendar table.calendarmonth th {
  border-bottom: 1px solid #CCC;
}
/* @end */
/* @group modules */
div.entrybox {
  border-style: none;
}
td.entrybox {
  border-style: none;
}
td.entryboxheader {
  border-style: none;
}
div#scormpage div#tocbox {
  border-style: none;
}
body#grade-index .grades {
  border-style: none;
}
body#mod-data-edit div.generalbox fieldset {
  border-style: none;
}
table.files td {
  text-align: left;
  border-bottom: 1px solid #EEE;
}
p.book_chapter_title {
  font-family: inherit;
  color: #006EA2;
  font-size: 138.5%;
  font-weight: normal;
  font-style: normal;
  line-height: 140%;
}
div.book_toc_numbered {
  border-left: 1px solid #A10A37;
}
#resource {
  border-top: 1px solid #FFF;
}
/* @end */
/* @group forum */
table.forumpost {
  border-style: none;
}
table.forumheaderlist {
  border-style: none;
  margin-left: 12px;
  margin-bottom: 24px;
  width: 98%;
}
table.forumheaderlist th.header {
  text-align: left;
}
table.forumpost td.topic {
  border-bottom-style: none;
  background-color: #fcfcf5;
}
.forumpost .commands {
  border-top: 1px solid #EEE;
}
tr.discussion td {
  border-style: none;
  border-bottom: 1px solid #EEE;
}
.forumthread .unread {
  background: #FFD991;
}
#mod-forum-discuss .forumpost.unread .content {
  border-color: #FFD991;
}
/* @end */
/* @group glossary */
table.glossarypost {
  margin-top: 12px;
  border-style: none;
  border-top: 1px solid #EEE;
}
.glossarypost div.concept h3,
.glossarypost.continuous .concept {
  display: inline;
}
.glossarycategoryheader h2,
.glossarypost .concept h3 {
  font-size: 100%;
  margin: 0;
}
table.glossarypost td.entryheader {
  background: url(pix/pix/list_bg.jpg) repeat-x scroll left top;
}
#mod-glossary-showentry #page {
  width: auto;
}
#mod-glossary-showentry #footer,#mod-glossary-showentry #header,#mod-glossary-showentry .navbar {
  display: none;
}
/* @end */
/* @group quiz */
#mod-lesson-edit .addlinks {
  margin-bottom: 24px;
}
body#mod-quiz-report table#attempts td {
  border-style: none;
}
.que {
  border-color: #EEE;
}
.que .feedback {
  border-color: #DDD;
}
.que .incorrect {

}
.que.multianswer .incorrect {
  background-color: #faa;
}
.que .partiallycorrect {
  background-color: #ff9;
}
.que .correct {
  background-color: #afa;
}
table.quizattemptsummary .bestrow td {
  background-color: #e8e8e8;
}
table.quizreviewsummary th.cell {
  background: #f0f0f0;
}
table.quizreviewsummary td.cell {
  background: #fafafa;
}
/* @end */
/* @group wiki */
.mwiki .boxwidthwide {
  width: 95%;
}
.mwiki .tabtree {
  margin-top: 12px;
}
/* @end */
/* @group blog */
.block_blog_tags .official {
  color: #0000cc;
}
.block_blog_tags .personal {
  color: #666699;
}
/* @end */
/* @group chat */
#mod-chat-view #middle-column {
  padding: 0;
}
#mod-chat-view #enterlink {
  text-align: left;
  margin-left: 0;
  margin-right: auto;
}
#mod-chat-gui_header_js-jsupdate .chat-message {
  font-size: 81.25%;
}
#mod-chat-gui_header_js-chatinput #header {
  display: none;
}
#mod-chat-gui_header_js-chatinput #page {
  background-image: none;
}
#mod-chat-gui_header_js-chatinput #content {
  margin-left: 5px;
}
#mod-chat-gui_header_js-chatinput .navbar {
  display: none;
}
#mod-chat-gui_header_js-chatinput {
  background-image: none;
}
#mod-chat-gui_header_js-users #header {
  display: none;
}
#mod-chat-gui_header_js-users #page {
  background-image: none;
}
#mod-chat-gui_header_js-users #content {
  margin-left: 5px;
}
#mod-chat-gui_header_js-users {
  background-image: none;
}
#input_chat_message {
  width: 20em;
}
/* @end */
/* @group message */
#message-index #footer,#message-discussion #footer,#message-history #footer {
  display: none;
}
#message-index #page,#message-user #page,#message-history #page {
  width: auto;
}
#message-user #page {
  margin: 0;
}
#message-user #content {
  padding: 0;
}
/* @end */
/* @group help */
#help #footer {
  display: none;
}
#help #page {
  width: auto;
}
/* @end */