{{!
    @template core/help_icon

    Help icon.

    Example context (json):
    {
        "title": "Help with something",
        "url": "http://example.org/help",
        "linktext": "",
        "icon":{
            "attributes": [
                {"name": "class", "value": "iconhelp"},
                {"name": "src", "value": "../../../pix/help.svg"},
                {"name": "alt", "value": "Help icon"}
            ]
        }
    }
}}
<button class="iconhelp btn btn-link p-a-0" role="button" type="button"
    data-container="main" data-toggle="popover"
    data-placement="{{#ltr}}right{{/ltr}}{{^ltr}}left{{/ltr}}" data-content="{{text}} {{completedoclink}}"
    data-constraints='[{"to": "scrollParent", "attachment": "together"}]'
    data-html="true"
    aria-expanded="false"
    >
  {{#pix}}help, theme_snap, {{alt}}{{/pix}}
</button>
{{#js}}
require(['theme_snap/accessibility'], function(module) {
    module.setManualPopovers();
});
{{/js}}
