<div class="list-group" aria-labelledby="list-group-{{uniqid}}">
{{#haschildren}}
        {{#children}}
        <a href="{{{url}}}"class="list-group-item" {{#title}}title="{{{title}}}"{{/title}}>{{text}}</a>
        {{/children}}
{{/haschildren}}
 </div>