<div id="block08-3" class="block08-3 educard-block educard-font">
    <div class="block08-bg block-start-end-space">
        <div class="container">
            <div class="educard-sub-title">
                <h6>{{block08headline}}</h6>
            </div>
            <div>
                <div class="h1">{{block08header}} <span>{{block08maintitle}}</span></div>
                <div class="educard-heading-line-left"></div>
            </div>
            <div class="row mt-60">
            {{#block08}}
                <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                    <div class="card h-100 block-shadow mx-auto" >
                        <a class="card-social-icon block-shadow" href="mailto:{{usermail}}"><i class='bx bx-mail-send'></i></a>
                        <div>
                            <img src="{{userpictureURL}}" alt="{{teachername}}">
                        </div>
                        <div class="card-body text-center educard-rounded">
                            <a href="{{userURL}}">
                                <h4>{{teachername}}</h4>
                            </a>
                            <p class="font-size-m font-weight-500 mb-0">{{job}}</p>
                        </div>
                    </div>
                </div>
            {{/block08}}    
            </div>
        </div>    
    </div>
</div>