{{!
  This file is part of Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
  @template mod_googlemeet/recordingstable

  Example context (json):
  {
    "upcomingevents": [
      {
        "today": false,
        "startdate": "Tue. 17 Nov."
      }
    ],
    "starttime": "09:00",
    "endtime": "10:00",
    "duration": 3600
  }
}}
<div id="googlemeet_upcoming_events">
  <h4>{{# str }} upcomingevents, mod_googlemeet {{/ str }}</h4>
    <div>
      {{#upcomingevents}}
        <span>
          {{#today}}
            {{#str}} today, googlemeet {{/str}},
          {{/today}}
          {{startdate}}
        </span>
      {{/upcomingevents}}
      {{#duration}}
        <span>
          {{#str}} from, googlemeet {{/str}}
          {{starttime}}
          {{#str}} to, googlemeet {{/str}}
          {{endtime}}
        </span>
      {{/duration}}
      {{^duration}}
         <span>
          {{starttime}}
        </span> 
      {{/duration}}
    </div>
</div>
