
.dark-frontpage {
    .educard-header-2 {
        .soft-color {
            color: var(--color-dl-yellow-a);
        }
    }
}
.educard-header-2 {
    .educard-shape img {
        position: absolute;
    }
    .educard-shape-1 {
        bottom: 29%;
        right: 77%;
        width: 50%;
        height: 50%;
    }
    .educard-shape-2 {
        top: 90%;
        left: 55%;
        -webkit-animation: mover 3s infinite alternate;
        animation: mover 3s infinite alternate;
    }
    .educard-shape-3 {
        opacity: 0.1;
    }
    .educard-shape-4 {
        bottom: 10%;
        left: 15%;
        width: 25%;
        height: 25%;
    }
    &.bg-img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 690px;
        position: relative;
        padding-top: 90px;
    }
    .info-detail {
        padding: 15px 15px;
        .title {
            font-size: 48px;
            font-weight: 700;
            line-height: 50px;
        }
        .subtitle {
            margin: 50px 0;
        }
        
    }
    .adv-img {
        padding-top: 100px;
    }
    .educard-search {
        margin-top: 20px;
        position: relative;
        z-index: 3;
        .form-control {
            padding: 18px 130px 18px 55px;
            box-shadow: none;
            border: none;
            border-radius: 5px;
            box-shadow: 0 0 20px 0 rgb(62 28 131 / 10%);
        }
        i {
            position: absolute;
            left: 20px;
            top: calc(50% - 9px);
            font-size: 18px;
        }
        .form-group {
            position: relative;
            padding: 12px;
        }
        form button {
            position: absolute;
            color: #fff;
            text-transform: uppercase;
            font-weight: 500;
            border-radius: 5px;
            border: none;
            padding: 15px 25px;
            right: 15px;
            top: 14px;
            transition: all 0.5s ease-in-out;
        }
    }
    .educard-search-list {
        padding-left: 0;
        list-style-type: none;
        margin-bottom: 0;
        margin-top: 20px;
        li {
            display: inline-block;
            font-weight: 600;
            a {
                text-decoration: none;
                margin-top: 5px;
                margin-right: 5px;
                display: inline-block;
                line-height: 25px;
                color: #fff;
                font-size: 90%;
                font-weight: 500;
                padding: 0 6px;
                border-radius: 4px;
                background: rgba(249, 128, 18, .8);
            }
        }
    }
    
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(50px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(50px);
    }
}

@media (max-width: 991px) {
    .educard-header-2 {
        .bg-img,
        .educard-shape-2,
        .educard-shape-3 {
            display: none;

        }
    }
}

@media (max-width: 767px) {
    .educard-header-2 {
        .educard-shape-2,
        .educard-shape-3 {
            display: none;
        }
        .educard-search form button {
            padding-left: 8px;
            padding-right: 8px;
        }
    }
}
.educard-nav-2 {
    .educard-header-2 {
        &.bg-img {
            padding-top: 150px;
        }
    }
}
