.que.essay textarea.qtype_essay_response {
    width: 100%;
}
.que.essay textarea.qtype_essay_response.qtype_essay_plain {
    white-space: pre-wrap;
    font: inherit;
}
.que.essay textarea.qtype_essay_response.qtype_essay_monospaced {
    white-space: pre;
    font-family: Andale Mono, Monaco, Courier New, DejaVu Sans Mono, monospace;
}
.que.essay .qtype_essay_response.qtype_essay_editor {
    background-color: white;
    min-height: 3em;
}
