{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template enrol_paypal/enrol_page

    Contents of the enrolment widget on the course enrolment page

    Example context (json):
    {
        "cost": "10.00",
        "currency": "USD"
    }
}}
<div class="d-flex justify-content-between">
    <div>{{#str}}cost{{/str}}: {{currency}} {{cost}}</div>
    <div>
        <img alt={{#quote}}{{#str}}paypalaccepted, enrol_paypal{{/str}}{{/quote}}
            src="https://www.paypalobjects.com/webstatic/mktg/Logo/pp-logo-100px.png" >
    </div>
</div>
