#page-local-report_user_license_allocations-index .col-md-9 {
    clear:both;
}

#page-local-report_user_license_allocations-index #iomad_course_selector, #page-local-report_user_license_allocations-index #iomad_license_selector {
    float:left;
}

#page-local-report_user_license_allocations-index #iomad_course_selector select, #page-local-report_user_license_allocations-index #iomad_license_selector select {
    background-color: #ddd;
}

#page-local-report_user_license_allocations-index #iomad_course_selector, #page-local-report_user_license_allocations-index #iomad_license_selector {
    padding-top: 7px;
    padding-bottom: 17px;
    padding-right: 5px;
}

#page-local-report_user_license_allocations-index #mform1 {
    display: flex;
    padding-top: 5px;
}

#page-local-report_user_license_allocations-index .mform fieldset {
    border-bottom: 0px;
}