
#page-marketing {
    margin-top: 20px;

}

.marketing-block {
    text-align: center;
    color:#666;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    .hovershadow;
}
@media (max-width: @screen-sm) {
    .marketing-block {
        display: block;
    }
}

.marketing-block h3 {
    color: @themecolor;
    font-size: 1.4em;
    margin-bottom: 5px;
    font-weight: 400;
}


h2.marketingheader .fa,
h2.quicklinksheader .fa {
    color: #999;
}


