/** General Styles **/
.path-mod-assignment .userpicture,
.path-mod-assignment .picture.user,
.path-mod-assignment .picture.teacher {width:35px;height: 35px;vertical-align:top;}
.path-mod-assignment .feedback .files,
.path-mod-assignment .feedback .grade,
.path-mod-assignment .feedback .outcome,
.path-mod-assignment .feedback .finalgrade {float: right;}
.path-mod-assignment .feedback .disabledfeedback {width: 500px;height: 250px;}
.path-mod-assignment .feedback .from {float: left;}
.path-mod-assignment .files img {margin-right: 4px;}
.path-mod-assignment .files a {white-space:nowrap;}
.path-mod-assignment .late {color: red;}

/** Styles for submissions.php **/
#page-mod-assignment-submissions fieldset.felement {margin-left: 16%;}
#page-mod-assignment-submissions form#options div {text-align:right;margin-left:auto;margin-right:20px;}
#page-mod-assignment-submissions .header .commands {display: inline;}
#page-mod-assignment-submissions .picture {width: 35px;}
#page-mod-assignment-submissions .fullname,
#page-mod-assignment-submissions .timemodified,
#page-mod-assignment-submissions .timemarked {text-align: left;}
#page-mod-assignment-submissions .submissions .grade,
#page-mod-assignment-submissions .submissions .outcome,
#page-mod-assignment-submissions .submissions .finalgrade {text-align: right;}
#page-mod-assignment-submissions .qgprefs #optiontable {text-align:right;margin-left:auto;}

/** Styles for view.php **/
#page-mod-assignment-view .feedback {margin:10px auto;}
#page-mod-assignment-view .feedback .grade {text-align: right;}
#page-mod-assignment-view #online .singlebutton {text-align: center;}
#page-mod-assignment-view #dates .c0 {text-align:right;font-weight:bold;}

#page-mod-assignment-submissions .mform.optionspref .fitem .fitemtitle {width:50%;}
#page-mod-assignment-submissions .mform.optionspref .fitem .felement {width: 30%; margin-left: 51%;}
#page-mod-assignment-submissions.dir-rtl .mform .fitem .felement {margin-right: 51%; margin-left: 0;}

#page-mod-assignment-submissions .optionspref {width: 50%;}
#page-mod-assignment-submissions .fastgbutton {text-align: center;}

#page-mod-assignment-submissions.dir-rtl .fullname,
#page-mod-assignment-submissions.dir-rtl .timemodified,
#page-mod-assignment-submissions.dir-rtl .timemarked {text-align:right;}
#page-mod-assignment-submissions.dir-rtl .mform.optionspref .fitem .fitemtitle {text-align:left;}
#page-mod-assignment-type-uploadsingle-upload.dir-rtl .mdl-left {text-align:right;}