{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template qbank_managecategories/category_name

    Partial template for rendering the category name and question count as a link

    Comments around whitespace keep the output to one line so it works with inplace_editable::get_linkeverything().

    Context variables required for this template:
    * questionbankurl - Url for corresponding question bank.
    * categoryname - Category name. Raw string. Will be HTML-escaped during rendering.
    * questioncount - Number of question in question bank.

    Example context (json):
    {
        "questionbankurl": "question/edit.php?cmid=123",
        "categoryname": "Default for Miscellaneous & < > \" '",
        "questioncount": "1"
    }
}}

<a title="{{#str}}editquestions, question{{/str}}" href="{{{questionbankurl}}}" role="button">{{!
    }}{{categoryname}} ({{questioncount}}){{!
}}</a>
