<input type="button" class="btn btn-primary" data-action="submit" value="{{#str}}enroluserscohorts, enrol_manual{{/str}}">
<input type="button" class="btn btn-secondary" data-action="hide" value="{{#str}}cancel{{/str}}">
