{{#hasicons}}
<ul class="socials unstyled">
    {{#ios}}
        <a href={{{ios}}} class="socialicon ios">
        <i class="fa fa-apple fa-inverse"></i>
        <span class="sr-only">{{#str}} ios, theme_elegance{{/str}}</span>
        </a>  
    {{/ios}}
    {{#android}}
        <a href={{{android}}} class="socialicon android">
        <i class="fa fa-android fa-inverse"></i>
        <span class="sr-only">{{#str}} android, theme_elegance{{/str}}</span>
        </a>  
    {{/android}}
    {{#winphone}}
        <a href={{{winphone}}} class="socialicon winphone">
        <i class="fa fa-windows fa-inverse"></i>
        <span class="sr-only">{{#str}} winphone, theme_elegance{{/str}}</span>
        </a>  
    {{/winphone}}
    {{#windows}}
        <a href={{{windows}}} class="socialicon windows">
        <i class="fa fa-windows fa-inverse"></i>
        <span class="sr-only">{{#str}} windows, theme_elegance{{/str}}</span>
        </a>  
    {{/windows}}
    {{#facebook}}
        <a href={{{facebook}}} class="socialicon facebook">
        <i class="fa fa-facebook fa-inverse"></i>
        <span class="sr-only">{{#str}} sociofacebook, theme_elegance{{/str}}</span>
        </a>  
    {{/facebook}}
    {{#twitter}}
        <a href={{{twitter}}} class="socialicon twitter">
        <i class="fa fa-twitter fa-inverse"></i>
        <span class="sr-only">{{#str}} sociotwitter, theme_elegance{{/str}}</span>
        </a>   
    {{/twitter}}
    {{#googleplus}}
        <a href={{{googleplus}}} class="socialicon googleplus">
        <i class="fa fa-google-plus fa-inverse"></i>
        <span class="sr-only">{{#str}} sociogoogleplus, theme_elegance{{/str}}</span>
        </a>    
    {{/googleplus}}
    {{#linkedin}}
        <a href={{{linkedin}}} class="socialicon linkedin">
        <i class="fa fa-linkedin fa-inverse"></i>
        <span class="sr-only">{{#str}} sociolinkedin, theme_elegance{{/str}}</span>
        </a> 
    {{/linkedin}}
    {{#youtube}}
        <a href={{{youtube}}} class="socialicon youtube">
        <i class="fa fa-youtube fa-inverse"></i>
        <span class="sr-only">{{#str}} socioyoutube, theme_elegance{{/str}}</span>
        </a> 
    {{/youtube}}
    {{#flickr}}
        <a href={{{flickr}}} class="socialicon flickr">
        <i class="fa fa-flickr fa-inverse"></i>
        <span class="sr-only">{{#str}} socioflickr, theme_elegance{{/str}}</span>
        </a> 
    {{/flickr}}
    {{#vk}}
        <a href={{{vk}}} class="socialicon vk">
        <i class="fa fa-vk fa-inverse"></i>
        <span class="sr-only">{{#str}} sociovk, theme_elegance{{/str}}</span>
        </a>
    {{/vk}}
    {{#pinterest}}
        <a href={{{pinterest}}} class="socialicon pinterest">
        <i class="fa fa-pinterest fa-inverse"></i>
        <span class="sr-only">{{#str}} sociopinterest, theme_elegance{{/str}}</span>
        </a> 
    {{/pinterest}}
    {{#instagram}}
        <a href={{{instagram}}} class="socialicon instagram">
        <i class="fa fa-instagram fa-inverse"></i>
        <span class="sr-only">{{#str}} socioinstagram, theme_elegance{{/str}}</span>
        </a>
    {{/instagram}}
    {{#skype}}
        <a href="skype:{{{skype}}}?call" class="socialicon skype">
        <i class="fa fa-skype fa-inverse"></i>
        <span class="sr-only">{{#str}} socioskype, theme_elegance{{/str}}</span>
        </a>
    {{/skype}}
    {{#website}}
        <a href={{{website}}} class="socialicon website">
        <i class="fa fa-globe fa-inverse"></i>
        <span class="sr-only">{{#str}} sociowebsite, theme_elegance{{/str}}</span>
        </a>
    {{/website}}
    {{#blog}}
        <a href={{{blog}}} class="socialicon blog">
        <i class="fa fa-bookmark fa-inverse"></i>
        <span class="sr-only">{{#str}} socioblog, theme_elegance{{/str}}</span>
        </a>
    {{/blog}}
    {{#vimeo}}
        <a href={{{vimeo}}} class="socialicon vimeo">
        <i class="fa fa-vimeo-square fa-inverse"></i>
        <span class="sr-only">{{#str}} sociovimeo, theme_elegance{{/str}}</span>
        </a>
    {{/vimeo}}
    {{#tumblr}}
        <a href={{{tumblr}}} class="socialicon tumblr">
        <i class="fa fa-tumblr-square fa-inverse"></i>
        <span class="sr-only">{{#str}} sociotumblr, theme_elegance{{/str}}</span>
        </a>
    {{/tumblr}}
</ul>
{{/hasicons}}