<div class="container-fluid">
	<div class="row km-front-login-btns">
	
	<div class="login-btns-center">
	<div class="km-front-guest">
			<a href="/googlebutton.php">
				<img src="{{{img}}}" />{{{loginbtntxt}}}
			</a>
		</div>
		<div class="km-front-login">
				<form action="/login/index.php" method="post">
			  	 	<input type="hidden" name="username" value="{{{username}}}">
			   		<input type="hidden" name="password" value="{{{password}}}">
			   		
			  		<input type="submit" value="{{{loginasguest}}}">
				</form>
		</div>
	</div>	
	</div>
</div>