<nav role="navigation" class="navbar {{{navbartype}}} eboxshadow">
	<div class="container-fluid">
		{{#showuser}}
    	<div class="row">
    		<div class="col-xs-12 km-mobile-user">
    				{{{usermenu}}}
    		</div>
    	</div>
    	{{/showuser}}
    	<div class="row" id="km-mobile">
		    <div class="col-xs-12">
		        <div class="navbar-header pull-left">
		            <a class="navbar-brand" href="{{{homeurl}}}">{{{logo}}}</a>
		        </div>
		        <a class="btn btn-navbar" data-toggle="collapse" data-target="#moodle-navbar" id="yui_3_17_2_1_1473168631465_231">
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		       </a>
		    </div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="km-menu-center">
					<div class="km-menu-container">
						<div class="km-logo">
							<a class="navbar-brand" href="{{{homeurl}}}">{{{logo}}}</a>
						</div>
						<div id="moodle-navbar-outer">
						<div id="moodle-navbar" class="km-nav">
							
								<ul class="nav navbar-nav">
									{{{custommenu}}}
								</ul>
							
						</div>
						</div>
						<div id="km-usermenu" class="navbar-header km-user navbar-collapse collapse">  
						{{#showuser}}			           
				            {{{usermenu}}}      
				        {{/showuser}}      
				        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>
