.allocations {
    margin: 0px auto;
}

.allocations .r0 {
    background-color: #eee;
}

.allocations .highlight {
    background-color: #fff3d2;
}

.allocations tr td {
    vertical-align: top;
    padding: 5px;
}

.allocations tr td.peer {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.allocations .reviewedby .info,
.allocations .peer .info,
.allocations .reviewerof .info {
    font-size: 80%;
    color: #888;
    font-style: italic;
}

.allocations .reviewedby img.userpicture,
.allocations .reviewerof img.userpicture {
    height: 16px;
    width: 16px;
    margin-right: 3px;
    vertical-align: middle;
}

.allocations .peer img.userpicture {
    height: 35px;
    width: 35px;
    vertical-align: middle;
    margin-right: 5px;
}

.allocations .peer .submission {
    font-size: 90%;
    margin-top: 1em;
}

#message {
    padding: 5px 5em 5px 15px;
    margin: 0px auto 20px auto;
    width: 60%;
    font-size: 80%;
    position: relative;
}

#message-close {
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 15px;
}

#message.ok {
    color: #547c22;
    background-color: #e7f1c3;
}

#message.error {
    color: #dd0221;
    background-color: #ffd3d9;
}

#message.info {
    color: #1666a9;
    background-color: #d2ebff;
}


