{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_admin_presets/settings_application

    Template for preset loading result.

    Example context (json):
    {
        "nopresets": 0,
        "showactions": 1
    }
}}

{{#appliedchanges.show}}
    {{#appliedchanges.message}}
        {{> core/notification_success}}
    {{/appliedchanges.message}}

    {{#appliedchanges.heading}}
        <h3>{{{.}}}</h3>
    {{/appliedchanges.heading}}

    {{#appliedchanges}}{{> tool_admin_presets/local/tables/old_and_new_value_settings_table}}{{/appliedchanges}}
{{/appliedchanges.show}}
{{^appliedchanges.show}}
    {{#appliedchanges}}
        {{> core/notification_warning}}
    {{/appliedchanges}}
{{/appliedchanges.show}}
{{#skippedchanges.show}}
    {{#skippedchanges.heading}}
        <h3>
            <a data-toggle="collapse" href="#collapseSkippedChanges" role="button" aria-expanded="false" aria-controls="collapseSkippedChanges">
                {{{.}}}
            </a>
        </h3>
    {{/skippedchanges.heading}}

    {{#skippedchanges}}
        <div class="collapse" id="collapseSkippedChanges">
            {{> tool_admin_presets/local/tables/actual_value_settings_table}}
        </div>
    {{/skippedchanges}}
{{/skippedchanges.show}}
