{{< core_form/element-template-inline }}
    {{$element}}
        {{^element.frozen}}
            <button
                class="btn
                {{^element.customclassoverride}}btn-secondary{{/element.customclassoverride}}
                {{#element.customclassoverride}}{{.}}{{/element.customclassoverride}}"
                name="{{element.name}}"
                id="{{element.id}}"
                type="button"
                {{#error}}
                    autofocus aria-describedby="{{element.iderror}}"
                {{/error}}
                {{{element.attributes}}}
                >
                {{{element.value}}}
            </button>
        {{/element.frozen}}
    {{/element}}
{{/ core_form/element-template-inline }}
