#messageteacher_form {
    padding: 2em;
}

#messageteacher_form .mform .fitem div.fitemtitle {
    width: 8em;
}

#messageteacher_form .mform .fitem .felement {
    margin-left: 10em;
}

#messageteacher_form textarea {
    width: 80%;
}

.messageteacher_confirm {
    font-size: 2em;
    font-weight: bold;
    margin-top: 1em;
}
