{{!
    @template theme_educard/nav-drawer
    Example context (json): {}
}}
<div id="nav-drawer" data-region="drawer" 
class="d-print-none moodle-has-zindex closed" tabindex="-1" 
aria-hidden="true" data-aria-hidden-tab-index="0">
    {{> theme_educard/flat_navigation }}
</div>

