.path-mod-resource .resourcecontent {
    text-align: center;
}

.path-mod-resource .resourcedetails {
    font-size: 0.8em;
    color: #555;
}

.resourcelinkdetails {
    font-size: 0.8em;
    color: #555;
}
