#user-grades img.icon{
    display: none !important;
}

#user-grades{
    margin-right: 15px;
    background: #e6e7e8;
    border: solid 10px #e6e7e8;
}

*[id*="grade_"]	{
    width: 50px !important;
}

.gradeparent{
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content; 
    margin-right: 50px;
}

#page-blocks-ases-view-global_grade_book{
    width: 100% !important;    
}

.highlightable{
    width: 50px !important;
    word-wrap: break-word;
}

.range, .controls, .useremail{
    display:none !important;
}

#padre{
    width: 400px;
}

th{
    text-align: center;
    border-radius: 6px 6px  0 0;
}

#region-main{
    margin-left: 50px !important;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/
/*SOLO RAMA UNIVALLE*/
.ases{
    background: #8ed5b5 !important;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 5px;
    color: inherit;
    background-color: #dcdcdd;
  }

  .jumbotron h2,
.jumbotron .h2 {
  color: inherit;
  padding-left: 20px;
}
.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.jumbotron > hr {
  border-top-color: #d5d5d5;
}

.act-notas{
    float: right;
    background: #28a965 !important;
    transition: 0.5s all;
}

.act-notas.first{
    margin-top: 40px;
}

.tutorial-link{
    position: relative;
    margin-left: 320px;
    bottom: -18px;  
    display: unset !important;
}

input{
    text-align: center;
}

.act-notas:first-child{
    margin-top: 37px;
}

.act-notas:hover{
    color: #333;
    background: #6fd49e !important;
    text-decoration: none;
    background-position: 0 -15px;
}

.category.catlevel1.cell.c1.lastcol{
    background: #99bcd8;
    font-size: 25px;
    height: 30px;
    border-bottom: 8px solid #e6e7e8;
} 

.user{
    text-align: left;
}


.item2 { grid-area: menu;
 }
.item3 { grid-area: main;}
.item5 { grid-area: footer; }


.grid-container {
  width: 55%;  
  display: grid;
  grid-template-areas:
    'menu main main main  '
    'menu footer footer footer  ';
  grid-gap: 2px;
  background-color: #d5d5d5;
  padding: 2px;
  margin-bottom: 5px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}

td.cat, th.categoryitem{
    border-right: 8px solid;
    border-color: azure;
}

td.grade{
    background: #d5d5d5;
}

tr.heading > th{
    background:  rgb(198, 206, 215);;
    border-radius: 0; 
}

th.category{
    background: #b8b6b6
}
tr.heading > th.header{
    background: rgb(214, 222, 229);
}
.quickfeedback{
    display: none !important;
}
