body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,input,textarea { font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; }

/* Header 
-------------------------*/

#page-header-wrapper { margin:0 50px; }

#page-header { float:none; }
#page-header .headermain { margin:0.75em 0;font-size:2em; }
#page-header .headermenu a:hover { color:#fff; }


#page-site-index .headermain { margin:0.85em 0;font-size:2.5em; }

/* Menu Navigation 
--------------------------*/

#page-navigation { margin:0;padding:0 40px;font-size:1.1em; }
#page-navigation li { list-style:none;float:left; }
#page-navigation a { display:block;padding:5px 10px; }

/* Breadcrumb 
---------------------------*/

.navbar { padding:3px 50px; }
.navbar .breadcrumb { font-size:0.8em;color:#555; }

/* Content 
---------------------------*/

#page-content-wrapper { margin:10px 50px; }

/* Footer
--------------------------*/

#page-footer { margin:25px 0; }
#page-footer .logininfo  { margin: 1em 0; }