/* Intro
-------------------------*/
#intro,
#pageintro {
    background-color: #f7f7f7;
}

/* Forum
---------------------------*/

.path-mod-forum .forumheaderlist th {
    background-image: url([[pix:theme|gradient-sb]]);
    background-repeat: repeat-x;
    background-position: left top;
}
.path-mod-forum .forumheaderlist .r1 td {
    background-color: #f5f5f5;
}
.forumpost .topic {
    background-color: #eee;
    border-bottom: 2px solid #aaa;
    padding-left: 7px;
}
.forumpost .topic .subject {
    font-size: 1.25em;
}
.forumpost .topic .author {
    font-style: italic;
    color: #444;
    font-size: 0.95em;
}
.forumpost .content .posting {
    padding: 5px 7px 10px 7px;
}
.forumpost .options {
    border-bottom: 5px solid #aaa;
}
/* Assignments
--------------------------*/

.path-mod-assignment #dates table .c0 {
    background-color: #f5f5f5;
}
