<div class="row">
    <div class="col-2">
        <img src="{{{ logourl }}}" alt="Iomad logo">
    </div>
    <div class="col-10 p-t-2">
        <h1 id="dashboardheader">{{# str }}iomaddashboard, block_iomad_company_admin{{/ str }}</h1>
    </div>
</div>

<div class="row m-t-2 p-2 border border-secondary rounded">
   {{# companyselect.onecompany }}
       <div class="col">
           {{ companyselect.companyname }}
       </div>
   {{/ companyselect.onecompany }}
   {{^ companyselect.onecompany }}
       <div class="col-6">
           {{{ companyselect.selectform }}}
       </div>
       <div class="col-6">
           {{{ companyselect.suspended }}}
       </div>
   {{/ companyselect.onecompany }}
</div>

<div class="row m-t-2">
    {{{ tabs }}}
</div>

<div class="row">
    {{{ menu }}}
</div>

