
<h3>{{# str }}restrictcapabilitiesfor, block_iomad_company_admin, {{ title }}{{/ str }}</h3>


{{# roles }}
    <div class="row m-t-1">
        <div class="col-3"><b>{{ name }}</b></div>
        <div class="col-7">{{ description }}</div>
        <div class="col-2"><a href="{{{ link }}}" class="btn btn-primary">{{# str }}edit{{/ str }}</a></div>
    </div>
{{/ roles }}