{{# items }}
	<a href="{{ url }}">
	    <div class="iomadlink mr-2">
	        <div class="iomadicon {{ style }}">
	        	<div class="fa fa-topic {{{ icon }}}"></div>
	            <div class="fa fa-action {{{ iconsmall }}}"></div>
	        </div>
	        <div class="actiondescription">{{ action }}</div>
	    </div>
	</a>
{{/ items }}