{{!
 * @package   block_iomad_company_admin
 * @copyright 2021 Derick Turner
 * @author    Derick Turner
 * @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 }}

<ul class="nav nav-tabs" role="tablist">
    {{# tabs }}
        <li class="nav-item">
            <a 
                id="{{ category }}-tab"
                data-toggle="tab"
                role="tab"
                class="nav-link {{# selected }}show active{{/ selected }}"
                href="#{{ category }}"
                aria-controls="{{ category }}"
                aria-selected="{{# selected }}true{{/ selected }}{{^ selected }}false{{/selected}}"
                ><i class="fa {{ icon }}"></i> {{ label }}</a>
        </li>
    {{/ tabs }}
</ul>