<!-- HOME PAGE 6 START -->

<!-- Navbar -->
{{> theme_educard/frontpage/header/header4}}
<!-- Banner 6 -->    
{{#bannerheadingenabled}}
    {{> theme_educard/frontpage/banner/banner6 }}
{{/bannerheadingenabled}}
<!-- Icon box -->
{{#block02enabled}}
    {{> theme_educard/frontpage/block02/block02_3 }}
{{/block02enabled}}
<!-- Course -->
{{#block13enabled}}
    {{> theme_educard/frontpage/block13/block13_1 }}
{{/block13enabled}}
<!-- Footer -->
{{#block20enabled}}
    {{> theme_educard/frontpage/block20/block20 }}
{{/block20enabled}}
<!-- HOME PAGE 6 END -->
