
{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/oauth2/continue_as_user_page

    Moodle template for the OAuth2 "continue as this user" confirmation page, shown when a user
    is already logged in and reaching an OAuth2 authorization flow.

    Context variables required for this template:
    * sitename - Name of site.,
    * logourl - Flag, logo url,
    * maintenance - Maintenance message,
    * languagemenu - Language menu HTML,
    * actionurl - The URL to submit to in order to continue as the current user,
    * logouturl - The URL to submit to in order to log out and change user,
    * sesskey - The current session key,
    * authinstructions - Custom auth instructions for the left panel, if configured,
    * client - The OAuth2 client requesting access
      * name - The client's name,
      * description - The client's description, as formatted HTML.
    * userinfo - Information about the user
      * username - The username of the user,
      * fullname - The full name of the user,
      * email - The email of the user,
      * userpicture - The rendered user picture HTML.

    Example context (json):
    {
        "sitename": "My Moodle Site",
        "logourl": false,
        "maintenance": "For full access to this site, you need to login in as an admin.",
        "languagemenu": "Choose language",
        "actionurl": "http://localhost/stable_master/oauth2/login",
        "logouturl": "http://localhost/stable_master/oauth2/logout",
        "sesskey": "abcdef1234",
        "authinstructions": "",
        "client": {
            "name": "Example client",
            "description": "This application would like to view your course enrolments."
        },
        "userinfo": {
            "username": "johndoe",
            "fullname": "John Doe",
            "email": "johndoe@example.com",
            "userpicture": "<img class=\"userpicture\" src=\"http://localhost/stable_master/pix/u/1/f1\" alt=\"Picture of John Doe\">"
        }
    }
}}

<div class="loginform">
    {{>core/local/login_form/logo}}
    <h2>{{#str}}oauth2:confirmscopes:clientaccesstitle, moodle, {
        "clientname": {{#quote}}{{client.name}}{{/quote}},
        "clientdescription": {{#quote}}{{client.description}}{{/quote}},
        "sitename": {{#quote}}{{sitename}}{{/quote}}
    }{{/str}}</h2>
    {{>core/oauth2/user}}
    {{>core/local/login_form/maintenance}}

    <p>{{#str}} oauth2:continueasuserinfo, core, {{userinfo.fullname}} {{/str}}</p>
    {{>core/oauth2/continue/form}}
    {{>core/local/login_form/languagemenu}}
</div>
