{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/local/reactive/debugpanel

    Template to render the global reactive debug panel.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
    }
}}
<div id="{{uniqid}}-reactive-debugpanel" class="py-1">
    <div>
        {{#str}} reactive_instances , core_debug {{/str}}
        <span data-for="loaders">
            <span data-for="noinstances">
                {{#str}} reactive_noinstances , core_debug {{/str}}
            </span>
        </span>
    </div>
    <div data-for="subpanel">
        {{> core/loading }}
    </div>
</div>
{{#js}}
require(['core/local/reactive/debugpanel'], function(component) {
    component.init('{{uniqid}}-reactive-debugpanel');
});
{{/js}}
