{{!
 * @package   local_report_companies
 * @copyright 2021 Derick Turner
 * @author    Derick Turner
 * @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}

<li>
    <a class="card-link" href="{{ link }}">{{ fullname }}</a> ({{ email }})
</li>
