<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : Config.xml
    Created on : 13 December 2007, 19:28
    Author     : Alex Billingsley
    Description:
        Purpose of the document follows.
-->

<Config>
    <Languages>
        <Lang displayName="Català" fileName="ca"></Lang>
        <Lang displayName="čeština" fileName="cz"></Lang>
        <Lang displayName="Deutsch" fileName="de"></Lang>
        <Lang displayName="English" fileName="en"></Lang>
        <Lang displayName="Español" fileName="es"></Lang>
        <Lang displayName="français" fileName="fr"></Lang>
        <Lang displayName="italiano" fileName="it"></Lang> 
        <Lang displayName="Nederlands" fileName="nl"></Lang>
        <Lang displayName="Norsk" fileName="no"></Lang>
        <Lang displayName="polski" fileName="pl"></Lang>
        <Lang displayName="Pyccĸий" fileName="ru"></Lang>
        <Lang displayName="suomi" fileName="fi"></Lang>
        <Lang displayName="svenska" fileName="sv"></Lang>
        <Lang displayName="português brasileiro" fileName="pt-br"></Lang>
        <Lang displayName="فارسی" fileName="fa"></Lang>
    </Languages>
    
    <Formats>
        <Format displayName="LaTeX" fileName="Latex"></Format>
        <Format displayName="Maple" fileName="Maple"></Format>
        <Format displayName="MathML" fileName="MathML"></Format>
        <Format displayName="Maxima" fileName="Maxima"></Format>
        <Format displayName="MoodleTex" fileName="MoodleTex"></Format>
        <Format displayName="ASCIIMathML" fileName="ASCIIMathML"></Format>
    </Formats>
</Config>
