<div style="padding: 1em">
    <div>Iframe embedding must be enabled in order to display H5P content in the mobile app.</div>
    <div>You can enable it by checking "Allow frame embedding" in <a href="/admin/settings.php?section=httpsecurity" core-link>Site Administration / Security / Http Security</a></div>
</div>