{{=<% %>=}}
<div style="height: 100%; width: 100%; background: white;">
    <iframe
            src="<% wwwroot %>/mod/hvp/embed.php?id=<% cmid %>&user_id=<% user_id %>&secret=<% secret %>"
            frameborder="0"
            allow="microphone; camera"
            allowfullscreen="allowfullscreen">
    </iframe>
</div>
