{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_myoverview/event-list-item

    This template renders an event list item for the myoverview block.

    Example context (json):
    {
        "enddate": "Nov 4th, 10am",
        "name": "Assignment due 1",
        "url": "https://www.google.com",
        "course": {
            "fullname": "Course 1"
        },
        "action": {
            "name": "Submit assignment",
            "url": "https://www.google.com",
            "itemcount": 1
        },
        "icon": {
            "key": "icon",
            "component": "mod_assign",
            "alttext": "Assignment icon"
        }
    }
}}
<li class="list-group-item" data-region="event-list-item">
    <div class="container-fluid">
        <div class="row">
            {{#action.itemcount}}
                {{#action.actionable}}
                    <div class="pull-xs-right hidden-sm-down m-l-1">
                        <span class="tag tag-pill tag-default">{{.}}</span>
                    </div>
                {{/action.actionable}}
            {{/action.itemcount}}
            <div class="d-inline-block pull-xs-right hidden-sm-down m-l-1">
                {{#action.actionable}}
                    <a href="{{{action.url}}}">{{action.name}}</a>
                {{/action.actionable}}
                {{^action.actionable}}
                    <div class="text-muted">{{action.name}}</div>
                {{/action.actionable}}
            </div>
            <div class="d-inline-block pull-xs-right hidden-sm-down">{{enddate}}</div>
            <div class="d-inline-block">
                {{#icon}}{{#pix}} {{key}}, {{component}}, {{alttext}} {{/pix}}{{/icon}}
            </div>
            <div class="d-inline-block m-l-1">
                <div class="container">
                    <div class="row">
                        <a href="{{{url}}}">{{name}}</a>
                    </div>
                    <div class="row text-muted">
                        {{course.fullname}}
                    </div>
                </div>
            </div>
            <div class="d-block text-xs-right hidden-md-up">{{enddate}}</div>
        </div>
    </div>
</li>
