{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_myoverview/main

    This template renders the main content area for the myoverview block.

    Example context (json):
    {}
}}

<div id="block-myoverview-{{uniqid}}" class="block-myoverview" data-region="myoverview">
    <div class="container p-0 m-b-1">
        <div class="row no-gutters">
            {{#coursesview}}
                {{#hascourses}}
                    <div class="{{#viewingtimeline}}d-none{{/viewingtimeline}}" data-tab-content="courses">
                        {{> block_myoverview/courses-view-nav-grouping-display-filter }}
                    </div>
                {{/hascourses}}
            {{/coursesview}}
        </div>
    </div>
    <div class="container p-0">
        {{#coursesview}}
        {{> block_myoverview/courses-view }}
        {{/coursesview}}
    </div>
</div>
