{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template aiplacement_courseassist/action_button
    * isdropdown - Is this a dropdown item
    * actions - The action being performed
    * buttontext - The text to display for the button
    * title - The tooltip/title text to use

    Template to display sparkles icon.

    Example context (json):
    {
        "isdropdown": true,
        "action": "explain_text",
        "buttontext": "Explain",
        "title": "Create an AI-generated explanation of the page content"
    }
}}
<button
    class="{{#isdropdown}}dropdown-item{{/isdropdown}}{{^isdropdown}}btn btn-outline-secondary{{/isdropdown}} ai-action"
    type="button"
    title="{{title}}"
    data-action="{{action}}"
    data-bs-toggle="tooltip"
    data-bs-placement="right"
    aria-controls="ai-drawer"
    data-input-type="action"
    data-bs-delay="200"
>
    {{^isdropdown}}
        {{> aiplacement_courseassist/sparkles_icon }}
    {{/isdropdown}}
    {{buttontext}}
</button>