.path-mod-blti .bltiframe {position: relative;width: 100%;height: 100%;}

/** General Styles **/
.path-mod-blti .userpicture,
.path-mod-blti .picture.user,
.path-mod-blti .picture.teacher {width:35px;height: 35px;vertical-align:top;}
.path-mod-blti .feedback .files,
.path-mod-blti .feedback .grade,
.path-mod-blti .feedback .outcome,
.path-mod-blti .feedback .finalgrade {float: right;}
.path-mod-blti .feedback .disabledfeedback {width: 500px;height: 250px;}
.path-mod-blti .feedback .from {float: left;}
.path-mod-blti .files img {margin-right: 4px;}
.path-mod-blti .files a {white-space:nowrap;}
.path-mod-blti .late {color: red;}
.path-mod-blti .message {text-align: center;}

/** Styles for submissions.php **/
#page-mod-blti-submissions fieldset.felement {margin-left: 16%;}
#page-mod-blti-submissions form#options div {text-align:right;margin-left:auto;margin-right:20px;}
#page-mod-blti-submissions .header .commands {display: inline;}
#page-mod-blti-submissions .picture {width: 35px;}
#page-mod-blti-submissions .fullname,
#page-mod-blti-submissions .timemodified,
#page-mod-blti-submissions .timemarked {text-align: left;}
#page-mod-blti-submissions .submissions .grade,
#page-mod-blti-submissions .submissions .outcome,
#page-mod-blti-submissions .submissions .finalgrade {text-align: right;}
#page-mod-blti-submissions .qgprefs #optiontable {text-align:right;margin-left:auto;}
