.path-mod-lti .ltiframe {position: relative;width: 100%;height: 100%;}

/** General Styles **/
.path-mod-lti .userpicture,
.path-mod-lti .picture.user,
.path-mod-lti .picture.teacher {width:35px;height: 35px;vertical-align:top;}
.path-mod-lti .feedback .files,
.path-mod-lti .feedback .grade,
.path-mod-lti .feedback .outcome,
.path-mod-lti .feedback .finalgrade {float: right;}
.path-mod-lti .feedback .disabledfeedback {width: 500px;height: 250px;}
.path-mod-lti .feedback .from {float: left;}
.path-mod-lti .files img {margin-right: 4px;}
.path-mod-lti .files a {white-space:nowrap;}
.path-mod-lti .late {color: red;}
.path-mod-lti .message {text-align: center;}

/** Styles for submissions.php **/
#page-mod-lti-submissions fieldset.felement {margin-left: 16%;}
#page-mod-lti-submissions form#options div {text-align:right;margin-left:auto;margin-right:20px;}
#page-mod-lti-submissions .header .commands {display: inline;}
#page-mod-lti-submissions .picture {width: 35px;}
#page-mod-lti-submissions .fullname,
#page-mod-lti-submissions .timemodified,
#page-mod-lti-submissions .timemarked {text-align: left;}
#page-mod-lti-submissions .submissions .grade,
#page-mod-lti-submissions .submissions .outcome,
#page-mod-lti-submissions .submissions .finalgrade {text-align: right;}
#page-mod-lti-submissions .qgprefs #optiontable {text-align:right;margin-left:auto;}

/* Styles for admin */
.path-admin-mod-lti .mform .fitem .fitemtitle { min-width:18em;padding-right:1em } /* Prevent setting titles from wrapping */

/* Styles for instructor editing an external tool */

.path-mod-lti .mform .fitem .fitemtitle { min-width:14em;padding-right:1em } /* Prevent setting titles from wrapping */

/* Styles for instructor_edit_tool_type.php */
#page-mod-lti-instructor_edit_tool_type .mform .fitem .fitemtitle { min-width:18em;padding-right:1em } /* Prevent setting titles from wrapping */
