/**
 * Container.
 */
.gradeparent {
    position: relative;
}

/**
 * Tooltip and overlay.
 */
.gradeparent .grader-information-tooltip {
    min-width: 200px;
}
.gradeparent .graderreportoverlay {
    background-color: white;
    width: auto;
    padding: 10px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/**
 * The table.
 */
.gradeparent table {
    border: 1px solid #ccc;
    border-collapse: separate;
    border-spacing: 0;
    border-bottom-width: 0;
    border-right-width: 0;
}

/**
 * All the cells.
 */
.gradeparent .cell {
    border: 1px solid #ccc;
    border-top-width: 0;
    border-left-width: 0;
    padding: 4px 5px;
    vertical-align: middle;
}

/**
 * Stripped table.
 */
.gradeparent tr:nth-of-type(even) .cell {
    background-color: #f9f9f9;
}

/**
 * All the floating divs.
 */
.gradeparent .floater {
    display: none;
}
.gradeparent .floating {
    display: block;
}

/**
 * All the headers + floating cells.
 */
.gradeparent .heading .cell,
.gradeparent .avg .cell,
.gradeparent .user.cell {
    font-size: 14px;
    font-weight: normal;
}

/**
 * All the floating cells.
 */
.gradeparent .floater .cell {
    background-color: #f9f9f9;
}

/**
 * The header and footer.
 */
.gradeparent .heading .cell,
.gradeparent .avg .cell {
    white-space: nowrap;
}

/**
 * The user cells.
 */
.gradeparent .user.cell {
    min-width: 200px;
    width: 200px;
}
.gradeparent .user.cell .userpicture {
    margin: 0 4px;
    border: none;
    vertical-align: top;
}

/**
 * The additional user fields.
 */
.gradeparent .userfield {
    font-weight: normal;
}

/**
 * The footer's header.
 */
.gradeparent .avg .header {
    font-weight: bold;
    text-align: center;
}

/**
 * The footer's cells.
 */
.gradeparent .avg.floating .cell {
    border-top-width: 1px;
}
/**
 * The footer's range field.
 */
.gradeparent .avg .range {
    text-align: right;
}

/**
 * The header and user fields.
 */
.gradeparent .heading .cell,
.gradeparent .user.cell {
    text-align: left;
}

/**
 * Content styling.
 */
.gradeparent .heading .cell .iconsmall {
    /* Fixes inconsistencies in cell height on IE. */
    padding-top: 0;
    padding-bottom: 0;
}
.gradeparent .sorticon {
    margin-left: 3px;
}
.dir-rlt .gradeparent .sorticon {
    margin-left: 0;
    margin-right: 3px;
}
.gradeparent .gradevalue {
    display: inline-block;
}

/** MDL-46812 **/
#page-grade-report-grader-index.jsenabled .right_scroller.topscroll {
    background-color: #ececec;
    height: 20px;
    margin: 0;
    padding: 0;
}
#page-grade-report-grader-index.jsenabled .topscrollcontent {
    background-color: #ececec;
    height: 20px;
}
.jsenabled.path-grade-report-grader .left_scroller {
    border-top: 20px solid #ececec;
}
