#intro {
	border-color: #ddd;
	margin: 2% 10%;
	padding: 10px;
}

/* 
** Needs to be taken out of mod sheets and added
** to Base so we can change the following to
** just .mod_introbox.
*/

#urlintro,
#pageintro,
#resourceintro { 
	border-color:#ddd;
	margin: 0 10% 3%
}

/* Forums 
-------------------------*/

.path-mod-forum .forumheaderlist {
	border-color: #ddd;
	border-collapse: collapse;
}

.path-mod-forum .forumheaderlist td {
	border-color: #ddd;
}

.path-mod-forum .forumheaderlist th {
	text-align: left;
	border-right: 1px solid #ddd;
}

.forumnodiscuss,
.path-mod-forum .forumheaderlist .replies {
	text-align: center;
}

.forumpost {
	border: none;
}

.forumpost .content .commands,
.forumpost .content .link {
	font-size: 0.9em;
}

.forumpost .attachments {
	font-size: 0.95em;
	margin: 0.5em 0;
}

.forumpost .attachments .icon {
	height: 14px;
	width: 14px;
}

.forumolddiscuss {
	text-align:right;
}

/* Database
------------------------*/

.path-mod-folder #pageintro {
	border-color: #ddd;
	width: 75%;
	margin: 0 auto;
}

.path-mod-folder .foldertree {
	width: 60%;
	margin: 1.5em auto;
	padding: 10px;
}

/* Assignment
------------------------*/

.path-mod-assignment .reportlink {
	font-size: 0.9em;
}

.path-mod-assignment #dates {
	margin: 1em auto;
	border: none;
}

.path-mod-assignment #dates .c0 {
	background: #f6f6f6;
}

.path-mod-assignment #dates table {
	margin: 0 auto;
}

.path-mod-assignment #dates table td {
	border: 1px solid #ddd;
}

.path-mod-assignment .generalbox {
	border: none;
}

.path-mod-assignment #intro {
	border: 1px solid #ddd;
}

.path-mod-assignment .generalbox .files {
	width:35%;
	margin: 2em auto;
	border-bottom: 1px solid #eee;
	padding: 10px;
}

.path-mod-assignment #userfiles {
	width: 50%;
	margin: 0 auto;
	padding: 10px;
}

.path-mod-assignment #userfiles .files {
	width:100%;
}

.path-mod-assignment .nofiles {
	text-align: center;
	color: #f00;
}

.path-mod-assignment #notice {
	padding: 10px 10px 0;
	width: 50%;
	margin: 0 auto;
}

.path-mod-assignment #notice .buttons {
	margin: 0;
}

#page-mod-assignment-view .uploadbox .mform {
	margin: 1em 22%;
}

#page-mod-assignment-view .uploadbox .mform .ffile {
	margin-left: 27%;
	width: 100%;
}

#page-mod-assignment-view .uploadbox .mform .fitemtitle {
	width: 24%;
}

#page-mod-assignment-view .mform .fsubmit {
	text-align: center;
}

#page-mod-assignment-view h3.main {
	padding-top: 1em;
}

#page-mod-assignment-view #online {
	padding: 10px;
	width: 90%;
}

#online,
#onlineenter {
	border: none;
	margin-top: 1em;
}

#page-mod-assignment-view #onlineenter .mform {
	margin: 0;
}

#page-mod-assignment-view #onlineenter .fgroup {
	text-align: center;
	width: 90%;
}

#page-mod-assignment-submissions .firstinitial {
	margin-top: 1em;
}

#page-mod-assignment-submissions .lastinitial {
	margin-bottom: 0.5em;
}

#page-mod-assignment-submissions #attempts {
	font-size: 0.95em;
}

#page-mod-assignment-submissions #attempts td {
	vertical-align: middle;
}

#page-mod-assignment-submissions #attempts .status .s0 {
	background: #ffc;
}

#page-mod-assignment-submissions #optiontable .iconhelp {
	margin-left: 3px;
}

#page-mod-assignment-submissions #optiontable #perpage {
	width: 50px;
}

#page-mod-assignment-submissions .feedback .finalgrade {
	margin: 5px 0;
}

#page-mod-assignment-submissions .feedback #edit-submissioncomment_tbl {
	margin-bottom: 5px;
}

#page-mod-assignment-submissions .feedback .buttons input {
	margin: 0 5px 10px;
}

#page-mod-assignment-submissions .feedback .mform {
	width: 75%;
	margin: 10px auto;
}

#page-mod-assignment-submissions .feedback .mform .fitemtitle {
	width: 27%;
}

#page-mod-assignment-submissions .feedback .mform .ffile {
	margin-left: 29%;
}

#page-mod-assignment-submissions .feedback .mform .fsubmit {
	text-align: center;
}

#page-mod-assignment-submissions .feedback .user,
#page-mod-assignment-submissions .feedback .topic {
	border-top: 1px solid #ddd;
}

#page-mod-assignment-submissions .feedback .topic .time {
	font-size: 0.9em;
	font-style: italic;
	color: #555;
}

#page-mod-assignment-submissions .feedback .topic .singlebutton {
	margin-top: 5px;
}

/* Chat
------------------------*/

#page-mod-chat-view #enterlink {
	text-align: center;
	border: none;
}

#page-mod-chat-view #chatcurrentusers {
	margin: 10px auto;
}

.path-mod-chat.pagelayout-embedded #content {
	padding: 5px;
}

.path-mod-chat .generaltable,
.path-mod-chat .generaltable td,
.path-mod-chat .generaltable th {
	border: none !important;
}

.chat-message .text .title {
	font-style: italic;
	color: #444;
}

#mod-chat-gui_basic #participants ul {
	margin: 0 0 1em;
}

#mod-chat-gui_basic #participants ul li {
	list-style: none;
	padding: 5px 0;
	line-height: 1.75;
}

#mod-chat-gui_basic #participants ul li a {
	float: left;
	padding-right: 10px;
}

#mod-chat-gui_basic #editing {
	margin-bottom: 15px;
}

#mod-chat-gui_basic #editing input {
	margin: 5px 5px 0;
}

#mod-chat-gui_basic #messages dl {
	margin: 0 0 5px 1em;
}

#mod-chat-gui_basic #messages dt {
	font-weight: normal;
}

#page-mod-chat-report .generalbox {
	padding: 10px;
	width: 50%;
	margin: 0 auto 1em;
}

#page-mod-chat-report .generalbox p {
	margin: 0;
}

#page-mod-chat-report #notice {
	margin-bottom: 1em;
}

/* Choice
-------------------------*/

.path-mod-choice #notice {
	width: 50%;
	margin: 1em auto;
	padding: 5px;
}

.path-mod-choice .results .header, .path-mod-choice td {
	border-top: 1px solid;
	border-color: #ddd;
}

.path-mod-choice .count,
.path-mod-choice .results .header,
.path-mod-choice .data,
.path-mod-choice .lastcol {
	border-right: 1px solid #ddd;
}

.path-mod-choice .col1, .path-mod-choice .c0,
.path-mod-choice .lastcol {
	border-left: 1px solid #ddd;
}

.path-mod-choice .lastrow td {
	border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
}

.path-mod-choice .count {
	border-top: 2px solid #ddd;
	background: #f5f5f5;
	border-bottom: 1px solid #ddd;
}

/* Lesson 
--------------------------*/

.path-mod-lesson .firstpageoptions {
	padding: 10px;
}

.path-mod-lesson .centerpadded {
	text-align: center;
	display: block;
	padding: 10px;
}

.path-mod-lesson .edit_pages_box .addlinks {
	text-align: center;
}

.path-mod-lesson .feedback {
	text-align: center;
	font-weight: bold;
}

.path-mod-lesson .password-form .generalbox {
	padding: 10px;
	width: 50%;
	text-align: center;
}

.path-mod-lesson .center {
	text-align: center;
}

.path-mod-lesson .ongoing {
	color: #00f;
	margin: 0 0 1em;
}

.path-mod-lesson .clock .content {
	font-size: 1.2em;
	padding-left: 15px;
}

.path-mod-lesson .leftduring .generalbox {
	padding: 10px;
	width: 50%;
	margin: 0 auto;
}

.path-mod-lesson .correctanswer {
	margin: 1em auto;
	width: 50%;
	padding: 10px;
}

.path-mod-lesson .correctanswer .correct {
	color: #0fb337;
}

#page-mod-lesson-view #pageheader,
#page-mod-lesson-view #pageheader legend {
	border: none;
}

#page-mod-lesson-continue .generalbox {
	padding: 10px;
}

.branchbuttoncontainer {
	text-align: center;
}

.branchbuttoncontainer input {
	margin: 10px;
}

/* Resources
-------------------------------*/

.path-mod-page .generalbox {
	border: none;
}

.resourceworkaround,
.urlworkaround,
.modified {
	text-align: center;
	font-size: 0.85em;
	color: #777;
	margin-top: 1em;
}

#page-mod-folder-edit .foldertree {
	width: 65%;
}

/* Quiz
--------------------------------*/

.que {
	border-color: #eee;
}