// Import Boost Core moodle CSS
@import "../../boost/scss/moodle";

img.userpicture {
  margin-right: 0.5rem;
}

.path-mod-forum {
  // Style for the forum subscription mode node.
  .subscriptionmode {
    color: $body-color;
  }

  // Style for the currently selected subscription mode.
  .activesetting {
    color: $body-color;
    font-weight: bold;
  }
}

.tertiary-navigation {

  &.full-width-bottom-border {
    width: calc(100% + 2.5rem);
    margin-left: -1.25rem;
    margin-right: -1.25rem;

    @include media-breakpoint-down(sm) {
      width: calc(100% + 2rem);
      margin-left: -1rem;
      margin-right: -1rem;
    }
  }
}

#page-footer .homelink,
#page-footer .tool_dataprivacy,
#page-footer .purgecaches {
  padding-bottom: 5px;
}

.customize-course-home {
  flex-wrap: wrap;
  display: flex;
  gap: 24px;
}

.btn-primary {
  color: #FFFFFF !important;
  border-color: #29BA85 !important;
  background-color: #29BA85 !important;
}

.btn-outline-primary {
  border-color: #29BA85 !important;
  color: #29BA85 !important;
}

.btn-outline-primary:hover {
  background-color: #29BA85 !important;
  color: #f8f9fa !important;
}

.moremenu .nav-link.active {
  background-color: #f8f9fa;
  border-color: transparent;
  border-bottom-color: #29BA85;
  color: #29BA85 !important;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  outline: .2rem solid #29BA85;
  box-shadow: inset 0 0 0 2px #29BA85;
}

.moremenu .nav-link.active:focus,
.moremenu .nav-link.active:hover {
  background-color: #f8f9fa;
  border-bottom-color: #29BA85;
}

.primary-navigation .navigation .nav-link {
  font-weight: 600;
}

.color-lms {
  color: $green-lms;
}

.title-course {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.customize-coursebox {
  border-radius: 12px;
  background-color: #ffffff !important;
  border: 1px solid #FFFFFF !important;
  flex: 0 0 calc(33.33% - 24px);
}

body {
  background-color: #F4F6F4 !important;
}

.customize-available-course {
  color: #4D4D4D !important;
  //styleName: Heading/$heading-03;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.main-inner {
  background-color: #F4F6F4 !important;
}

#region-main {
  background-color: #F4F6F4 !important;
}

.card-grade {
  // display: flex;
  // justify-content: space-between;
  border: none;
  border-radius: 12px;
  width: 240px;
  // height: 130px;
}

.grade-percent {
  font-size: 3rem;
}

.grade-min-percent {
  color: #8E8E8E;
}

.wrap-card {
  display: flex;
  justify-content: space-between;
}

.path-mod-quiz #mod_quiz_navblock .qnbutton {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 7px;
}

.trafficlight {

}

.qnbutton.notyetanswered.thispage {
  color: #1D1D1D !important;
  border: #1D1D1D !important;
}

.qnbutton.notyetanswered {
  border: 1px solid #DFDFDF !important;
  color: #9CA3AF !important;
}

//
//.qnbutton.answersaved.thispage {
//  color: #1D1D1D !important;
//  border: 1px solid #1D1D1D !important;
//
//}


.qnbutton.answersaved {
  border: 1px solid #34D399 !important;
  color: #34D399 !important;
}

.qnbutton.answersaved.flagged {
  border: 1px solid #FBBF24 !important;
  color: #FBBF24 !important;
}

.path-mod-quiz .qnbutton.thispage {

}

.path-mod-quiz #mod_quiz_navblock .qnbutton .thispageholder {
  border-radius: 6px !important;
}

.path-mod-quiz #mod_quiz_navblock .qnbutton.thispage .thispageholder {
  border-width: 1px;
}

.qnbutton.notyetanswered.flagged {
  color: #A78BFA !important;
  border: 1px solid #A78BFA !important;
}

.qnbutton.flagged {
  color: #A78BFA !important;
  border: 1px solid #A78BFA !important;
}

//.path-mod-quiz .qnbutton.thispage {
//  color: #1D1D1D !important;
//}

.btn-primary:focus, .btn-primary.focus {
  outline: 0.2rem solid #29BA85;
}

.color-flagged {
  color: #A78BFA !important;
}

.color-notyetanswered {
  color: #9CA3AF !important;
}

.color-answered {
  color: #34D399 !important;
}

.color-flagged-answered {
  color: #FBBF24 !important;
}

.timer-box {
  display: inline-block;
  padding: 20px;
  width: 90px;
  height: 110px;
  border-radius: 10px;
  background-color: #ffe6e6;
  text-align: center;
  margin: 10px;

}

.timer-box h1 {
  color: #ff4d4d;
  margin-bottom: 0;
}

.timer-box p {
  margin-top: 0;
  font-size: 1rem;
  color: #333;
}
#quiz-timer {
}