@font-face {
    font-family: alloveragain;
    src: url([[font:theme|alloveragain.woff]]);
}

.navbar .brand {
    font-family: alloveragain;
    color: red;
    }

.iomadlink {
    font-family: alloveragain;
    font-size: 9px;
}
