
// IOMAD Colours
@IOMAD_Red: #d20001;
@IOMAD_Yellow: #ffdf00;
@IOMAD_Green: #93d801;
@IOMAD_Blue: #76ebff;
@IOMAD_Purple: #b639b7;
@IOMAD_Orange: #f75701;
@IOMAD_Border_black: #a8a8a8;


@font-face {
    font-family: iomad;
    src: url([[font:theme|astonish.woff]]);
}

.navbar .brand {
    font-family: iomad;
    font-size: 36px;
    color: red;
    }

// Dashboard layout
.dashboard-section .headingblock {
    display: none;
    }

// Links to reports.
.iomadlink {
    font-family: iomad;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    line-height: 120%;
}

.iomadlink a {
    color: @IOMAD_Orange;
    padding: 0 10px;
    }

// Page header.
.navbar-text a {
    color: @IOMAD_Orange;
    }

#page-header h1 {
    font-family: iomad;
    font-size: 40px;
    font-weight: normal;
    color: @IOMAD_Orange;
    }

// Regions.
#region-main {
    background-color: #ffffff;
    padding: 5px 5px 5px 5px;
    border:2px solid #A8A8A8;
    -webkit-box-shadow:rgba(0, 0, 0, 0.0470588) 0 1px 1px inset;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    box-shadow:rgba(0, 0, 0, 0.0470588) 0 1px 1px inset;
    }

// Blocks.
.iomad_block_title {
    color: @IOMAD_Orange;
    font-size: 26px;
    text-transform: uppercase;
    font-family: iomad;
    font-weight: normal;
    }

.block .header .title h2 {
    .iomad_block_title;
    }    

.block .content h3 {
    .iomad_block_title;
    }  

.block {
    border: 2px solid @IOMAD_Border_black;
    background-color: #ffffff;
    }

body {
    background-color: #555555;
    }

#page-footer a {
    color: #ffffff;
    }

#page-footer {
    color: @IOMAD_Orange;
    border-top-width: 0px;
    }