<div id="contact-{{userid}}" class="row-fluid contact {{#lastmessage}}contact-msg{{/lastmessage}} {{^lastmessage}}contact-profile{{/lastmessage}} {{#selected}}selected{{/selected}}" data-userid="{{userid}}">
    <div class="span2 picture">
        <img height="64" src="{{profileimageurl}}" alt="" />
    </div>
    <div class="span10 information">
        <div class="name">{{fullname}} {{#isonline}}*{{/isonline}}</div>
        {{#lastmessage}}
            <p class="lastmessage">{{.}}</p>
        {{/lastmessage}}
    </div>
</div>
