<div class="messaging-area">
    <div class="row-fluid">
        <div class="span4 contacts-area">
            {{#contacts}}
                {{> core_message/contacts }}
            {{/contacts}}
        </div>
        <div class="span8 messages-area">
            {{#messages}}
                {{> core_message/messages }}
            {{/messages}}
        </div>
    </div>
</div>