<div class="row-fluid contact {{#selected}}selected{{/selected}} {{#lastmessage}}{{^isread}}unread{{/isread}}{{/lastmessage}}"
     data-action="{{#lastmessage}}view-contact-msg{{/lastmessage}}{{^lastmessage}}view-contact-profile{{/lastmessage}}"
     data-userid="{{userid}}" data-messageid="{{#messageid}}{{.}}{{isread}}{{/messageid}}" data-region="contact" tabindex="0">
    <div class="span3 picture">
        <img src="{{profileimageurl}}" alt="" />
    </div>
    <div class="span9 information">
        <div class="name">
            {{fullname}}
            <span {{^isonline}}class="hidden"{{/isonline}} data-region="contact-icon-online">
                {{#pix}} t/go, core, {{#str}} online, message {{/str}} {{/pix}}
            </span>
            <span {{^isblocked}}class="hidden"{{/isblocked}} data-region="contact-icon-blocked">
                {{#pix}} t/block, core, {{#str}} contactblocked, message {{/str}} {{/pix}}
            </span>
        </div>
        <p class="lastmessage" data-region="lastmessage">
            {{#lastmessage}}
                {{.}}
            {{/lastmessage}}
        </p>
    </div>
    <div class="span2 unread-count-container">
        <span data-region="unread-count" class="badge badge-important">{{unreadcount}}</span>
    </div>
</div>
