<div class="row-fluid profile" data-userid="{{otheruserid}}" data-region="profile">
    <div class="row-fluid picture">
        <div class="span1">
            <img height="64" src="{{profileimageurl}}" alt="" />
        </div>
        <div class="span11">
            <div class="name">{{fullname}} {{#isonline}}*{{/isonline}}</div>
        </div>
    </div>
    <div class="row-fluid information">
        <div class="span12">
            <ul>
                <li><strong>{{#str}}email{{/str}}:</strong> {{email}}</li>
                <li><strong>{{#str}}country{{/str}}:</strong> {{country}}</li>
                <li><strong>{{#str}}city{{/str}}:</strong> {{city}}</li>
            </ul>
        </div>
    </div>
    <div class="row-fluid actions">
        <div class="span3">
            <input type="button" value="{{#str}}viewprofile{{/str}}" data-action="profile-view"/>
        </div>
        <div class="span3">
            {{#iscurrentuser}}
                <input type="button" value="{{#str}}sendmessage, message{{/str}}" data-action="profile-send-message"/>
            {{/iscurrentuser}}
            {{^iscurrentuser}}
                <input type="button" value="{{#str}}viewconversation, message{{/str}}" data-action="profile-send-message"/>
            {{/iscurrentuser}}
        </div>
        <div class="span3">
            {{#isblocked}}
                <input type="button" value="{{#str}}unblockcontact, message{{/str}}" data-action="profile-unblock-contact"/>
            {{/isblocked}}
            {{^isblocked}}
                <input type="button" value="{{#str}}blockcontact, message{{/str}}" data-action="profile-block-contact"/>
            {{/isblocked}}
        </div>
        <div class="span3">
            {{#iscontact}}
                <input type="button" value="{{#str}}removecontact, message{{/str}}" data-action="profile-remove-contact"/>
            {{/iscontact}}
            {{^iscontact}}
                <input type="button" value="{{#str}}addcontact, message{{/str}}" data-action="profile-add-contact"/>
            {{/iscontact}}
        </div>
    </div>
</div>
