{{#displayblocktime}}
    <div class="blocktime" data-region="blocktime" data-blocktime="{{blocktime}}" data-id="{{id}}{{isread}}">
        {{blocktime}}
    </div>
{{/displayblocktime}}
<div class="message row-fluid"
    data-region="message"
    data-blocktime="{{blocktime}}"
    data-id="{{id}}{{isread}}"
    data-messageid="{{id}}"
    data-messageread="{{isread}}"
    tabindex="0">

    <div class="content {{position}}">
        <span class="text" data-region="message-text">
            {{{text}}}
        </span>
        <span class="timesent">
            {{timesent}}
        </span>
    </div>
</div>
