<div class="row-fluid contact {{#selected}}selected{{/selected}}"
     data-action="{{#lastmessage}}view-contact-msg{{/lastmessage}}{{^lastmessage}}view-contact-profile{{/lastmessage}}"
     data-userid="{{userid}}" data-messageid="{{#messageid}}{{.}}{{isread}}{{/messageid}}" data-region="contact" tabindex="0">
    <div class="span3 picture">
        <img src="{{profileimageurl}}" alt="" />
    </div>
    <div class="span9 information">
        <div class="name">{{fullname}} {{#isonline}}*{{/isonline}}</div>
        <p class="lastmessage" data-region="lastmessage">
            {{#lastmessage}}
                {{.}}
            {{/lastmessage}}
        </p>
    </div>
</div>
