<div class="messages" data-userid="{{otheruserid}}">
    <div class="name">
        {{otheruserfullname}}
    </div>
    {{#messages}}
        {{> core_message/message }}
    {{/messages}}
</div>
<div class="response">
    {{#iscurrentuser}}
        {{> core_message/message_response }}
    {{/iscurrentuser}}
</div>
