<div class="message-text-container">
    <textarea data-region="send-message-txt"
        rows="1"
        data-auto-rows
        data-max-rows="5"
        placeholder="{{#str}} writeamessage, message {{/str}}"></textarea>
</div>
<div class="send-button-container">
    <button class="btn btn-link" data-action="send-message">{{#str}}send, message{{/str}}</button>
</div>
