<div class="searcharea">
    <form>
        <label class="accesshide" for="filter{{uniqid}}">{{#str}}search{{/str}}</label>
        <input type="text" id="filter{{uniqid}}" placeholder="{{#str}}search{{/str}}" value="{{search}}">
    </form>
</div>
<div class="contacts" data-region="contacts" data-region-content="{{#conversationsselected}}conversations{{/conversationsselected}}{{^conversationsselected}}contacts{{/conversationsselected}}">
    {{> core_message/message_area_contacts }}
</div>
{{! Hidden div to load the other tabs items in via JS when appropriate. }}
<div class="contacts" data-region="contacts" data-region-content="{{#conversationsselected}}contacts{{/conversationsselected}}{{^conversationsselected}}conversations{{/conversationsselected}}" style="display:none;"></div>
<div class="row-fluid tabs">
    <div class="span6 tab tabconversations {{#conversationsselected}}selected{{/conversationsselected}}" data-action="conversations-view">
        <div>{{#pix}}t/message, moodle{{/pix}}</div>
        <div>{{#str}}conversations, message{{/str}}</div>
    </div>
    <div class="span6 tab tabcontacts {{^conversationsselected}}selected{{/conversationsselected}}" data-action="contacts-view">
        <div>{{#pix}}i/cohort, moodle{{/pix}}</div>
        <div>{{#str}}contacts, message{{/str}}</div>
    </div>
</div>