{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_message/preferences_notifications_list

    The list of notifications for the message preferences page

    Classes required for JS:
    * None

    Data attibutes required for JS:
    * None

    Context variables required for this template:
    * userid The logged in user id
    * disableall If the user has disabled notifications
    * components The list of notification components

    Example context (json):
    {
        "userid": 1,
        "disableall": 0,
        "components": [
            {
                "displayname": "System",
                "processors": [
                    {
                        displayname: "Popup notification",
                        name: "popup",
                        userid: 1,
                        contextid: 18,
                        hassettings: true
                    }
                ],
                "notifications": [
                    {
                        "displayname": "Notices about minor problems",
                        "preferencekey": "message_provider_moodle_notices",
                        "processors": [
                            {
                                "displayname": "Popup notification",
                                "name": "popup",
                                "locked": 0,
                                "loggedin": {
                                    "name": "loggedin",
                                    "displayname": "When I'm logged in",
                                    "checked": 0,
                                    "iconurl": "some url"
                                },
                                "loggedoff": {
                                    "name": "loggedoff",
                                    "displayname": "When I'm offline",
                                    "checked": 0,
                                    "iconurl": "some url"
                                },
                            }
                        ]
                    }
                ]
            }
        ]
    }
}}
<h2>{{#str}} notificationpreferences, message {{/str}}</h2>
<div class="preferences-container {{#disableall}}disabled{{/disableall}}" data-user-id="{{userid}}">
    <div class="disable-notification-container">
        <input id="disable-notifications"
           type="checkbox"
           data-disable-notifications
           {{#disableall}}checked{{/disableall}} />
        <label for="disable-notifications">{{#str}} disableall, message {{/str}}</label>
        {{> core/loading }}
    </div>
    <table class="table table-hover preference-table">
        <thead>
            <tr>
                <th>{{displayname}}</th>
                {{#processors}}
                    <th {{^userconfigured}}class="unconfigured"{{/userconfigured}} data-processor-name="{{name}}">
                        {{#hassettings}}
                            <a href="#"
                                data-processor-setting
                                data-user-id="{{userid}}"
                                data-context-id="{{contextid}}"
                                data-name="{{name}}">

                                <span class="config-warning" data-toggle="tooltip" title="{{#str}} requiresconfiguration, message {{/str}}">
                                    {{#pix}} i/risk_xss, core {{/pix}}
                                </span>
                                {{displayname}} {{#pix}} i/settings {{/pix}}
                            </a>
                        {{/hassettings}}
                        {{^hassettings}}
                            {{displayname}}
                        {{/hassettings}}
                    </th>
                {{/processors}}
            </tr>
        </thead>
        <tbody>
            {{#components}}
                <tr>
                    <th><h4>{{displayname}}</h4></th>
                    {{#processors}}
                        <td class="align-bottom">
                            <div class="container-fluid">
                                <div class="row-fluid">
                                    {{#ispopup}}
                                        <div class="span12">{{#str}} online, message {{/str}}</div>
                                    {{/ispopup}}
                                    {{^ispopup}}
                                        <div class="span6">{{#str}} online, message {{/str}}</div>
                                        <div class="span6">{{#str}} offline, message {{/str}}</div>
                                    {{/ispopup}}
                                </div>
                            </div>
                        </td>
                    {{/processors}}
                </tr>
                {{#notifications}}
                    <tr class="preference-row" data-preference-key="{{preferencekey}}">
                        <td class="preference-name">
                            {{displayname}}
                        </td>
                        {{#processors}}
                        <td {{^userconfigured}}class="disabled"{{/userconfigured}} data-processor-name="{{name}}">
                                {{#locked}}
                                    <div class="dimmed_text">{{lockedmessage}}</div>
                                {{/locked}}
                                {{^locked}}
                                    <div class="disabled-message">{{#str}} disabled, question {{/str}}</div>
                                    <form>
                                        <div class="container-fluid">
                                            <div class="row-fluid">
                                                <div {{#ispopup}}class="span12"{{/ispopup}}{{^ispopup}}class="span6"{{/ispopup}}>
                                                    {{#loggedin}}
                                                        <label class="preference-state"
                                                            data-toggle="tooltip"
                                                            title="{{displayname}}"
                                                            data-state="{{name}}">

                                                            <span class="accesshide">{{displayname}}</span>
                                                            <input type="checkbox"
                                                                tabindex="-1"
                                                                class="accesshide"
                                                                {{#checked}}checked{{/checked}}
                                                                {{#disableall}}disabled{{/disableall}} />
                                                            <div class="preference-state-status-container" tabindex="0">
                                                                <span class="on-text">{{#str}} on, message {{/str}}</span>
                                                                <span class="off-text">{{#str}} off, message {{/str}}</span>
                                                                {{> core/loading }}
                                                            </div>
                                                        </label>
                                                    {{/loggedin}}
                                                </div>
                                                {{^ispopup}}
                                                    <div class="span6">
                                                        {{#loggedoff}}
                                                            <label class="preference-state"
                                                                data-toggle="tooltip"
                                                                title="{{displayname}}"
                                                                data-state="{{name}}">

                                                                <span class="accesshide">{{displayname}}</span>
                                                                <input type="checkbox"
                                                                    tabindex="-1"
                                                                    class="accesshide"
                                                                    {{#checked}}checked{{/checked}}
                                                                    {{#disableall}}disabled{{/disableall}} />
                                                                <div class="preference-state-status-container" tabindex="0">
                                                                    <span class="on-text">{{#str}} on, message {{/str}}</span>
                                                                    <span class="off-text">{{#str}} off, message {{/str}}</span>
                                                                    {{> core/loading }}
                                                                </div>
                                                            </label>
                                                        {{/loggedoff}}
                                                    </div>
                                                {{/ispopup}}
                                            </div>
                                        </div>
                                    </form>
                                {{/locked}}
                            </td>
                        {{/processors}}
                    </tr>
                {{/notifications}}
            {{/components}}
        </tbody>
    </table>
</div>
{{#js}}
require(['jquery', 'theme_bootstrapbase/bootstrap', 'core_message/preferences_notifications_list_controller'],
    function($, bootstrap, controller) {

    $('[data-toggle="tooltip"]').tooltip();
    new controller($('.preferences-container'));
});
{{/js}}
