<div class="sidebar">
        <div class="logo-details">
            <img src="{{globals.config.wwwroot}}/theme/qubitsbasic/pix/qubits-full-logo.svg" class="main-logo">
            <img src="{{globals.config.wwwroot}}/theme/qubitsbasic/pix/qubits-logo.svg" class="compact-logo">
            <i class="icon fa qicon-icon-close-drawer arrow-left"></i>
        </div>
        {{{ output.qubits_left_navigation }}}
</div>
<div class="sidebar-overlay"></div>
{{#js}}
require(['jquery'], function($){
    $(document).on("mouseenter", ".coursecard", function(){
        $(this).find(".white-circle").addClass("numbercolor");
    }).on("mouseleave", ".coursecard", function(){
        $(this).find(".white-circle").removeClass("numbercolor");
    });

    $(document).on("click", ".arrow, .sbicn", function(){
        $(this).parents(".nav-item").toggleClass("showMenu");
    });
    $(document).on("click", ".amlitms", function(){
        let url = $(this).data("url");
        $(this).parents(".nav-item").toggleClass("showMenu");
        if(url)
          $(location).attr("href", url);
    });
    $(window).on("resize", function (e) {
        checkScreenSize();
    });
    checkScreenSize();
	function checkScreenSize() {
		var newWindowWidth = $(window).width();
		if (newWindowWidth > 578) {
				
				
				
				$(".sidebar").show();
				
				$(".sidebar-overlay").hide();
		}
		else if (newWindowWidth < 546) {
			$(".arrow-left").click(function () {
				$(".sidebar").hide();
				$(".sidebar-overlay").hide();
				$(".qicon-menu").show();
			});
			
			$(".qicon-menu").click(function () {
				$(".sidebar").show();
				$(".sidebar-overlay").show();

			});
			
			$(".sidebar-overlay").click(function () {
				$(".sidebar").hide();
				$(".sidebar-overlay").hide();
				$(".qicon-menu").show();
			});
			
			$(".nav-item").hover(function(){
				$(".white-circle").toggleClass("numbercolor");
			});
		} else {
			$(".arrow-left").click(function () {
				$(".sidebar").addClass("close-bars");
				$(".compact-logo").show();
				$(".qicon-menu").show();
				$(".pagetitle-left-alignment").addClass("closebar-left-alignment");
				$(".sidebar").show();
				$(".main-inner").addClass("leftnav");
				$(".previousnav").hide();
				$(".sidebar-overlay").hide();
			});
			$(".qicon-menu").click(function () {
				$(".sidebar").removeClass("close-bars");
				$(".compact-logo").hide();
				$(".sidebar-overlay").hide();
				$(".qicon-menu").hide();
				$(".pagetitle-left-alignment").removeClass("closebar-left-alignment");
				$(".sidebar").show();
				$(".main-inner").removeClass("leftnav");
				$(".previousnav").show();
			});
		}
	}
});
{{/js}}


