/* Core */

body {
    margin: 5px;
}


h1.main,
h2.main,
h3.main,
h4.main,
h5.main,
h6.main {
  text-align: left;
  padding-left: 5px;
} 

h1, h2, h3, h4 {
  text-align: left;
  padding-left: 5px;
}
  
h1, h2, h3 {
  border-width: 1px;
  border-style: solid; 
}

h4 {
  border-bottom-style: solid;
  border-bottom-width:1px; 
}

input {
  
}

.generalbox {
  border-width:1px; 
  border-style:solid;
}

.sitetopiccontent {
  border-width:1px;
  border-style:solid;
}

/***
 *** Header
 ***/

#header-home {
  /* padding:1em 0.5em; */
  height:100px;
  border-width:1px;
  border-style:solid;
  
}

#header {
  height:55px;
  border-width:1px;
  border-style:solid;
}

.headermenu {
  float:right;
  text-align:right;
}

.navbar {
  margin-right: 5px;
  width: 100%; 
  padding:0px;
  height: 25px;
  border-width:1px;
  border-style:solid;
}

.breadcrumb {
 padding-top: 3px;
 padding-left: 3px;
 }
 
.navbar .navbutton {
  padding-right: 3px;
  padding-top: 2px;
 }


/***
 *** Login
 ***/

TABLE.loginbox {
  margin-top: 20px;
  }

.loginbox .header {
  border-width:1px;
  border-style:solid;
  border-bottom-width: 0px;
}

.loginbox .content {
  border-top-width: 0px;
}


/***
 *** Footer
 ***/

#footer {
  text-align:left;
  margin-top: 5px;
}


/***
 *** Blocks
 ***/


.sideblock .footer {
  border-top-width:1px;
  border-top-style:dashed;
}
  

/***
 *** Calendar
 ***/
 
 table.minicalendar {
  width: 100%;
  margin:10px auto;
  padding:2px;
  border-width:1px;
  border-style:solid;
  border-collapse:separate;
  border-spacing:1px !important;
}

table.minicalendar tr.weekdays th {
   border-style: none;
}

table.minicalendar tr td.day {
  border-style: solid;
  border-width: 1px;
}

table.calendarmonth {
  border-collapse:separate;
  border-spacing:1px !important;
}

table.calendarmonth tr td  {
  border-style: solid;
  border-width: 1px;
}


/***
 *** Course
 ***/
 
.headingblock {
  border-width:1px;
  border-style:solid;
  padding:5px;
}


.categorybox .category,
.categorybox .category {
  border-bottom: solid;
  border-width: 1px;
  padding-top: 7px;
}

#course-view .section .left {
  border-right-width: 1px;
  border-right-style: dashed;
}

#course-view .section.hidden .content,
#course-view .section.hidden .side {
  border-width: 1px;
  border-style: dashed;
}


