{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_mycourses/completed-view

    This template renders the completed view for the myoverview block.

    Example context (json):
    {}
}}
<div id="completed-view-{{uniqid}}" data-region="completed-view">
   {{#completedview.courses}}
        <div class="tab-content">
            <div class="tab-pane active fade in" id="mycourses_completed_view">
                    <div class="mycourselisting">
                        <div class="courseimage">
                            <a href="{{ url }}"><img class="imgresponsive" src="{{ image }}" class="courseimage"></a>
                        </div>
                        <div class="mycoursedetails">
                            <div class="mycourseheading">
                                <h4 class="title">
                                    <a href="{{ url }}">{{ fullname }}</a>
                                </h4>
                            </div>
                            <div class="mycoursesummary">
                                {{ summary}}
                            </div>
                            <div class="finalresults">
                                <p>{{#str}} timecompleted, local_report_completion {{/str}} {{ timecompleted }}
                                {{#timeexpires}}
                                    ({{#str}} timeexpires, local_report_completion {{/str}} {{ timeexpires }})
                                {{/timeexpires}}</p>
                                <p>{{#str}} finalscore, block_mycourses,  {{ finalscore }} {{/str}}
                                {{#certificate}}
                                    <a class="btn btn-info" href="{{ certificate }}">{{#str}} downloadcert, block_mycourses {{/str}}</a></p>
                                {{/certificate}}
                                {{^certificate}}
                                    {{#str}} nocerttodownload, block_mycourses {{/str}}</p>
                                {{/certificate}}
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    {{/completedview.courses}}
    {{^completedview.courses}}
        <div class="text-xs-center text-center m-t-3">
            <img class="empty-placeholder-image-lg"
                src="{{nocourses}}"
                alt="{{#str}} nocompleted, block_mycourses {{/str}}"
                role="presentation">
            <p class="text-muted m-t-1">{{#str}} nocompleted, block_mycourses {{/str}}</p>
        </div>
    {{/completedview.courses}}
</div>
{{#js}}
require(['jquery', 'core/custom_interaction_events'], function($, customEvents) {
    var root = $('#completed-view-{{uniqid}}');
    customEvents.define(root, [customEvents.events.activate]);
    root.on(customEvents.events.activate, '[data-toggle="btns"] > .btn', function() {
        root.find('.btn.active').removeClass('active');
    });
});
{{/js}}
