{{> theme_boost/head }}

<body {{{ bodyattributes }}}>

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    {{>theme_boost/navbar}}

    <div id="page" class="container-fluid">
        {{{ output.full_header }}}

        <div id="page-content" class="row">
            <div id="region-main-box" class="col-12">
                {{#hasregionmainsettingsmenu}}
                    <div id="region-main-settings-menu" class="d-print-none {{#hasblocks}}has-blocks{{/hasblocks}}">
                        <div> {{{ output.region_main_settings_menu }}} </div>
                    </div>
                {{/hasregionmainsettingsmenu}}
                <section id="region-main" {{#hasblocks}}class="has-blocks mb-3"{{/hasblocks}}>
                    <div class="card">
                        <div class="card-body">
                            {{#hasregionmainsettingsmenu}}
                                <div class="region_main_settings_menu_proxy"></div>
                            {{/hasregionmainsettingsmenu}}


                            <div style="background-color: red;">
                                <h1>Mycourses Carusel</h1>
                            {{{mycoursescarusel}}}
                            </div>

                            {{{ output.main_content }}}

                            <div style="background-color: blue;">
                                <h1>Category Level first</h1>



                                <div class="contentwithoutlink "><div class="no-overflow"><div class="no-overflow"><a href="https://shiur4u.org/course/index.php?categoryid=1323" style="display: inline-block">
                                    <div style="background-color: rgb(0, 88, 133); width: 142px; height: 142px; display: table; vertical-align: middle; margin-top: 0px; text-align: center; font-family: Secular; font-size: 14pt; padding: 5px 10px; color: white; box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;" onmouseover="this.style.backgroundColor = '#77d2f7'; this.style.boxShadow= '5px 5px 10px 1px #9BA7A8'; this.style.color = 'white';this.style. boxBorderBottom=' 12px solid rgba(255, 255, 255, 0)';this.style. boxBorderLeft=' 12px solid rgba(255, 255, 255, 0)'; " onmouseout="this.style.backgroundColor = '#005885'; this.style.boxShadow= '0 0 0 0 #000000'; this.style.color = 'white'; this.style. boxBorderBottom=' 0 solid rgba(255, 255, 255, 0)';this.style. boxBorderLeft=' 0 solid rgba(255, 255, 255, 0)';">
                                        <div style="display:table-cell; vertical-align:middle">
                                            למידה תוך פתרון בעיות
                                        </div></div></a>

                                    <a href="https://shiur4u.org/course/index.php?categoryid=1396" style="display: inline-block">
                                        <div style="line-height: 115%; background-color: rgb(125, 203, 52); width: 142px; height: 142px; display: table; vertical-align: middle; margin-top: 0px; text-align: center; font-family: Secular; font-size: 14pt; padding: 5px 10px; color: white; box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;" onmouseover="this.style.backgroundColor = '#77d2f7'; this.style.boxShadow= '5px 5px 10px 1px #9BA7A8'; this.style.color = 'white';this.style. boxBorderBottom=' 12px solid rgba(255, 255, 255, 0)';this.style. boxBorderLeft=' 12px solid rgba(255, 255, 255, 0)'; " onmouseout="this.style.backgroundColor = 'rgb(125, 203, 52)'; this.style.boxShadow= '0 0 0 0 #000000'; this.style.color = 'white'; this.style. boxBorderBottom=' 0 solid rgba(255, 255, 255, 0)';this.style. boxBorderLeft=' 0 solid rgba(255, 255, 255, 0)';">
                                            <div style="display:table-cell; vertical-align:middle">
                                                <b>FLS</b><br> מרחבי למידה עתידיים
                                            </div></div></a>

                                    <a href="https://shiur4u.org/course/index.php?categoryid=397" style="display: inline-block">
                                        <div style="line-height: 115%; background-color: rgb(230, 231, 231); width: 142px; height: 142px; display: table; vertical-align: middle; margin-top: 0px; text-align: center; font-family: Secular; font-size: 14pt; padding: 5px 10px; color: rgb(69, 69, 69); box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;" onmouseover="this.style.backgroundColor = '#77d2f7'; this.style.boxShadow= '5px 5px 10px 1px #9BA7A8'; this.style.color = 'white';this.style. boxBorderBottom=' 12px solid rgba(255, 255, 255, 0)';this.style. boxBorderLeft=' 12px solid rgba(255, 255, 255, 0)'; " onmouseout="this.style.backgroundColor = '#e6e7e7'; this.style.boxShadow= '0 0 0 0 #000000'; this.style.color = '#454545'; this.style. boxBorderBottom=' 0 solid rgba(255, 255, 255, 0)';this.style. boxBorderLeft=' 0 solid rgba(255, 255, 255, 0)';">
                                            <div style="display:table-cell; vertical-align:middle">
                                                ביוחקר ברשת
                                            </div></div></a>

                                    <div class="mobile-disable" style="background-image: url('https://shiur4u.org/pluginfile.php/126288/mod_label/intro/15641654156%20%281%29.jpg'); display:inline-block; width:142px; height:142px; background-size:cover;"></div>


                                    <a href="https://shiur4u.org/course/index.php?categoryid=403" style="display: inline-block">
                                        <div style="line-height: 115%; background-color: rgb(69, 69, 69); width: 142px; height: 142px; display: table; vertical-align: middle; margin-top: 0px; text-align: center; font-family: Secular; font-size: 14pt; padding: 5px 10px; color: white; box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;" onmouseover="this.style.backgroundColor = '#77d2f7'; this.style.boxShadow= '5px 5px 10px 1px #9BA7A8'; this.style.color = 'white';this.style. boxBorderBottom=' 12px solid rgba(255, 255, 255, 0)';this.style. boxBorderLeft=' 12px solid rgba(255, 255, 255, 0)'; " onmouseout="this.style.backgroundColor = 'rgb(69, 69, 69)'; this.style.boxShadow= '0 0 0 0 #000000'; this.style.color = 'white'; this.style. boxBorderBottom=' 0 solid rgba(255, 255, 255, 0)';this.style. boxBorderLeft=' 0 solid rgba(255, 255, 255, 0)';">
                                            <div style="display:table-cell; vertical-align:middle">
                                                ניפגש ב- 5
                                            </div></div></a>

                                    <a href="https://shiur4u.org/course/index.php?categoryid=395" style="display: inline-block">
                                        <div style="line-height: 115%; background-color: rgb(230, 231, 231); width: 142px; height: 142px; display: table; vertical-align: middle; margin-top: 0px; text-align: center; font-family: Secular; font-size: 14pt; padding: 5px 10px; color: rgb(69, 69, 69); box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;" onmouseover="this.style.backgroundColor = '#77d2f7'; this.style.boxShadow= '5px 5px 10px 1px #9BA7A8'; this.style.color = 'white';this.style. boxBorderBottom=' 12px solid rgba(255, 255, 255, 0)';this.style. boxBorderLeft=' 12px solid rgba(255, 255, 255, 0)'; " onmouseout="this.style.backgroundColor = '#e6e7e7'; this.style.boxShadow= '0 0 0 0 #000000'; this.style.color = '#454545'; this.style. boxBorderBottom=' 0 solid rgba(255, 255, 255, 0)';this.style. boxBorderLeft=' 0 solid rgba(255, 255, 255, 0)';">
                                            <div style="display:table-cell; vertical-align:middle">
                                                תלמידים יוצרים תוכן
                                            </div></div></a>

                                    <div class="mobile-disable" style=" background-color:#005885;display: inline-block ; width: 142px; height: 142px; display: inline-block;"></div>

                                    <a href="https://shiur4u.org/course/index.php?categoryid=272" style="display: inline-block">
                                        <div style="line-height: 115%; background-color: rgb(69, 69, 69); width: 142px; height: 142px; display: table; vertical-align: middle; margin-top: 0px; text-align: center; font-family: Secular; font-size: 14pt; padding: 5px 10px; color: white; box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;" onmouseover="this.style.backgroundColor = '#77d2f7'; this.style.boxShadow= '5px 5px 10px 1px #9BA7A8'; this.style.color = 'white';this.style. boxBorderBottom=' 12px solid rgba(255, 255, 255, 0)';this.style. boxBorderLeft=' 12px solid rgba(255, 255, 255, 0)'; " onmouseout="this.style.backgroundColor = 'rgb(69, 69, 69)'; this.style.boxShadow= '0 0 0 0 #000000'; this.style.color = 'white'; this.style. boxBorderBottom=' 0 solid rgba(255, 255, 255, 0)';this.style. boxBorderLeft=' 0 solid rgba(255, 255, 255, 0)';">
                                            <div style="display:table-cell; vertical-align:middle">
                                                השתלמויות מורים
                                            </div></div></a>

                                    <div class="mobile-disable" style=" background-image: url('https://shiur4u.org/pluginfile.php/126288/mod_label/intro/image%202%20%281%29.png'); display:inline-block; width:142px; height:142px; background-size:cover;"></div>

                                    <a href="https://shiur4u.org/course/index.php?categoryid=824" style="display: inline-block">
                                        <div style="line-height: 115%; background-color: rgb(0, 88, 133); width: 142px; height: 142px; display: table; vertical-align: middle; margin-top: 0px; text-align: center; font-family: Secular; font-size: 14pt; padding: 5px 10px; color: white; box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;" onmouseover="this.style.backgroundColor = '#77d2f7'; this.style.boxShadow= '5px 5px 10px 1px #9BA7A8'; this.style.color = 'white';this.style. boxBorderBottom=' 12px solid rgba(255, 255, 255, 0)';this.style. boxBorderLeft=' 12px solid rgba(255, 255, 255, 0)'; " onmouseout="this.style.backgroundColor = '#005885'; this.style.boxShadow= '0 0 0 0 #000000'; this.style.color = 'white'; this.style. boxBorderBottom=' 0 solid rgba(255, 255, 255, 0)';this.style. boxBorderLeft=' 0 solid rgba(255, 255, 255, 0)';">
                                            <div style="display:table-cell; vertical-align:middle">
                                                חושבים מדע
                                            </div></div></a>

                                    <a href="https://shiur4u.org/course/index.php?categoryid=451" style="display: inline-block">
                                        <div style="line-height: 115%; background-color: rgb(125, 203, 52); width: 142px; height: 142px; display: table; vertical-align: middle; margin-top: 0px; text-align: center; font-family: Secular; font-size: 14pt; padding: 5px 10px; color: white; box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;" onmouseover="this.style.backgroundColor = '#77d2f7'; this.style.boxShadow= '5px 5px 10px 1px #9BA7A8'; this.style.color = 'white';this.style. boxBorderBottom=' 12px solid rgba(255, 255, 255, 0)';this.style. boxBorderLeft=' 12px solid rgba(255, 255, 255, 0)'; " onmouseout="this.style.backgroundColor = 'rgb(125, 203, 52)'; this.style.boxShadow= '0 0 0 0 #000000'; this.style.color = 'white'; this.style. boxBorderBottom=' 0 solid rgba(255, 255, 255, 0)';this.style. boxBorderLeft=' 0 solid rgba(255, 255, 255, 0)';">
                                            <div style="display:table-cell; vertical-align:middle">
                                                ליווי מורים <br> ל- 5
                                            </div></div></a>

                                    <div class="mobile-disable" style=" background-color: rgb(230, 231, 231);display: inline-block ; width: 142px; height: 142px; display:"></div>

                                    <a href="https://shiur4u.org/course/index.php?categoryid=1293" style="display: inline-block">
                                        <div style="line-height: 115%; background-color: rgb(69, 69, 69); width: 142px; height: 142px; display: table; vertical-align: middle; margin-top: 0px; text-align: center; font-family: Secular; font-size: 14pt; padding: 5px 10px; color: white; box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;" onmouseover="this.style.backgroundColor = '#77d2f7'; this.style.boxShadow= '5px 5px 10px 1px #9BA7A8'; this.style.color = 'white';this.style. boxBorderBottom=' 12px solid rgba(255, 255, 255, 0)';this.style. boxBorderLeft=' 12px solid rgba(255, 255, 255, 0)'; " onmouseout="this.style.backgroundColor = 'rgb(69, 69, 69)'; this.style.boxShadow= '0 0 0 0 #000000'; this.style.color = 'white'; this.style. boxBorderBottom=' 0 solid rgba(255, 255, 255, 0)';this.style. boxBorderLeft=' 0 solid rgba(255, 255, 255, 0)';">
                                            <div style="display:table-cell; vertical-align:middle">
                                                מחדש"ת
                                            </div></div></a>

                                    <a href="https://shiur4u.org/course/view.php?id=520" style="display: inline-block">
                                        <div style="line-height: 115%; background-color: rgb(125, 203, 52); width: 142px; height: 142px; display: table; vertical-align: middle; margin-top: 0px; text-align: center; font-family: Secular; font-size: 14pt; padding: 5px 10px; color: white; box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;" onmouseover="this.style.backgroundColor = '#77d2f7'; this.style.boxShadow= '5px 5px 10px 1px #9BA7A8'; this.style.color = 'white';this.style. boxBorderBottom=' 12px solid rgba(255, 255, 255, 0)';this.style. boxBorderLeft=' 12px solid rgba(255, 255, 255, 0)'; " onmouseout="this.style.backgroundColor = 'rgb(125, 203, 52)'; this.style.boxShadow= '0 0 0 0 #000000'; this.style.color = 'white'; this.style. boxBorderBottom=' 0 solid rgba(255, 255, 255, 0)';this.style. boxBorderLeft=' 0 solid rgba(255, 255, 255, 0)';">
                                            <div style="display:table-cell; vertical-align:middle">
                                                הל"ל
                                            </div></div></a>

                                    <a href="https://shiur4u.org/course/view.php?id=2418" style="display: inline-block">
                                        <div style="line-height: 115%; background-color: rgb(0, 88, 133); width: 142px; height: 142px; display: table; vertical-align: middle; margin-top: 0px; text-align: center; font-family: Secular; font-size: 14pt; padding: 5px 10px; color: white; box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;" onmouseover="this.style.backgroundColor = '#77d2f7'; this.style.boxShadow= '5px 5px 10px 1px #9BA7A8'; this.style.color = 'white';this.style. boxBorderBottom=' 12px solid rgba(255, 255, 255, 0)';this.style. boxBorderLeft=' 12px solid rgba(255, 255, 255, 0)'; " onmouseout="this.style.backgroundColor = '#005885'; this.style.boxShadow= '0 0 0 0 #000000'; this.style.color = 'white'; this.style. boxBorderBottom=' 0 solid rgba(255, 255, 255, 0)';this.style. boxBorderLeft=' 0 solid rgba(255, 255, 255, 0)';">
                                            <div style="display:table-cell; vertical-align:middle">
                                                הרחבת הסמכה מתמטיקה
                                            </div></div></a>

                                    <div class="mobile-disable" style=" background-color: rgb(69, 69, 69);display: inline-block ; width: 142px; height: 142px; "></div>

                                    <a href="https://shiur4u.org/course/index.php?categoryid=152" style="display: inline-block">
                                        <div style="line-height: 115%; background-color: rgb(125, 203, 52); width: 142px; height: 142px; display: table; vertical-align: middle; margin-top: 0px; text-align: center; font-family: Secular; font-size: 12pt; padding: 5px; color: white; box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;" onmouseover="this.style.backgroundColor = '#77d2f7'; this.style.boxShadow= '5px 5px 10px 1px #9BA7A8'; this.style.color = 'white';this.style. boxBorderBottom=' 12px solid rgba(255, 255, 255, 0)';this.style. boxBorderLeft=' 12px solid rgba(255, 255, 255, 0)'; " onmouseout="this.style.backgroundColor = 'rgb(125, 203, 52)'; this.style.boxShadow= '0 0 0 0 #000000'; this.style.color = 'white'; this.style. boxBorderBottom=' 0 solid rgba(255, 255, 255, 0)';this.style. boxBorderLeft=' 0 solid rgba(255, 255, 255, 0)';">
                                            <div style="display:table-cell; vertical-align:middle">
                                                הבנה בינתחומית
                                            </div></div></a>

                                    <a href="https://shiur4u.org/course/index.php?categoryid=278" style="display: inline-block">
                                        <div style="line-height: 115%; background-color: rgb(230, 231, 231); width: 142px; height: 142px; display: table; vertical-align: middle; margin-top: 0px; text-align: center; font-family: Secular; font-size: 14pt; padding: 5px 10px; color: rgb(69, 69, 69); box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;" onmouseover="this.style.backgroundColor = '#77d2f7'; this.style.boxShadow= '5px 5px 10px 1px #9BA7A8'; this.style.color = 'white';this.style. boxBorderBottom=' 12px solid rgba(255, 255, 255, 0)';this.style. boxBorderLeft=' 12px solid rgba(255, 255, 255, 0)'; " onmouseout="this.style.backgroundColor = '#e6e7e7'; this.style.boxShadow= '0 0 0 0 #000000'; this.style.color = '#454545'; this.style. boxBorderBottom=' 0 solid rgba(255, 255, 255, 0)';this.style. boxBorderLeft=' 0 solid rgba(255, 255, 255, 0)';">
                                            <div style="display:table-cell; vertical-align:middle">
                                                תכנית הישיבות
                                            </div></div></a>

                                    <div class="mobile-disable" style=" background-image: url('https://shiur4u.org/pluginfile.php/126288/mod_label/intro/image%202.jpg'); display:inline-block; width:142px; height:142px; background-size:cover;"></div>

                                    <a href="https://shiur4u.org/course/index.php?categoryid=292" style="display: inline-block">
                                        <div style="line-height: 115%; background-color: rgb(230, 231, 231); width: 142px; height: 142px; display: table; vertical-align: middle; margin-top: 0px; text-align: center; font-family: Secular; font-size: 14pt; padding: 5px 10px; color: rgb(69, 69, 69); box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;" onmouseover="this.style.backgroundColor = '#77d2f7'; this.style.boxShadow= '5px 5px 10px 1px #9BA7A8'; this.style.color = 'white';this.style. boxBorderBottom=' 12px solid rgba(255, 255, 255, 0)';this.style. boxBorderLeft=' 12px solid rgba(255, 255, 255, 0)'; " onmouseout="this.style.backgroundColor = '#e6e7e7'; this.style.boxShadow= '0 0 0 0 #000000'; this.style.color = '#454545'; this.style. boxBorderBottom=' 0 solid rgba(255, 255, 255, 0)';this.style. boxBorderLeft=' 0 solid rgba(255, 255, 255, 0)';">
                                            <div style="display:table-cell; vertical-align:middle">
                                                פתרון בעיות שיתופי
                                            </div></div></a>

                                    <a href="https://shiur4u.org/course/view.php?id=4847" style="display: inline-block">
                                        <div style="line-height: 115%; background-color: rgb(0, 88, 133); width: 142px; height: 142px; display: table; vertical-align: middle; margin-top: 0px; text-align: center; font-family: Secular; font-size: 12pt; padding: 5px; color: white; box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;" onmouseover="this.style.backgroundColor = '#77d2f7'; this.style.boxShadow= '5px 5px 10px 1px #9BA7A8'; this.style.color = 'white';this.style. boxBorderBottom=' 12px solid rgba(255, 255, 255, 0)';this.style. boxBorderLeft=' 12px solid rgba(255, 255, 255, 0)'; " onmouseout="this.style.backgroundColor = '#005885'; this.style.boxShadow= '0 0 0 0 #000000'; this.style.color = 'white'; this.style. boxBorderBottom=' 0 solid rgba(255, 255, 255, 0)';this.style. boxBorderLeft=' 0 solid rgba(255, 255, 255, 0)';">
                                            <div style="display:table-cell; vertical-align:middle">
                                                תכנית היזמות
                                            </div></div></a></div></div></div>

                            </div>

                            {{{ output.course_content_footer }}}
                        </div>
                    </div>
                </section>
                {{#hasblocks}}
                    <section data-region="blocks-column" class="d-print-none">
                        {{{ sidepreblocks }}}
                    </section>
                {{/hasblocks}}
            </div>
        </div>
    </div>
    {{> theme_boost/nav-drawer }}
</div>

{{> theme_boost/footer }}

</body>
</html>
{{#js}}
    require(['theme_boost/loader']);
    require(['theme_boost/drawer'], function(mod) {
    mod.init();
    });
{{/js}}
