<div class="container-fluid mycoursesslick">
	<div class="row valign">
		<div class="col-md-1 col-xs-2">
			<img id="mycoursesprev" class="slick-prev" src="{{{leftbtn}}}" />
		</div>
		<div class="col-md-10 km-my-courses col-xs-8">
				{{#courses}}
				<div class="slick-slide">
					<div class="slick-slide-left">
						<a href="/course/view.php?id={{{id}}}">
							<img src="{{{img}}}" class="img-responsive" />
							<h2>{{{title}}}</h2>
						</a>
					</div>
					<div class="slick-slide-right">
						
					</div>
				</div>
				{{/courses}}
				
		</div>
		<div class="col-md-1 col-xs-2">
			<img id="mycoursesnext" class="slick-next" src="{{{rightbtn}}}" />
		</div>
	</div>
</div>
<script>

$('.km-my-courses').slick({
	  dots: false,
	  infinite: true,
	  speed: 300,
	  slidesToScroll: 6,
	  slidesToShow: 6,
	  prevArrow: '#mycoursesprev',
	  nextArrow: '#mycoursesnext',
	 responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: true,
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
            infinite: true
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: true
          }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
});
</script>