{
  "rules": {
    "at-rule-empty-line-before": ["always",
      {"except": [
        "blockless-after-same-name-blockless", "first-nested"
      ], "ignore": [
        "after-comment"
      ]}
    ]
  }
}