<div class="banner-3 educard-header-3 curved educard-block educard-font position-relative site-background-color-obs-6 pt-50">
    {{#banner3shape}}
    <div class="educard-shape">
        <img class="educard-shape-3" src="{{shape3}}" alt="shape-3">
        <img class="educard-shape-3 educard-shape-3-drk" src="{{shape3drk}}" alt="shape-3-drk">
        <img class="educard-shape-2" src="{{shape2}}" alt="shape-2">
        <img class="educard-shape-1" src="{{shape1}}" alt="shape-1">
        <img class="educard-shape-4" src="{{shape4}}" alt="shape-4">
    </div>
    {{/banner3shape}}
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img class="img-fluid" src="{{imgbanner3}}" alt="banner-3">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 info-detail align-self-center">
                <div>
                    <div class="h1">{{banner3caption1}} <span> {{banner3caption2}}</span></div>
                    <div class="educard-heading-line-left"></div>
                </div>
                <h3 class="subtitle">{{banner3caption3}}</h3>
                {{#banner3btn}}
                <a class="btn educard-btn mt-3 mb-3" href="{{banner3btnlnk}}">
                    <span>{{banner3btn}}</span>
                </a>
                {{/banner3btn}}
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="educard_header_box box_color box_top frame site-background-color-obs-1">
                <div class="row align-items-center">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 frame mt-2">
                        <div class="header_box_style site-background-color-obs-1 block-shadow block-hover-shadow rounded">
                            <div class="header_box_icon site-color site-background-color-obs-1"><i class="{{icon-1}}"></i></div>
                            <div class="box_text">
                                <h4>{{subheader1-1}}</h4>
                                {{subheader2-1}}
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 frame mt-2">
                        <div class="header_box_style site-background-color-obs-1 block-shadow block-hover-shadow rounded">
                            <div class="header_box_icon site-color site-background-color-obs-1"><i class="{{icon-2}}"></i></div>
                            <div class="box_text">
                                <h4>{{subheader1-2}}</h4>
                                {{subheader2-2}}
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 frame mt-2">
                        <div class="header_box_style site-background-color-obs-1 block-shadow block-hover-shadow rounded">
                            <div class="header_box_icon site-color site-background-color-obs-1"><i class="{{icon-3}}"></i></div>
                            <div class="box_text">
                                <h4>{{subheader1-3}}</h4>
                                {{subheader2-3}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
