<div data-region="competency-breakdown-report" data-courseid="{{course.id}}" data-userid="{{user.id}}">
<div class="row-fluid">
<span class="span6">
<table class="table table-bordered">
<summary class="accesshide"><p>{{#str}}coursecompetencybreakdownsummary, report_competency{{/str}}</p></summary>
<tr>
<th scope="col">{{#str}}competency, report_competency{{/str}}</span></th>
<th scope="col">{{#str}}rating, report_competency{{/str}}</span></th>
</tr>
{{#usercompetencies}}
<tr>
{{#competency}}
<td><a href="#" data-action="competency-dialogue" data-id="{{competency.id}}">{{competency.shortname}} <em>{{competency.idnumber}}</em></a></td>
{{/competency}}
{{#usercompetency}}
<td class="alert {{#proficiency}}alert-success{{/proficiency}}"
    data-user-competency="true"
    data-userid="{{user.id}}"
    data-competencyid="{{competencyid}}"
    data-courseid="{{course.id}}">
{{> report_competency/user_competency_summary}}
</td>
{{/usercompetency}}
{{/usercompetencies}}
</table>
</span>
</div>
</div>
{{#js}}
require(['tool_lp/competencydialogue'], function(Compdialogue) {
    var competencydialogue = new Compdialogue({includerelated : true});
    competencydialogue.watch('[data-region="competency-breakdown-report"]');
});
require(['report_competency/grading_popup'], function(Popup) {
    (new Popup('[data-region=competency-breakdown-report]', '[data-user-competency=true]'));
});
{{/js}}
