/*******************************************************************
styles_color.css
    
This CSS file contains all font definitions like family, size,
weight, text-align, letter-spacing etc.

Styles are organised into the following sections:
    core
    header
    footer

    admin
    blocks
    calendar
    course
    doc
    login
    message
    tabs
    user

    modules
        assignment
        chat
        choice
        forum
        glossary
        journal
        label
        lesson
        quiz
        resource
        scorm
        survey
        wiki
        workshop

*******************************************************************/


/*******************************************************************
*** Core
*******************************************************************/

.clearer {
    font-size:1px;
}

body, td, th, li {
    font-family:"Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    font-size:0.95em;
}

th {
    font-weight: normal;
}

a:link,
a:visited {
    text-decoration:none;
}

a:hover {
    text-decoration: underline;
}

h1.main,
h2.main,
h3.main,
h4.main,
h5.main,
h6.main {
    font-weight:normal;
}

h1 {
    font-size:1.7em;
}

h2 {
    font-size:1.4em;
}
h3 {
    font-size:1.1em;
}
h4 {
    font-size:1.0em;
}

.bold {
    font-weight:bold;
}

.warning {
    font-weight: normal;
    font-style: italic;
}

.errorbox .title {
    font-weight: normal;
    font-size: 1.2em;
    text-align: center;
}

/* paging bar */
.pagingbar .title {
    font-weight: normal;
}
.pagingbar .thispage {
    font-weight: normal;
}


/* index, admin, course, lang, adodb, quiz */
.categoryname,
.categorynumber {
    font-size:larger;
    font-weight:normal;
}
.helplink {
    font-size:0.8em;
}

.headingblock .title {
    font-weight: normal;
}
.headingblock .link {
    font-size: 0.9em;
    font-weight: normal;
}

.files .file {
    font-size: 0.9em;
}

.files .folder {
    font-size: 0.9em;
}

.files .folder .size {
    font-weight: normal;
}


/*******************************************************************
*** Header
*******************************************************************/

.headermain {
    font-weight:normal;
}

#header-home .headermain {
    font-size:1.5em;
}

#header .headermain {
    font-size:1.3em;
}

#breadcrumb {
    font-size:0.9em;
    font-weight:normal;
}

.logininfo,
#header-home .headermenu font {
    font-size:x-small;
}


/*******************************************************************
*** Footer
*******************************************************************/

.homelink {
    font-size:x-small;
}


/*******************************************************************
*** Admin
*******************************************************************/

table.formtable tbody th {
    font-weight: normal;
    text-align: right;
}


/*******************************************************************
*** Blocks
*******************************************************************/

.sideblock .content h3,
.sideblock .content h2 {
    font-size:1.0em;
}
.sideblock .header .commands {
    font-size: 0.75em;
}

.sideblock .footer {
    font-size:0.75em;
}

.sideblock .head,
.sideblock .info {
    font-size: 0.85em;
}

.sideblock .date {
    font-style: italic;
}


/* block_rss_client.php */
.rssclientlink {
    font-size:x-small;
}
.rssclientdescription {
    font-size:x-small;
}
.sideblock.block_quiz_results h1 {
    font-weight: normal;
    font-size: 1.2em;
}
.sideblock.block_quiz_results table.grades caption {
    font-weight: normal;
}
.sideblock.block_calendar_upcoming .event .date {
    font-size:0.8em;
}
.sideblock.block_calendar_month .cal_popup_caption,
.sideblock.block_calendar_month .cal_popup_fg div
{
    font-size: 0.85em !important;
}


/*******************************************************************
*** Calendar
*******************************************************************/

#calendar .maincalendar .eventlist .event .referer {
    font-weight:normal;
}

#calendar .maincalendar .eventlist .event .course {
    font-size:0.8em;
}

#calendar .maincalendar .eventlist .event .description .commands {
    text-align: right;
}

#calendar .maincalendar table.calendarmonth td {
    font-size:0.8em;
}

#calendar div.header
{
    font-weight:normal;
}

#calendar .sidecalendar .filters,
.sideblock.block_calendar_month .filters
{
    font-size:0.75em;
}

#calendar .maincalendar .controls {
    font-size:1.2em;
}

#calendar .maincalendar .day {
    font-weight: normal;
}

table.minicalendar {
    font-size:0.85em;
}

.cal_popup_caption {
    font-family:sans-serif;
    font-size:0.8em;
    font-weight:normal;
}

.cal_popup_close {
    font-family:sans-serif;
    font-size:0.8em;
    font-weight:normal;
}
#calendar .maincalendar .calendar-controls .current {
    font-weight: normal;
}


/*******************************************************************
*** Course
*******************************************************************/

.activitydate, .activityhead {
    font-size:x-small;
}

.weeklydatetext {
    font-size:medium;
    font-weight:normal;
}

.courseboxinfo {
    font-size:medium;
}

.courseboxteachers,
.courseboxcost {
    font-size:smaller;
}

.courseboxsummary {
    font-size:small;
}
#course-view .section .left {
    font-weight:normal;
}




/*******************************************************************
*** Doc
*******************************************************************/
body#doc-contents h1 {
    font-size: 1em;
}
body#doc-contents ul {
    font-size: 0.8em;
}



/*******************************************************************
*** Login
*******************************************************************/


/*******************************************************************
*** Message
*******************************************************************/

.message_summary_link {
    font-size:small;
}

.message_link {
    font-size:x-small;
}

.message_form {
    font-size:0.78em;
}

.message_heading {
    font-size:medium;
    font-weight:normal;
}

.message_date,
.message_contact,
.message_summary {
    font-size:small;
}

.message_small_note, 
.message_pix {
    font-size:x-small;
}

.message .author {
    font-weight: normal;
}

.message .time {
    font-style: italic;
}

.message .content {
}


/*******************************************************************
*** Tabs
*******************************************************************/
.tablink a:hover {
    text-decoration: none;
}


/*******************************************************************
*** User
*******************************************************************/

.userinfobox .username {
    font-weight: normal;
}

.userinfobox .links {
    font-size: 0.7em;
}


/*******************************************************************
*** Modules: Assignment
*******************************************************************/

/*******************************************************************
*** Modules: Chat
*******************************************************************/

/*******************************************************************
*** Modules: Choice
*******************************************************************/
    
/*******************************************************************
*** Modules: Forum
*******************************************************************/

.forumnodiscuss{
    font-weight:normal;
}
.forumpost .topic .subject {
    font-weight: normal;
}
.forumpost .topic .author {
    font-size: 0.8em;
}
.forumheaderlist .discussion .lastpost {
    font-size: 0.7em;
}
body#mod-forum-search .introcontent {
    font-weight:normal;
}



/*******************************************************************
*** Modules: Glossary
*******************************************************************/

.glossarypost .commands {
    font-size: 0.7em;
}
.glossarypost .entryheader .author {
    font-size: 0.7em;
    font-style: italic;
}
.concept {
    font-weight: normal;
}
.glossarycomment .time {
    font-size: 0.7em;
    font-style: italic;
}
.entrylowersection .aliases {
    font-size: 0.8em;
}
.entrylowersection .icons,
.entrylowersection .ratings {
    font-size: 0.8em;
}



/*******************************************************************
*** Modules: Journal
*******************************************************************/
#mod-journal-view .lastedit,
#mod-journal-view .editend {
    font-size: 0.7em;
}
#mod-journal-view .author {
    font-size: 1em;
    font-weight: normal;
}
#mod-journal-view .time {
    font-size: 0.7em;
    font-style: italic;
}
#mod-journal-view .grade {
    font-weight: normal;
    font-style: italic;
}

/*******************************************************************
*** Modules: Label
*******************************************************************/

/*******************************************************************
*** Modules: Lesson
*******************************************************************/

/*******************************************************************
*** Modules: Quiz
*******************************************************************/

.editorhelptext {
    font-size:x-small;
}


/*******************************************************************
*** Modules: Resource
*******************************************************************/

/*******************************************************************
*** Modules: Scorm
*******************************************************************/

/*******************************************************************
*** Modules: Survey
*******************************************************************/

/*******************************************************************
*** Modules: Wiki
*******************************************************************/

/*******************************************************************
*** Modules: Workshop
*******************************************************************/


