<div>
<textarea id="{{id}}" name="{{name}}[text]" class="form-control" rows="{{rows}}" cols="{{cols}}" spellcheck="true" {{#changelistener}} onblur="{{onblur}}"
    onchange="{{onchange}}" {{/changelistener}}>{{value}}</textarea>
</div>
<div>
    {{^onlyoneformat}}
        <select name="{{name}}[format]" id="menu{{name}}format" class="custom-select">
        {{#formats}}
            <option value="{{value}}" {{#selected}}selected{{/selected}}>{{text}}</option>
        {{/formats}}
        </select>
    {{/onlyoneformat}}
    {{#onlyoneformat}}
        <input name="{{name}}[format]" id="menu{{name}}format" type="hidden" value="{{format}}"/>
    {{/onlyoneformat}}
</div>
