<div class="form-group row fitem has-danger">
    <label class="col-md-3 col-form-label {{#element.hideLabel}}sr-only{{/element.hideLabel}}" for="{{element.id}}">
        {{{label}}} {{{helpbutton}}}
    </label>
    <div class="col-md-9">
        <div class="form-control-feedback" id="id_error_{{element.name}}">
            {{{element.html}}}
        </div>
    </div>
</div>