<label class="form-check-inline {{#error}}has-danger{{/error}}">
<input type="radio" name="{{element.name}}"
    id="{{element.id}}" value="{{element.value}}" size="{{element.size}}"
    {{#element.frozen}}readonly disabled{{/element.frozen}}
    {{#error}}
        autofocus aria-describedby="id_error_{{element.name}}"
    {{/error}}
    {{{element.attributes}}} >
    {{{label}}} {{{helpbutton}}}
</label>
<span class="form-control-feedback" id="id_error_{{element.name}}" {{^error}} style="display: none;"{{/error}}>
    {{{error}}}
</span>
{{#js}}
require(['theme_noname/form-display-errors'], function(module) {
    module.enhance({{#quote}}{{element.id}}{{/quote}});
});
{{/js}}