{{< core_form/element-template-inline }}
    {{$element}}
        <button {{#element.frozen}}readonly{{/element.frozen}}
                class="btn btn-secondary"
                name="{{element.name}}"
                id="{{element.id}}"
                {{#error}}
                    autofocus aria-describedby="id_error_{{element.name}}"
                {{/error}}
                {{{element.attributes}}}
                >
                {{{element.value}}}
        </button>
    {{/element}}
{{/ core_form/element-template-inline }}