/*** Modules: IMS CP ***/

#page-mod-imscp-view #imscp_nav {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
}

#page-mod-imscp-view #imscp_toc .ygtv-highlight1 {
    font-weight: bold;
}

#page-mod-imscp-view .yui-layout-hd {
    background-image: none;
    background-color: #ddd;
}

#page-mod-imscp-view .yui-layout-hd h2 {
    color: black;
}

.path-mod-imscp #imscp_child_list {
    margin-left: 1em;
    width: auto;
    height: auto;
}
