[submodule "library"]
	path = library
	url = https://github.com/h5p/h5p-php-library.git
	branch = stable
[submodule "editor"]
	path = editor
	url = https://github.com/h5p/h5p-editor-php-library.git
	branch = stable
[submodule "reporting"]
	path = reporting
	url = https://github.com/h5p/h5p-php-report.git
	branch = stable
