// Dashboard my courses.
.dark-dashboard {
    a {
        color: var(--color-dl-yellow-b);
    }
    .generalbox.alert.alert-warning a {
        color: var(--color-dl-red);
    }
    .btn-secondary:not(:disabled):not(.disabled):active,
    .btn-secondary:not(:disabled):not(.disabled).active,
    .show > .btn-secondary.dropdown-toggle {
        background-color: inherit;
    }
    .yui3-button.closebutton,
    .close {
        color: var(--color-dl-grey-a);
    }
    .dashboard-card a.coursename {
        text-decoration: none;
        font-weight: 700;
        margin-bottom: 5px;
        font-size: 16px;
        color: var(--color-dl-yellow-b);
    }
    .card.dashboard-card {
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        border-radius: 6px;
        border: none;
        background-color: var(--color-dl-bg-black-dark);
        -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
        box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
        transition: all .4s ease-in-out;
    }
    .secondary-navigation .navigation .nav-tabs {
        max-width: 100%;
    }
    .nav-tabs .nav-link.active, 
    .nav-tabs .nav-item.show .nav-link {
        background-color: #bbb;
    }
    .singlebutton {
        padding-bottom: 0.25rem;
    }
    /* Frontpage Orj moodle page button */
    .setupbutton{
        position: relative; 
        bottom: 32px;
        margin-left: 20px;
        i {
            font-size: 24px;
            color: white;
        }
    }
    /* Reports setings */
    .generaltable thead .sticky-column,
    .generaltable tbody tr:nth-of-type(even) {
        background-color: var(--color-dl-bg-black);
    }
    /* Dashboard block seting button */
    .block .block-controls .dropdown-toggle {
        color: var(--color-dl-yellow-a);
    }
    /* Form select */
    .form-autocomplete-suggestions {
        background-color: var(--color-dl-grey-a);
        border-radius: 0.5rem;
    }
    .statusbox.inactive {
        background-color: var(--color-dl-grey-b);
        border-radius: 0.5rem;
    }
    .activatebadge {
        margin: 0 15px;
    }
    div.criteria-description,
    .statusbox.active {
        background-color: var(--color-dl-grey-b);
    }
    /* Content bank */
    .content-bank-container {
        &.view-list {
            .cb-heading {
                &.bg-white {
                    background-color: var(--color-dl-grey-a) !important;
                }
            }
        }
        .content-bank {
            .cb-navbar {
                &.bg-light {
                    background-color: var(--color-dl-grey-b) !important;
                }
            }
        }
        .cb-content-wrapper {
            padding: 0 !important;
        }
    }
    /* Search */
    .simplesearchform .collapse.show, .simplesearchform .collapsing {
        background-color: var(--color-dl-grey-a);
    }
    /* Add block button */
    .block-add {
        background: var(--color-dl-grey-b) !important;
        border-color: var(--color-dl-yellow-a);
    }
    /* pagination link */
    .page-link {
        background-color: var(--color-dl-grey-b);
    }
    /* Model activite background*/
    .tab-content.flex-fill.bg-light {
        background-color: var(--color-dl-grey-b) !important;
        border: none !important;
    }
    /* Settings accordion text. */
    .btn-link {
        color: var(--warning);
        &:hover {
            color: var(--color-dl-grey-a);
            background-color: var(--color-dl-grey-b) !important;
        }
    }
    /* Layout scss owerride. */
    @media (min-width: 768px) {
        .header-maxwidth {
            max-width: 100% !important;
        }
    }
}
