#newheaderleft, #newheader {
	background: [[setting:headercolor]] url([[pix:theme|header]]) repeat-x 0 100%;
}
	
a:link,a:visited {
  color: [[setting:linkcolor]];
}	

/** Custom CSS **/
[[setting:customcss]]