{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_bigbluebuttonbn/import_view

    This template renders the import recordings page.

    Example context (json):
    {
        "bbbid": 3,
        "has_selected_course": 0,
        "back_button": {
            "method" : "get",
            "url" : "#",
            "primary" : 1,
            "tooltip" : "This is a tooltip",
            "label" : "This is a the button text",
            "id": "thisismybutton",
            "attributes": [{
                "name": "data-attribute",
                "value": "yeah"
            }]
        }
    }
}}

<div class="mod_bigbluebuttonbn_import_view">
    <div class="d-flex flex-row">
        <div>
            <span class="p-1">{{#str}}view_recording_list_course, mod_bigbluebuttonbn{{/str}}</span>
            {{#course_select}}
                {{>core/single_select}}
            {{/course_select}}
        </div>
        <div>
            {{#bbb_select}}
                <span class="p-1">{{#str}}view_recording_activity, mod_bigbluebuttonbn{{/str}}</span>
                {{>core/single_select}}
            {{/bbb_select}}
        </div>
    </div>
    {{#has_selected_course}}
        {{< mod_bigbluebuttonbn/recordings_table}}
            {{$title}}{{#str}} view_recording_button_import, mod_bigbluebuttonbn {{/str}}{{/title}}
            {{$tools}}import{{/tools}}
            {{$removeimportedid}}{{bbboriginid}}{{/removeimportedid}}
            {{$otherattributes}} {{!
            }} id="bigbluebuttonbn-recording-table-{{uniqid}}" {{!
            }} data-import-mode="1" {{!
            }} data-bbb-source-course-id="{{sourcecourseid}}" {{!
            }} data-bbb-source-instance-id="{{bbbsourceid}}" {{!
            }} {{/otherattributes}}
        {{/mod_bigbluebuttonbn/recordings_table}}
    {{/has_selected_course}}
    {{^has_selected_course}}
        <span class="text-warning">{{#str}} view_recording_select_course, mod_bigbluebuttonbn {{/str}}</span>
    {{/has_selected_course}}
    <div class="mt-3">
        {{#back_button}}
            {{>core/single_button}}
        {{/back_button}}
    </div>
</div>
