{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_bigbluebuttonbn/unconfigured_view

    Neutral state page shown when the BigBlueButton server is not yet configured.

    Example context (json):
    {
        "heading": "BigBlueButton is not yet configured",
        "message": "The BigBlueButton server is not yet configured.",
        "settingsurl": "/admin/settings.php?section=modsettingbigbluebuttonbn",
        "settingslinktext": "BigBlueButton settings"
    }
}}
<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        <div class="col col-sm-8 col-md-6 header-maxwidth">
            <div class="card">
                <div class="card-body text-center p-5">
                    <h2 class="card-title mb-3 h4">{{heading}}</h2>
                    <p class="card-text">{{message}}</p>
                    {{#settingsurl}}
                        <a href="{{settingsurl}}" class="btn btn-primary mt-2">{{settingslinktext}}</a>
                    {{/settingsurl}}
                </div>
            </div>
        </div>
    </div>
</div>
