.que.oumultiresponse .answer div.r0,
.que.oumultiresponse .answer div.r1 {
    display: flex;
    margin: 0.25rem 0;
    align-items: flex-start;
}

.que.oumultiresponse .answer div.r0 input,
.que.oumultiresponse .answer div.r1 input {
    margin: 0.3rem 0.5rem;
    width: 14px;
}

.que.oumultiresponse .answer .answernumber {
    min-width: 1.5em;
}

.que.oumultiresponse .answer .specificfeedback {
    display: inline;
    padding: 0 0.7em;
    background: #fff3bf;
}

/* Editing form. */
/* Top */
body#page-question-type-oumultiresponse div[id^=fitem_id_][id*=answer_],
body#page-question-type-oumultiresponse div[id^=fitem_id_][id*=hint_] {
    background: #eee;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid #bbb;
    border-bottom: 0;
}

body#page-question-type-oumultiresponse div[id^=fitem_id_][id*=_answer_] .fitemtitle,
body#page-question-type-oumultiresponse div[id^=fitem_id_][id*=hint_] .fitemtitle {
    font-weight: bold;
}
/* Middle */
body#page-question-type-oumultiresponse div[id^=fitem_id_][id*=correctanswer_] {
    background: #eee;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid #bbb;
    border-top: 0;
    border-bottom: 0;
}
/* Bottom */
body#page-question-type-oumultiresponse div[id^=fitem_id_][id*=feedback_],
body#page-question-type-oumultiresponse div[id^=fgroup_id_][id*=hintoptions_] {
    background: #eee;
    margin-bottom: 2em;
    margin-top: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid #bbb;
    border-top: 0;
}

body#page-question-type-oumultiresponse div[id^=fitem_id_][id*=penalty] {
    margin-bottom: 2em;
}
