{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template qformat/h5p

    Image sequence card

    Context variables required for this template:
    * questiontext - The name of the site

    Example context (json):
    {
        "description": "Bobcat",
        "path": "images/file-38fae43.png",
        "height": 100
    }
}}
<img src="@@PLUGINFILE@@/{{ path }}"
    alt="{{ description }}"
    style="max-height: {{ height }}px;"
    class="img-responsive">
<div class="h5p-image-sequencing">
    {{ description }}
</div>
