 <div class="text-right"> 
    <div class="buttons btn-group col-md-5">
    <a class="btn btn-primary mr-2" href="{{{ adduser_url }}}">Add new User</a>
    <a class="btn btn-primary" href="{{{ existuser_url }}}">Assign existing User</a>
    </div>
</div>