body, div, p, li, input, option, textarea {
    font-size: 10pt;
    line-height: 1.5em;
}
body, div, p, li, input, option, textarea, h1, h2, h3, h4, h5 {
    font-family: Georgia,Times,"Times New Roman",serif;
}