{{#say10}}
    {{#blockno01}}
        {{#desing01-1}}
            {{> theme_educard/frontpage/block01/block01_1 }}
        {{/desing01-1}}    
        {{#desing01-2}}
            {{> theme_educard/frontpage/block01/block01_2 }}
        {{/desing01-2}} 
        {{#desing01-3}}
            {{> theme_educard/frontpage/block01/block01_3 }}
        {{/desing01-3}} 
    {{/blockno01}}  
    {{#blockno02}}
        {{#desing02-1}}
            {{> theme_educard/frontpage/block02/block02_1 }}
        {{/desing02-1}}
        {{#desing02-2}}
            {{> theme_educard/frontpage/block02/block02_2 }}
        {{/desing02-2}}
        {{#desing02-3}}
            {{> theme_educard/frontpage/block02/block02_3 }}
        {{/desing02-3}}
        {{#desing02-4}}
            {{> theme_educard/frontpage/block02/block02_4 }}
        {{/desing02-4}}
    {{/blockno02}} 
    {{#blockno03}}
        {{#desing03-1}}
            {{^slide03-1}}
                {{> theme_educard/frontpage/block03/block03_1 }}
            {{/slide03-1}}
            {{#slide03-1}}
                {{> theme_educard/frontpage/block03/block03_1_slide }}
            {{/slide03-1}}
        {{/desing03-1}}
        {{#desing03-2}}
            {{^slide03-2}}
                {{> theme_educard/frontpage/block03/block03_2 }}
            {{/slide03-2}}
            {{#slide03-2}}
                {{> theme_educard/frontpage/block03/block03_2_slide }}
            {{/slide03-2}}
        {{/desing03-2}}
        {{#desing03-3}}
            {{^slide03-3}}
                {{> theme_educard/frontpage/block03/block03_3 }}
            {{/slide03-3}}
            {{#slide03-3}}
                {{> theme_educard/frontpage/block03/block03_3_slide }}
            {{/slide03-3}}
        {{/desing03-3}}
    {{/blockno03}}  
    {{#blockno04}}
        {{#desing04-1}}
            {{^slide04-1}}
                {{> theme_educard/frontpage/block04/block04_1 }}
            {{/slide04-1}}
            {{#slide04-1}}
                {{> theme_educard/frontpage/block04/block04_1_slide }}
            {{/slide04-1}}
        {{/desing04-1}}
        {{#desing04-2}}
            {{^slide04-2}}
                {{> theme_educard/frontpage/block04/block04_2 }}
            {{/slide04-2}}
            {{#slide04-2}}
                {{> theme_educard/frontpage/block04/block04_2_slide }}
            {{/slide04-2}}
        {{/desing04-2}}
    {{/blockno04}} 
    {{#blockno05}}
        {{#desing05-1}}
            {{> theme_educard/frontpage/block05/block05_1 }}
        {{/desing05-1}}
        {{#desing05-2}}
            {{> theme_educard/frontpage/block05/block05_2 }}
        {{/desing05-2}}
        {{#desing05-3}}
            {{> theme_educard/frontpage/block05/block05_3 }}
        {{/desing05-3}}
        {{#desing05-4}}
            {{> theme_educard/frontpage/block05/block05_4 }}
        {{/desing05-4}}
    {{/blockno05}}  
    {{#blockno06}}
        {{#desing06-1}}
            {{> theme_educard/frontpage/block06/block06_1 }}
        {{/desing06-1}}
        {{#desing06-2}}
            {{> theme_educard/frontpage/block06/block06_2 }}
        {{/desing06-2}}
        {{#desing06-3}}
            {{> theme_educard/frontpage/block06/block06_3 }}
        {{/desing06-3}}
    {{/blockno06}} 
    {{#blockno07}}
        {{#desing07-1}}
            {{^slide07-1}}
                {{> theme_educard/frontpage/block07/block07_1 }}
            {{/slide07-1}}
            {{#slide07-1}}
                {{> theme_educard/frontpage/block07/block07_1_slide }}
            {{/slide07-1}}
        {{/desing07-1}}
        {{#desing07-2}}
            {{^slide07-2}}
                {{> theme_educard/frontpage/block07/block07_2 }}
            {{/slide07-2}}
            {{#slide07-2}}
                {{> theme_educard/frontpage/block07/block07_2_slide }}
            {{/slide07-2}}
        {{/desing07-2}}
        {{#desing07-3}}
            {{^slide07-3}}
                {{> theme_educard/frontpage/block07/block07_3 }}
            {{/slide07-3}}
            {{#slide07-3}}
                {{> theme_educard/frontpage/block07/block07_3_slide }}
            {{/slide07-3}}
        {{/desing07-3}}
        {{#desing07-4}}
            {{^slide07-4}}
                {{> theme_educard/frontpage/block07/block07_4 }}
            {{/slide07-4}}
            {{#slide07-4}}
                {{> theme_educard/frontpage/block07/block07_4_slide }}
            {{/slide07-4}}
        {{/desing07-4}}
    {{/blockno07}}  
    {{#blockno08}}
        {{#desing08-1}}
            {{^slide08-1}}
                {{> theme_educard/frontpage/block08/block08_1 }}
            {{/slide08-1}}   
            {{#slide08-1}}
                {{> theme_educard/frontpage/block08/block08_1_slide }}
            {{/slide08-1}}   
        {{/desing08-1}}
        {{#desing08-2}}
            {{^slide08-2}}
                {{> theme_educard/frontpage/block08/block08_2}}
            {{/slide08-2}}   
            {{#slide08-2}}
                {{> theme_educard/frontpage/block08/block08_2_slide}}
            {{/slide08-2}}   
        {{/desing08-2}}
        {{#desing08-3}}
            {{^slide08-3}}
                {{> theme_educard/frontpage/block08/block08_3}}
            {{/slide08-3}}   
            {{#slide08-3}}
                {{> theme_educard/frontpage/block08/block08_3_slide}}
            {{/slide08-3}}   
        {{/desing08-3}}
        {{#desing08-4}}
            {{^slide08-4}}
                {{> theme_educard/frontpage/block08/block08_4}}
            {{/slide08-4}}   
            {{#slide08-4}}
                {{> theme_educard/frontpage/block08/block08_4_slide}}
            {{/slide08-4}}   
        {{/desing08-4}}
    {{/blockno08}} 
    {{#blockno09}}
        {{#desing09-1}}
            {{^slide09-1}}
                {{> theme_educard/frontpage/block09/block09_1 }}
            {{/slide09-1}}
            {{#slide09-1}}
                {{> theme_educard/frontpage/block09/block09_1_slide }}
            {{/slide09-1}}
        {{/desing09-1}}
        {{#desing09-2}}
            {{^slide09-2}}
                {{> theme_educard/frontpage/block09/block09_2 }}
            {{/slide09-2}}
            {{#slide09-2}}
                {{> theme_educard/frontpage/block09/block09_2_slide }}
            {{/slide09-2}}
        {{/desing09-2}}
        {{#desing09-3}}
            {{^slide09-3}}
                {{> theme_educard/frontpage/block09/block09_3 }}
            {{/slide09-3}}
            {{#slide09-3}}
                {{> theme_educard/frontpage/block09/block09_3_slide }}
            {{/slide09-3}}
        {{/desing09-3}}
        {{#desing09-4}}
            {{^slide09-4}}
                {{> theme_educard/frontpage/block09/block09_4 }}
            {{/slide09-4}}
            {{#slide09-4}}
                {{> theme_educard/frontpage/block09/block09_4_slide }}
            {{/slide09-4}}
        {{/desing09-4}}
    {{/blockno09}}  
    {{#blockno10}}
        {{#desing10-1}}
            {{> theme_educard/frontpage/block10/block10_1 }}
        {{/desing10-1}}
        {{#desing10-2}}
            {{^slide10-2}}
                {{> theme_educard/frontpage/block10/block10_2 }}
            {{/slide10-2}}
            {{#slide10-2}}
                {{> theme_educard/frontpage/block10/block10_2_slide }}
            {{/slide10-2}}
        {{/desing10-2}}
        {{#desing10-3}}
            {{^slide10-3}}
                {{> theme_educard/frontpage/block10/block10_3 }}
            {{/slide10-3}}
            {{#slide10-3}}
                {{> theme_educard/frontpage/block10/block10_3_slide }}
            {{/slide10-3}}
        {{/desing10-3}}
    {{/blockno10}} 
    {{#blockno11}}
        {{#desing11-1}}
            {{^slide11-1}}
                {{> theme_educard/frontpage/block11/block11_1 }}
            {{/slide11-1}}    
            {{#slide11-1}}
                {{> theme_educard/frontpage/block11/block11_1_slide }}
            {{/slide11-1}} 
        {{/desing11-1}}
        {{#desing11-2}}
            {{^slide11-2}}
                {{> theme_educard/frontpage/block11/block11_2 }}
            {{/slide11-2}}    
            {{#slide11-2}}
                {{> theme_educard/frontpage/block11/block11_2_slide }}
            {{/slide11-2}} 
        {{/desing11-2}}
        {{#desing11-3}}
            {{^slide11-3}}
                {{> theme_educard/frontpage/block11/block11_3 }}
            {{/slide11-3}}    
            {{#slide11-3}}
                {{> theme_educard/frontpage/block11/block11_3_slide }}
            {{/slide11-3}} 
        {{/desing11-3}}        
    {{/blockno11}}  
    {{#blockno12}}
        {{#desing12-1}}
            {{^slide12-1}}
                {{> theme_educard/frontpage/block12/block12_1 }}
            {{/slide12-1}}
            {{#slide12-1}}
                {{> theme_educard/frontpage/block12/block12_1 }}
            {{/slide12-1}}
        {{/desing12-1}}
        {{#desing12-2}}
            {{^slide12-2}}
                {{> theme_educard/frontpage/block12/block12_2 }}
            {{/slide12-2}}
            {{#slide12-2}}
                {{> theme_educard/frontpage/block12/block12_2 }}
            {{/slide12-2}}
        {{/desing12-2}}

        {{#desing12-3}}
            {{^slide12-3}}
                {{> theme_educard/frontpage/block12/block12_3 }}
            {{/slide12-3}}
            {{#slide12-3}}
                {{> theme_educard/frontpage/block12/block12_3 }}
            {{/slide12-3}}
        {{/desing12-3}}
    {{/blockno12}} 
    {{#blockno13}}
        {{#desing13-1}}
            {{> theme_educard/frontpage/block13/block13_1 }}
        {{/desing13-1}}
    {{/blockno13}}  
    {{#blockno14}}
        {{#desing14-1}}
            {{^slide14-1}}
                {{> theme_educard/frontpage/block14/block14_1 }}
            {{/slide14-1}}
            {{#slide14-1}}
                {{> theme_educard/frontpage/block14/block14_1_slide }}
            {{/slide14-1}}    
        {{/desing14-1}}
    {{/blockno14}} 
    {{#blockno15}}
        {{#desing15-1}}
            {{> theme_educard/frontpage/block15/block15_1 }}
        {{/desing15-1}}        
    {{/blockno15}}  
    {{#blockno16}}
        {{#desing16-1}}
            {{> theme_educard/frontpage/block16/block16_1 }}
        {{/desing16-1}}        
    {{/blockno16}} 
    {{#blockno17}}
        {{#desing17-1}}
            {{> theme_educard/frontpage/block17/block17_1 }}
        {{/desing17-1}}
    {{/blockno17}}  
    {{#blockno18}}
        {{#desing18-1}}
            {{> theme_educard/frontpage/block18/block18_1 }}
        {{/desing18-1}}
    {{/blockno18}} 
    {{#blockno19}}
        {{#desing19-1}}
            {{^slide19-1}}
                {{> theme_educard/frontpage/block19/block19_1 }}
            {{/slide19-1}}
            {{#slide19-1}}
                {{> theme_educard/frontpage/block19/block19_1_slide }}
            {{/slide19-1}}
        {{/desing19-1}}
        {{#desing19-2}}
            {{^slide19-2}}
                {{> theme_educard/frontpage/block19/block19_2 }}
            {{/slide19-2}}
            {{#slide19-2}}
                {{> theme_educard/frontpage/block19/block19_2_slide }}
            {{/slide19-2}}
        {{/desing19-2}}
    {{/blockno19}}
    {{#blockno20}}

    {{/blockno20}}
    {{#blockno21}}
        {{#desing21-1}}
            {{^slide21-1}}
                {{> theme_educard/frontpage/block21/block21_1 }}
            {{/slide21-1}}
            {{#slide21-1}}
                {{> theme_educard/frontpage/block21/block21_1_slide }}
            {{/slide21-1}}
        {{/desing21-1}}
        {{#desing21-2}}
            {{^slide21-2}}
                {{> theme_educard/frontpage/block21/block21_2 }}
            {{/slide21-2}}
            {{#slide21-2}}
                {{> theme_educard/frontpage/block21/block21_2_slide }}
            {{/slide21-2}}
        {{/desing21-2}}
        {{#desing21-3}}
            {{^slide21-3}}
                {{> theme_educard/frontpage/block21/block21_3 }}
            {{/slide21-3}}
            {{#slide21-3}}
                {{> theme_educard/frontpage/block21/block21_3_slide }}
            {{/slide21-3}}
        {{/desing21-3}}
        {{#desing21-4}}
            {{^slide21-4}}
                {{> theme_educard/frontpage/block21/block21_4 }}
            {{/slide21-4}}
            {{#slide21-4}}
                {{> theme_educard/frontpage/block21/block21_4_slide }}
            {{/slide21-4}}
        {{/desing21-4}}
    {{/blockno21}}  
{{/say10}}  


