<body name="prueba">
  <!-- Testing -->
  {{#data}}
  {{> block_ases/side_menu}}
  <div class="container">
    {{{message}}}
    {{#search_all_students_ar}}
      {{> block_ases/ar_search_students}}
    {{/search_all_students_ar}}

    {{#search_assigned_students_ar}}
      {{> block_ases/ar_search_students}}
    {{/search_assigned_students_ar}}

    {{#view_summary_report}}
      {{> block_ases/ar_view_summary}}
    {{/view_summary_report}}
  {{/data}}

</body>
