<div class="panel panel-default">
   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title" id="list-users-panel">
            <a data-toggle="collapse" href="#collapse6">Gestionar permisos y roles</a>
         </h4>
      </div>
      {{!--end panel-heading--}}
      <div id="collapse6" class="panel-collapse collapse">
         <div class="panel-body">
            {{#data}}
            <form id="formPerfil">
               <div class="row" >
                  <label class="col-sm-3 control-label">Escoja el rol :</label>
                  <div class="col-sm-12">
                     {{{roles_table_user}}}
                  </div>
               </div>
               <div class="row top-buffer" id="lista_funcionalidades">
                  {{{general_table}}}
               </div>
               <div class="col-md-10 col-md-offset-5"
               <div class="form-pilos">
                  <button type="submit" id="assign_user_profile" class="submit" data-toggle="modal" data-target="#myModal">
                  Guardar
                  </button>
               </div>
         </div>
         </form>
         {{/data}}
         <div class="col-md-6">
         </div>
         {{!--end col-md-6--}}
      </div>
      {{!--end panel-body--}}
   </div>
</div>