<body>
   {{#data}}
   {{> block_ases/side_menu}}
      {{{message}}}
   {{#search_not_assigned_students_ar}}

   <div  style="margin:4%;">
      <form role="form" id="form_general_report">
         <div class="row">
            <div class="col-sm-8">
               <h2>REPORTE DE ESTUDIANTES NO ASIGNADOS</h2>
               <h5>Por favor seleccione los campos a incluir en el reporte</h5>
            </div>
            <div class="col-sm-4" id="div_cohorts">
               <label for="">Cohorte:  </label>
               <select name="conditions[]" id="conditions" class="form-control">
               {{{cohorts_checks}}}
               </select>
            </div>
            <hr class="col-sm-12" />
         </div>
         <div class="col-sm-12">
            <!-- Columna de campos base -->
            <div class="col-sm-12" hidden>
               <fieldset id="base_fields">
                  <legend>Campos base</legend>
                  <div class="checkbox">
                     <input type="checkbox" name="fields[]" value="student_code" onchange="check(this)" onclick="check(this)" checked="checked"> Código
                  </div>
                  <div class="checkbox">
                     <input type="checkbox" name="fields[]" value="firstname" onchange="check(this)" onclick="check(this)" checked="checked">Nombres
                  </div>
                  <div class="checkbox">
                     <input type="checkbox" name="fields[]" value="lastname" onchange="check(this)" onclick="check(this)" checked="checked">Apellidos
                  </div>
                  <div class="checkbox">
                     <input type="checkbox" name="fields[]" value="document_id" onchange="check(this)" onclick="check(this)" checked="checked">Documento
                  </div>
                  <div class="checkbox">
                     <input type="checkbox" name="fields[]" value="cohort" id="cohort_check" onchange="check(this)" onclick="check(this)" checked="checked">Cohorte
                  </div>
               </fieldset>
            </div>
            <!-- Columna de contacto -->
            <div class="col-sm-2 col-md-2">
               <fieldset id="contact_fields">
                  <legend><input type="checkbox" id="contact_fields_check"> Contacto</legend>
                  <div class="checkbox">
                     <input type="checkbox" name="fields[]" value="email"> Correo electrónico
                  </div>
                  <div class="checkbox">
                     <input type="checkbox" name="fields[]" value="cellphone"> Celular
                  </div>
                  <div class="checkbox">
                     <input type="checkbox" name="fields[]" value="address"> Dirección
                  </div>
               </fieldset>
            </div>
            <!-- Columna de programa académico -->
            <div class="col-sm-3 col-md-3">
               <fieldset id="academic_fields">
                  <legend><input type="checkbox" id="academic_fields_check"> Académico</legend>
                  <div class="checkbox">
                     <input type="checkbox" name="academic_fields[]" value="program_code"> Código programa académico
                  </div>
                  <div class="checkbox">
                     <input type="checkbox" name="academic_fields[]" value="name_program"> Programa académico
                  </div>
                  <div class="checkbox">
                     <input type="checkbox" name="academic_fields[]" value="faculty"> Facultad
                  </div>
               </fieldset>
            </div>
         </div>
         <hr />
         <!--Botones del formulario-->
         <div class="col-sm-12">
            <div class="col-sm-2 col-sm-offset-5">
               <button type="button" class="btn btn-danger col-sm-12" id="send_form_btn"><b>Generar reporte</b></button>
            </div>
         </div>
         <hr>
      </form>
   </div>
   <div class="assing_container" style="margin:4%;">
      <div class="row"  id="not_assigned_students"></div>
   </div>
   {{/search_not_assigned_students_ar}}
   {{/data}}
</body>
