{{#data}}   
{{> block_ases/side_menu}}
<div class="container">
<div class="row">
   <h2>GESTIÓN DE PERÍODOS</h2>   
  <hr/>
  {{{message}}}   
   <div class="panel-group">
      {{#search_periods_pm}}
      {{> block_ases/search_periods}}
      {{/search_periods_pm}}
      {{#create_periods_pm}}
      {{> block_ases/create_periods}}
      {{/create_periods_pm}}
      {{#view_periods_pm}}
      {{> block_ases/view_periods}}
      {{/view_periods_pm}}
   </div>
   {{/data}}
   <!--end panel-group-->
</div>
</div>