<body name="permisos">
    <div class="container">
        <form>
            <div class="row">
                <label class="col-md-offset-3" >Nueva accción</label>
            </div>
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Nombre</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre de la accion">
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Descripcion</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Descripcion de la accion, sea espefico">
                </div>
            </div>
            
            <div class="row">
                <button type="submit" id="add_accion" class="submit" data-toggle="modal" data-target="#myModal">
                    Crear acción
                </button>
            </div>
        </form>
    </div>
</body>
