<div class="container">
    <div class="row">
        <img src="../styles/images/error.jpg" alt="Error de acceso" class="img-responsive">
    </div>
    <div>
        <h3>{{status_message}}</h3>
    </div>
</div>