<div class="panel panel-default">
    <div class="panel panel-default">
       <div class="panel-heading">
          <h4 class="panel-title" id="list-resolutions-panel">
             <a data-toggle="collapse" href="#collapse2">Lista de resoluciones</a>
          </h4>
       </div>
       <!--end panel-heading-->
       <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">
             <h2>Lista de resoluciones</h2>
          </div>
          <div class="col-md-10 col-md-offset-1" id="div_resolutions">
          </div>
       </div>
    </div>
 </div>
 {{!--end panel-default--}}