<div class="panel panel-default">
   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title" id="list-periods-panel">
            <a data-toggle="collapse" href="#collapse2">Lista de períodos</a>
         </h4>
      </div>
      <!--end panel-heading-->
      <div id="collapse2" class="panel-collapse collapse">
         <div class="panel-body">
            <h2>Lista de períodos</h2>
         </div>
         <div class="col-md-8 col-md-offset-2" id="div_periods">
         </div>
      </div>
   </div>
</div>
{{!--end panel-default--}}