{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_data/fields_action_bar

    Actions bar at the top of the field pages in the database activity.

    Context variables required for this template:
    * d - The database id.
    * fieldselect - The data object containing the required properties to render core/single_select.

    Example context (json):
    {
        "tertiarytitle": "Manage fields",
        "fieldselect": {
            "id": "single_select_test",
            "name": "fieldselector",
            "method": "get",
            "action": "https://example.com/post",
            "formid": "single_select_form",
            "sesskey": "sesskey",
            "classes": "singleselect",
            "label": "",
            "helpicon": false,
            "options": [
                {
                    "name": "Some name",
                    "value": "somevalue",
                    "selected": false,
                    "optgroup": false
                }
            ],
            "disabled": false,
            "title": null
        },
        "hasback" : true,
        "backurl": "https://moodlesite.com/mod/data/preset.php",
        "backtitle": "Back"
    }
}}
<div class="container-fluid tertiary-navigation">
    <div class="row">
        <div class="d-flex">
            {{#hasback}}
                <div class="navitem mb-0 backbutton border-right">
                    <a href="{{backurl}}" role="button" title="{{backtitle}}" class="d-flex align-items-center">{{!
                    }}{{#pix}} i/previous, moodle {{/pix}}{{!
                    }}</a>
                </div>
            {{/hasback}}
            {{#urlselect}}
                <div class="navitem mb-0">
                    {{>core/url_select}}
                </div>
            {{/urlselect}}
            {{#tertiarytitle}}
                <div class="navitem mb-0 title d-flex align-items-center">
                    <h2>{{tertiarytitle}}</h2>
                </div>
            {{/tertiarytitle}}
        </div>
        <div class="ml-sm-auto d-flex">
            {{#fieldselect}}
                <div class='navitem mb-0 fieldadd'>
                    {{>core/action_menu}}
                </div>
            {{/fieldselect}}
        </div>
    </div>
</div>
<hr/>
