{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_data/fields_mapping_body

    Display a modal to decide on field mapping

    Example context (json):
    {
        "presetname": "Image gallery",
        "fieldstocreate": "A, B, C",
        "fieldstodelete": "A, B, C",
        "cancelbutton": "",
        "mapfieldsbutton": "",
        "applybutton": ""
    }
}}
<div class="p-2">
    {{#fieldstocreate}}
        <div class="my-2"><span>{{#str}}mapping:fieldstocreate, mod_data, {{.}}{{/str}}</span></div>
    {{/fieldstocreate}}
    {{#fieldstoremove}}
        <div class="my-2">
            <span>{{#str}}mapping:fieldstodelete, mod_data, {{.}}{{/str}}</span>
        </div>
        {{#fieldstocreate}}
            <div class="my-2">
                {{#str}}mapping:warningmessagedeleteandcreate, mod_data{{/str}}
            </div>
        {{/fieldstocreate}}
        {{^fieldstocreate}}
            <div class="my-2">
                {{#str}}mapping:warningmessagedelete, mod_data{{/str}}
            </div>
        {{/fieldstocreate}}
    {{/fieldstoremove}}
</div>
