{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_data/presets_action_bar

    Actions bar at the top of the presets page in the database activity.

    Context variables required for this template:
    * actionsselect - The presets actions selector.
    * id - The database course module id (cmid).

    Example context (json):
    {
        "actionsselect": {
            "classes": "moodle-actionmenu",
            "instance": "1",
            "triggerrole": "button",
            "primary": {
                "attributes": [
                    {"name": "id", "value": "action-menu-1"},
                    {"name": "role", "value": "menu"}
                ],
                "items": [
                    {
                        "attributes": [
                            {"name": "role", "value": "menuitem"}
                        ],
                        "rawhtml": "Actions"
                    }
                ]
            },
            "secondary": {
                "attributes": [
                    {"name": "id", "value": "action-menu-1-menu"},
                    {"name": "role", "value": "menuitem"}
                ],
                "items": [
                    {
                        "rawhtml": "Import preset"
                    },
                    {
                        "rawhtml": "Export preset"
                    }
                ]
            }
        },
        "id" : 1
    }
}}
<div class="container-fluid tertiary-navigation">
    <div class="row">
        <div class="col">
            <h2>{{#str}}presets, mod_data{{/str}}</h2>
        </div>
        <div class="col-auto">
            {{#actionsselect}}
                <div class='navitem mb-0 presetsactions'>
                    {{>core/action_menu}}
                </div>
            {{/actionsselect}}
        </div>
    </div>
</div>
<hr/>
{{#js}}
    require(['mod_data/saveaspreset', 'mod_data/importpresets'], (saveAsPreset, importPresets) => {
        saveAsPreset.init();
        importPresets.init();
    });
{{/js}}
