{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_data/view_action_bar

    Actions bar at the top of the view pages in the database activity.

    Context variables required for this template:
    * urlselect - The data object containing the required properties to render core/url_select.
    * importentriesbutton - The data object containing the required properties to render core/single_button.
    * exportentriesbutton - The data object containing the required properties to render core/single_button.

    Example context (json):
    {
        "urlselect": {
            "id": "url_select_test",
            "action": "https://example.com/post",
            "formid": "url_select_form",
            "sesskey": "sesskey",
            "classes": "urlselect",
            "label": "",
            "helpicon": false,
            "showbutton": null,
            "options": [
                {
                    "name": "Some name",
                    "value": "/mod/data/someurl.php",
                    "selected": false
                }
            ],
            "disabled": false,
            "title": null
        },
        "importentriesbutton": {
            "id": "single_button_test_1",
            "method" : "post",
            "formid": "single_button_form_1",
            "url" : "http://example.com/post",
            "primary" : false,
            "tooltip" : null,
            "label" : "Label",
            "attributes": []
        },
        "exportentriesbutton": {
            "id": "single_button_test_2",
            "method" : "post",
            "formid": "single_button_form_2",
            "url" : "http://example.com/post",
            "primary" : false,
            "tooltip" : null,
            "label" : "Label",
            "attributes": []
        }
    }
}}
<div class="container-fluid tertiary-navigation">
    <div class="row">
        {{#urlselect}}
            <div class="navitem">
                {{>core/url_select}}
            </div>
        {{/urlselect}}
        {{#addentrybutton}}
            <div class="navitem">
                {{>core/single_button}}
            </div>
        {{/addentrybutton}}
        <div class="ml-sm-auto d-flex">
            {{#importentriesbutton}}
                <div class="navitem">
                    {{>core/single_button}}
                </div>
            {{/importentriesbutton}}
            {{#exportentriesbutton}}
                <div class="navitem">
                    {{>core/single_button}}
                </div>
            {{/exportentriesbutton}}
        </div>
    </div>
</div>
