{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_quiz/edit_grading_page

    Display the Quiz complex grading page, from below tertiary nav, to above the footer.

    Classes required for JS:
    * none.

    Data attributes required for JS:
    * Many. See mod_quiz/edit_grading module.

    Context variables required for this template:
    * TBC

    Example context (json):
    {
        "gradeitems": [
            {
                "id": 123,
                "sortorder": 1,
                "name": "Reading & writing",
                "displayname": "Reading &amp; writing",
                "isused": true
            }
        ],
        "hasgradeitems": true,
        "nogradeitems": {
            "message": "This quiz does not yet have any grade items defined."
        }
    }
}}

<h2>{{#str}} gradeitemsetup, quiz {{/str}}</h2>

<h3>{{#str}} gradeitems, quiz {{/str}}</h3>

{{^hasgradeitems}}
    {{#nogradeitems}}
        {{> core/notification_info}}
    {{/nogradeitems}}
{{/hasgradeitems}}

{{#hasgradeitems}}
<table class="generaltable table-responsive">
    <thead>
        <tr>
            <th scope="col">{{#str}} gradeitem, grades {{/str}}</th>
            <th scope="col">{{#str}} actions {{/str}}</th>
        </tr>
    </thead>
    <tbody>
        {{#gradeitems}}
            <tr data-quiz-grade-item-id="{{id}}">
                <th scope="row">
                    <span class="inplaceeditable inplaceeditable-text"
                        data-raw-name="{{name}}" data-editlabel="{{#str}} gradeitemnewname, quiz, {{{displayname}}} {{/str}}">
                            <a href="#" class="quickeditlink aalink">
                                {{{displayname}}}
                                <span class="quickediticon">
                                    {{#pix}}t/editstring, core{{/pix}}
                                </span>
                            </a>
                    </span>
                </th>
                <td class="align-middle">
                    {{^isused}}
                        <a href="#" data-action-delete>
                            {{#pix}} t/delete, core, {{#str}} gradeitemdelete, quiz, {{{name}}} {{/str}} {{/pix}}
                        </a>
                    {{/isused}}
                </td>
            </tr>
        {{/gradeitems}}
    </tbody>
</table>
{{/hasgradeitems}}

<div class="mb-5">
    <button type="button" class="btn btn-secondary" id="mod_quiz-add_grade_item">{{#str}} additem, grades{{/str}}</button>
</div>

<h3>Mark scheme</h3>

<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Question</th>
            <th scope="col">Spelling</th>
            <th scope="col">Grammar</th>
            <th scope="col">Comprehension</th>
        </tr>
    </thead>
    <tbody>
        <tr class="mod_quiz-new-section">
            <td colspan="5">
                <h4>Section 1: Holidays</h4>
            </td>
        </tr>
        <tr>
            <td>i</td>
            <th scope="row">
                <img class="icon activityicon" title="Description" alt="Description" role="presentation" src="http://localhost/moodle_head/theme/image.php/boost/qtype_description/1677258549/icon">
                <span class="questionname">Instructions</span>
                <span class="questiontext">To answer this quiz you need to ...</span>
            </th>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1</td>
            <th scope="row">
                <img class="icon activityicon" title="Short answer" alt="" role="presentation" src="http://localhost/moodle_head/theme/image.php/boost/qtype_multichoice/1677258549/icon">
                <span class="questionname">Beach 1</span>
                <span class="questiontext">What colour is the sand?</span>
            </th>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>
                <span class="inplaceeditable inplaceeditable-text" data-inplaceeditable="Grade for this question" data-component="mod_quiz" data-itemtype="slotdisplaynumber" data-itemid="429000" data-value="1" data-editlabel="New maximum grade for this question" data-type="text" data-options="">
                    <a href="#" class="quickeditlink aalink" data-inplaceeditablelink="1" title="Edit the grade for this question">
                        2.00
                        <span class="quickediticon">
                            <i class="icon fa fa-pencil fa-fw " title="Edit the grade for this question" role="img" aria-label="Edit the grade for this question"></i>
                        </span>
                    </a>
                </span>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <th scope="row">
                <img class="icon activityicon" title="Short answer" alt="" role="presentation" src="http://localhost/moodle_head/theme/image.php/boost/qtype_shortanswer/1677258549/icon">
                <span class="questionname">Beach 2</span>
                <span class="questiontext">The sea is blue. How do you write that in French?</span>
            </th>
            <td>
                <span class="inplaceeditable inplaceeditable-text" data-inplaceeditable="Grade for this question" data-component="mod_quiz" data-itemtype="slotdisplaynumber" data-itemid="429000" data-value="1" data-editlabel="New maximum grade for this question" data-type="text" data-options="">
                    <a href="#" class="quickeditlink aalink" data-inplaceeditablelink="1" title="Edit the grade for this question">
                        2.00
                        <span class="quickediticon">
                            <i class="icon fa fa-pencil fa-fw " title="Edit the grade for this question" role="img" aria-label="Edit the grade for this question"></i>
                        </span>
                    </a>
                </span>
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="mod_quiz-new-section">
            <td colspan="5">
                <h4>Section 2: Food</h4>
            </td>
        </tr>
        <tr class="mod_quiz-new-section">
            <td colspan="5">
                <h4>Section 3: Pets</h4>
            </td>
        </tr>
    </tbody>
</table>
