.block_site_main_menu li { clear: both; }
.block_site_main_menu li .column { width: 100%; }
.block_site_main_menu li .buttons { float: right; margin-top: 3px;}
.dir-rtl .block_site_main_menu li .buttons { float: left; }
.block_site_main_menu li .buttons a img{ vertical-align: text-bottom; margin: 0 3px;}
.block_site_main_menu .footer { margin-top: 1em; }
.block_site_main_menu .section_add_menus noscript div { display: inline;}
