.que.ddimagetoimage .qtext {
    line-height: 2em;
    margin-bottom: 0.5em;
    display: block;
}

.que.ddimagetoimage .qtext * {
    line-height: 2em;
}

.que.ddimagetoimage div.droparea img {
    border: 1px solid #000000;
}

.que.ddimagetoimage img.draghome {
    margin: 5px;
    visibility : hidden;
}
.que.ddimagetoimage span.incorrect {
    background-color: #faa;
}
.que.ddimagetoimage span.correct {
    background-color: #afa;
}

.que.ddimagetoimage .group1 {
    background-color: #FFFFFF;
}
.que.ddimagetoimage .group2 {
    background-color: #DCDCDC;
}
.que.ddimagetoimage .group3 {
    background-color: #B0C4DE;
}
.que.ddimagetoimage .group4 {
    background-color: #D8BFD8;
}
.que.ddimagetoimage .group5 {
    background-color: #87CEFA;
}
.que.ddimagetoimage .group6 {
    background-color: #DAA520;
}
.que.ddimagetoimage .group7 {
    background-color: #FFD700;
}
.que.ddimagetoimage .group8 {
    background-color: #F0E68C;
}
.que.ddimagetoimage .drag {
    border: 1px solid black;
    cursor: move;
    z-index: 2;
}
.que.ddimagetoimage div.ddarea {
    text-align : center;
}
.que.ddimagetoimage .dropbackground {
    margin:0 auto;
}
.que.ddimagetoimage .dropzone {
    border: 1px solid black;
    position: absolute;
    z-index: 1;
}

.que.ddimagetoimage .droptarget.yui3-dd-drop-over {
    background-color: #FFA928;
}

form.mform fieldset#previewareaheader .group1 {
    background-color: #FFFFFF;
}
form.mform fieldset#previewareaheader .group2 {
    background-color: #DCDCDC;
}
form.mform fieldset#previewareaheader .group3 {
    background-color: #B0C4DE;
}
form.mform fieldset#previewareaheader .group4 {
    background-color: #D8BFD8;
}
form.mform fieldset#previewareaheader .group5 {
    background-color: #87CEFA;
}
form.mform fieldset#previewareaheader .group6 {
    background-color: #DAA520;
}
form.mform fieldset#previewareaheader .group7 {
    background-color: #FFD700;
}
form.mform fieldset#previewareaheader .group8 {
    background-color: #F0E68C;
}
form.mform fieldset#previewareaheader img.draghome {
    margin: 5px;
    visibility : hidden;
}
form.mform fieldset#previewareaheader .drag {
    border: 1px solid black;
    cursor: move;
    z-index: 2;
}
form.mform fieldset#previewareaheader .dragitems {
    clear:left;
}


form.mform fieldset#previewareaheader div.ddarea {
    text-align : center;
}
form.mform fieldset#previewareaheader .dropbackground {
    margin:0 auto;
}
form.mform fieldset#previewareaheader .droptarget {
    border: 1px solid black;
    position: absolute;
    z-index: 1;
}

form.mform fieldset#previewareaheader .droptarget.yui3-dd-drop-over {
    background-color: #FFA928;
}
