{{!
    This file is part of The Flashcard Module

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_flashcard/cardscounts

    Classes required for JS:
    * no classes
}}
<!-- mod_flashcard/cardscounts -->
<table width="100%">

    <tr valign="middle">
        <td>
            {{#pix}}topenabled, mod_flashcard{{/pix}} (1)
        </td>

        <td>
            <div class="bar" style="height: 10px; width: {{width0}}px"></div>
        </td>
    </tr>

    <tr valign="middle">
        <td>
            {{#pix}}topenabled, mod_flashcard{{/pix}} (2)
        </td>
        <td>
            <div class="bar" style="height: 10px; width: {{width1}}px"></div>
        </td>
    </tr>

    {{#morethan3decks}}
    <tr valign="middle">
        <td>
            {{#pix}}topenabled, mod_flashcard{{/pix}} (3)
        </td>

        <td>
            <div class="bar" style="height: 10px; width: {{width3}}px"></div>
        </td>
    </tr>
    {{/morethan3decks}}

    {{#morethan4decks}}
    <tr valign="middle">
        <td>
            {{#pix}}topenabled, mod_flashcard{{/pix}} (4)
        </td>
        <td>
            <div class="bar" style="height: 10px; width: {{width4}}px"></div>
        </td>
    </tr>
    {{/morethan4decks}}
</table>
<!-- /mod_flashcard/cardscounts -->
