{{!
    This file is part of The Flashcard Module

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_flashcard/finished

    Classes required for JS:
    * no classes
}}
<!-- mod_flashcard/finished -->
<div id="finished" style="display: none;" class="finished">
    <table width="100%" height="100%">
        <tr>
            <td align="center" valign="middle" class="emptyset">
                {{#str}}emptyset, mod_flashcard{{/str}}
            </td>
        </tr>
    </table>
</div>
<!-- /mod_flashcard/finished -->
