{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template qbank_managecategories/category_condition

    @deprecated since Moodle 4.3
    @todo Final deprecation on Moodle 4.7 MDL-78090

    Example context (json):
    {
        "displaydata": [
          {
                "categoryselect": "<select name=\"id_selectacategory\"></select>",
                "categorydesc": "<p>Category description</p>"
          }
        ]
    }
}}
<div class="choosecategory">
    <label class="mr-1" for="id_selectacategory">
        {{#str}} selectacategory, question{{/str}}
    </label>
    {{{categoryselect}}}
</div>
<div class="boxaligncenter categoryinfo pl-0">
    {{{categorydesc}}}
</div>
