.popup
{
   position:absolute; 
   left:300px; 
   top:80px; 
   width:550px;
   border-style:solid;
   border-color: grey;
   border-width: 1px;
   background-color: white;
   padding:10px;
   z-index:1;
   visibility: hidden;
}

.popupwide
{
   position:absolute; 
   left:200px; 
   top:80px; 
   width:900px;
   border-style:solid;
   border-color: grey;
   border-width: 1px;
   background-color: white;
   padding:10px;
   z-index:1;
   visibility: hidden;
}

.select
{
    overflow: visible;
    clip: auto;
    width:200px;
}

.groupmanagementtable
{
    padding: 10px;
    margin-left: auto;
    margin-right: auto; 
    text-align: center; 
}

.groupmanagementtableheader
{
    width: 300px;
}



