<div id="mycoursecard-{{id}}" class="card coursecard col-lg-3 max-width max-width-2 flex-grow col-md-6 col-sm-12 p-0 card-width card-border-radius card-box-shadow card-border" data-color="{{cardcolour}}">

                <div class="card-body bg-wave p-0 card-border-radius card-text-color">
                    <div class="{{#iscomplete}}complete-card-overlay {{/iscomplete}}{{^iscomplete}}card-body-overlay {{/iscomplete}} card-body-border-radius" >
                        <p class="card-text">{{fullname}}</p>
                        <div class="d-flex align-items-center justify-content-start">
                            <div class="card-title card-text-size pr-0">{{coursecategory}}
                            </div>
                            <div>
                                    {{#iscomplete}}
									<i class="qicon-tick-mark success-tick"></i> 
									{{/iscomplete}}
                                    <div class="white-circle {{#iscomplete}}complete-text-color{{/iscomplete}}">{{level}}</div>
                             </div>
                        </div>
                <a href="{{viewurl}}" class="stretched-link"></a>
                    </div>
                </div>
                <div class="inner-section" style="border-radius:0px 0px 8px 8px">
                    <div class="d-flex justify-content-between text-grey">
                        <div class="d-flex align-items-center pb-2">
                            <span class="qicon-calendar"></span>
                            <div class="pl-2">Last opened: {{courselastopened}}</div>
                        </div>
                        <div>
                            {{progress}}%
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar success-color" role="progressbar" style="width: {{progress}}%;" aria-valuenow=""
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>

<style>
{{{cardstyle}}}
</style>