.h5p-iv-open-ended-grading-container {
  border: solid 1px #c3c3c3;
  box-shadow: 0px 0px 20px rgba(117,117,117,0.2);
  background: #fafbfc;
}

.h5p-iv-open-ended-reporting-container {
  line-height: 2.25;
  padding: 1em;
}

.h5p-iv-open-ended-reporting-header {
  display: flex;
  padding: 0.5em;
}

.h5p-iv-open-ended-reporting-grade-input-wrapper {
  display: flex;
}

.h5p-iv-open-ended-response-container {
  padding: 2em;
  height: 300px;
  overflow-y: auto;
  border: solid 1px #C3C3C3;
  background-color: white;
  line-height: normal;
  font-family: sans-serif, Arial, Verdana, "Trebuchet MS";
}

.h5p-iv-open-ended-response-container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #ebebeb;
}

.h5p-iv-open-ended-response-container::-webkit-scrollbar
{
	width: 12px;
	background-color: #ebebeb;
}

.h5p-iv-open-ended-response-container::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #858585;
}

.h5p-iv-open-ended-reporting-hidden {
  display: none !important;
}

.h5p-iv-open-ended-input-div {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-right: 1em;
}

.h5p-iv-open-ended-input-div input {
  margin-left: 0.8em;
  margin-right: 0.8em;
  width: 74px;
  height: 41px;
  border: 2px solid #c3c3c3;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: inset 0px 0px 5px rgba(0,0,0,0.2);
  text-align: right;
}

.h5p-iv-open-ended-reporting-submit-button-wrapper {
  display: flex;
  align-items: center;
}

.h5p-iv-open-ended-reporting-submit-button {
  padding: 0.2em 1em 0.2em 1em;
  border-radius: 4px;
  background-color: #576cf7;
  font-family: Arial;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none solid rgb(255, 255, 255);
  text-align: center;
  border: 0;
}

.h5p-iv-open-ended-reporting-submit-button:disabled {
  opacity: 0.5;
}

.h5p-iv-open-ended-reporting-title-wrapper {
  margin-right: auto;
}

.h5p-iv-open-ended-title-counter {
  font-size: 16px;
  font-style: italic;
}

.h5p-iv-open-ended-title-counter span {
  font-weight: bold;
}

.h5p-iv-open-ended-reporting-button-wrapper {
  margin-left: auto;
  display: flex;
  margin-left: auto;
}

.h5p-iv-open-ended-reporting-button-wrapper button {
  width: 2.3em;
  height: 2.3em;
  background-color: #252b39;
  border-radius: 50%;
  border: none;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-left: 0.5em;
  outline: 0;
}

.h5p-iv-open-ended-reporting-footer {
  display: flex;
  margin-top: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.h5p-iv-open-ended-reporting-button-wrapper button:disabled{
  opacity: 0.5;
}

.h5p-iv-open-ended-reporting-scores {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.h5p-iv-open-ended-previous:before {
  font-family: 'h5p-reporting-icons';
  content: "\e58f";
  color: white;
  font-size: 1.8em;
  position: absolute;
  top: -0.4em;
  left: 0.15em;
}

.h5p-iv-open-ended-next:before {
  font-family: 'h5p-reporting-icons';
  content: "\e58e";
  color: white;
  font-size: 1.8em;
  position: absolute;
  top: -0.5em;
  left: 0.15em;
}

.h5p-iv-open-ended-reporting-question-counter {
  color: #4354c4;
  border-radius: 50px;
  background-color: #D6E3FB;
  padding-left: 1.4em;
  padding-right: 1.4em;
}

.h5p-iv-open-ended-reporting-question-counter span{
  font-size: 15px;
  font-weight: 700;
  font-style: italic;
  text-align: center;
}

.h5p-iv-open-ended-reporting-question-counter.reporting-completed {
  color: #849B72;
  background-color: #DCEFD9;
}

.h5p-iv-open-ended-reporting-change-grade {
  margin: 1em;
  color: #576cf7;
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .h5p-iv-open-ended-reporting-header {
    padding: 0.5em;
    display: block;
  }

  .h5p-iv-open-ended-reporting-grade-input-wrapper {
    justify-content: flex-end;
    min-width: 20em;
  }

  .h5p-iv-open-ended-reporting-change-grade {
    margin-left: 0;
  }

  .h5p-iv-open-ended-reporting-scores {
    justify-content: flex-end;
  }

  .h5p-iv-open-ended-input-div {
   display: inline-block;
  }

  .h5p-iv-open-ended-reporting-submit-button-wrapper {
    display: inline-block;
  }

  .h5p-reporting-description {
    margin-bottom: 0;
  }
}
