{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template file/theme/stylesheet

    Theme styles/<filename>.css file.

    Example context (json):
    {}
}}
/**
 * Please keep in mind that since Moodle 2.0 all of the CSS for the whole of
 * combined into one file, stripped of white spaces, then delivered.
 *
 * Please visit the CSS coding style page:
 * https://docs.moodle.org/dev/CSS_coding_style
 */
