{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_adaptable/sideposttoggle

    Adaptable side post toggle template.

    Context variables required for this template:
    * hassidepost - true if there is a side post
    * left - true if side post is on the left

    Example context (json):
    {
        "hassidepost": true,
        "left": false
    }
}}
<div class="drawer-toggles d-flex">
    {{#hassidepost}}
    <div class="drawer-toggler drawer-{{#left}}left{{/left}}{{^left}}right{{/left}}-toggle ml-auto d-print-none">
        <button
            class="btn icon-no-margin"
            data-toggler="drawers"
            data-action="toggle"
            data-target="theme_adaptable-drawers-sidepost"
            data-toggle="tooltip"
            data-placement="{{#left}}left{{/left}}{{^left}}right{{/left}}"
            title="{{#str}}opendrawerblocks, core{{/str}}"
        >
            <span class="sr-only">{{#str}}opendrawerblocks, core{{/str}}</span>
            <span class="dir-{{#left}}ltr{{/left}}{{^left}}rtl{{/left}}-hide">{{#pix}}t/blocks_drawer, core{{/pix}}</span>
            <span class="dir-{{#left}}rtl{{/left}}{{^left}}ltr{{/left}}-hide">{{#pix}}t/blocks_drawer_rtl, core{{/pix}}</span>
        </button>
    </div>
    {{/hassidepost}}
</div>
