.pagelayout-frontpage,
.pagelayout-incourse,
.pagelayout-general,
.pagelayout-course,
.pagelayout-coursecategory,
.pagelayout-admin,
.pagelayout-mydashboard,
.pagelayout-mypublic,
.pagelayout-login,
.pagelayout-report {
    background: url([[pix:theme|body]]);
    border-top:1px solid #c1bc9d;
}

html {
    background: none;
}

body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,input,textarea {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #2a2513;
}

#wrapper {
    background: #fff;
    margin: 2% 5%;
    padding: 5px;
    border: 1px solid #c1bc9d;
}

a {
    color: #336699;
}

a:hover {
    text-decoration: underline;
}

.pagelayout-frontpage #page-content #region-main-box #region-post-box {
    padding-top: 0;
}

/* Header
------------------------*/

#page-header {
    background: #ddd6cc url([[pix:theme|header_grass]]) repeat-x 0 100%;
    margin-bottom: 5px;
}

.has_custom_menu #page-header {
    margin-bottom: 0px;
}

.headermain {
    font-weight: normal;
    margin: 1em 0.5em 0.75em;
}

#page-content {
    float: none;
}

/* Footer
-------------------------*/
#page-footer {
    float:none;
}

/* Navbar
-------------------------*/

.navbar {
    background: #aeb9c6 url([[pix:theme|breadcrumb]]) repeat-x 0 100%;
    padding: 5px;
}

/* Blocks
-------------------------*/

.block {
    border-color: #eee;
}

.block .header {
    background: #9eb1bf;
    padding-left: 5px;
}

.block .title {
    background: #867f6a;
    padding-left: 5px;
}

.block .title h2 {
    background: #6e6855;
    margin: 0;
    padding: 5px;
    font-size: 1em;
    color: #fff;
}

.block_action {
    padding: 5px 0 0;
}

.block .content {
    background: #d8d2c6;
    border: 1px solid #867f6a;
}

.block .minicalendar td,
.block .minicalendar th {
    border-color: #d8d2c6;
}

/* Course
----------------------------*/

.headingblock {
    background: url([[pix:theme|headingblock]]) repeat-x 0 0;
    color: #fff;
    font-weight: normal;
    border: none;
    padding: 2px 5px;
}

.course-content .main {
    border: 1px solid #eee;
    background: #eee;
}

.course-content .current {
    background: #9ca7b4;
}

.course-content .current .left {
    color: #fff;
}

.course-content .main .content {
    background: #fff;
}

/* Forums
-----------------------------*/

.forumpost .topic {
    background: #cad5e1;
    border-width: 1px;
    border-color: #eee #eee #aaa;
    border-style: solid;
}

.forumpost .topic div,
.forumpost .content div {
    margin:4px;
}


.forumpost .starter .subject {
    font-weight: bold;
}

.forumpost .content {
    border-color: #eee;
    border-width: 0 1px 1px;
    border-style: solid;
    background: #f6f6f6;
}

/* Dock
-----------------------------*/

body.has_dock {
    margin: 0;
}

#dock {
    left: 5%;
    margin-left: -29px;
    border-width: 0;
    background-color: transparent;
}

#dock .controls {
    bottom: auto;
    background-color: #DDD6CC;
}

#dock .dockeditem_container {
    position: relative;
}

#dock .dockeditem.firstdockitem {
    margin-top: 50px;
}

#dock .dockeditem {
    background-color: #fff;
    padding: 2px;
    padding-right: 0px;
}

#dock .dockedtitle {
    border-width: 0;
}

#dock .dockedtitle h2 {
    margin: 0;
    padding: 10px 3px;
}

#dock .dockedtitle.activeitem {
    background-color: #817b65;
    width: 35px;
}

#dockeditempanel {
    background-color: #817b65;
    margin-left: 5px;
}

#dockeditempanel .dockeditempanel_content {
    background-color: #eee9e0;
    margin: 0 3px;
    position: relative;
    top: -3px;
    min-height: 100px;
    border-color: #6f6856;
}

#dockeditempanel .dockeditempanel_hd {
    background-image: url([[pix:theme|headingblock]]);
    border-width: 0;
}

#dockeditempanel .dockeditempanel_hd h2 {
    font-size: 1em;
    color: #fff;
}

/*cutom menu */
/*YUI Reset */
#custommenu .yui3-menu-horizontal .yui3-menu-content,
#custommenu .yui3-menu-horizontal .yui3-menu-label,
#custommenu .yui3-menu-horizontal .yui3-menu-label-active,
#custommenu .yui3-menu-horizontal .yui3-menuitem-active .yui3-menuitem-content,
#custommenu .yui3-menu-horizontal .yui3-menu-label-menuvisible {
    background-position: -10000px -10000px;
}
#custommenu .yui3-menu-label,
#custommenu .yui3-menu .yui3-menu .yui3-menu-label,
#custommenu .yui3-menubuttonnav .yui3-menu-label em {
    background-position: right center;
}
#custommenu .yui3-splitbuttonnav .yui3-menu-label .yui3-menu-toggle {
    background-position: 3px center;
}
#custommenu .yui3-splitbuttonnav .yui3-menu-label-menuvisible .yui3-menu-toggle {
    background-position: 0% 50%;
}
#custommenu {
    clear: both;
    background-image: url([[pix:theme|headingblock]]);
    margin-bottom: 5px;
}
#custommenu .yui3-menu-label,
#custommenu .yui3-menuitem-content {
    color: #fff;
    font-weight: 800;
    line-height: 30px;
}
#custommenu .custom_menu_submenu .yui3-menu-label,
#custommenu .custom_menu_submenu .yui3-menuitem-content {
    color: #333;
    text-shadow: none;
    line-height: 25px;
}
#custommenu .yui3-menu-label.yui3-menu-label-active,
#custommenu .yui3-menu-label.yui3-menu-label-menuvisible,
#custommenu .yui3-menuitem-active .yui3-menuitem-content {
    color: #000;
    background-color: #d8d2c6;
}
#custommenu .yui3-menu-content,
#custommenu .yui3-menu-content,
#custommenu .yui3-menu .yui3-menu .yui3-menu-content,
#custommenu .yui3-menu-horizontal .yui3-menu-label,
#custommenu .yui3-menu-horizontal .yui3-menuitem-content  {
    border: 0 none;
}
#custommenu .yui3-menu-horizontal .yui3-menu-label,
#custommenu .yui3-menu-horizontal .yui3-menuitem-content {
    border: 0 none;
}
#custommenu .custom_menu_submenu {
    border: 2px solid #d8d2c6;
    background: #fff;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px #ccc;
       -moz-box-shadow: 0px 1px 3px #ccc;
            box-shadow: 0px 1px 3px #ccc;
}
