#gradetree tr.category td {
    background-color: #DDDDDD;
}

#gradetree .category td.name {
    font-weight: bold;
}

#gradetree td.name {

}

#gradetree th.actions {
    width: 80px;
}

.child {
    background-image: url(img/ln.gif);
}

.advanced {
    display: none;
}
