.gradetreebox tr.category td {
    background-color: #DDDDDD;
}

.gradetreebox .category td.name {
    font-weight: bold;
}

.gradetreebox td.name {

}

.gradetreebox th.actions {
    width: 80px;
}

.child {
    background-image: url(img/ln.gif);
}

.hidden {
    display: none;
}
.shown {
}

img.iconsmall {
    margin-left: 4px;
}

img.icon {
    margin-right: 5px;
}

.gradetreebox  {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-bottom: 15px;
}

.gradetreebox table {
    margin-left: auto;
    margin-right: auto;
}

.buttons {
    margin: 20px;
    text-align: center;
    width: 100%;
}

.buttons .singlebutton {
    display: inline;
    padding: 5px;
}
