{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_reportbuilder/local/filters/header

    Template for the header of a filter instance within the filter form

    Example context (json):
    {
        "name": "Date modified"
    }
}}
<div class="filter pb-3 mb-3" data-filter-for="{{name}}">
    <div class="filter-header d-flex align-items-start justify-content-between">
        <div class="filter-name text-truncate">
            {{{name}}}
        </div>
    </div>
