<!-- TODO - not sure this is useful as a template seperate from course_toc -->
<div class="toc-footer">
    {{#canaddnewsection}}
    <a href="#snap-add-new-section" id="snap-new-section">
        <img src="{{imgurladdnewsection}}" class="svg-icon" alt="" />{{#str}}addanewsection, theme_snap{{/str}}
    </a>
    {{/canaddnewsection}}
    <a href="#coursetools" id="snap-course-tools" class="snap-course-dashboard">
        <img src="{{imgurltools}}" class="svg-icon" alt="" />{{#str}}coursetools, theme_snap{{/str}}
    </a>
</div>
