{{#progress}}{{#progress.total}}
    <span class="text completionstatus outoftotal">
        {{#completed}}
        <img class="snap-section-complete" src="{{pixcompleted}}" alt="{{#str}}completed, completion{{/str}}" />
        {{/completed}}
        <small>
            {{#str}} progresstotal, completion, {"complete":  {{progress.complete}}, "total": {{progress.total}}} {{/str}}
        </small>
    </span>
{{/progress.total}}{{/progress}}
