<div class="dropdown">
    <a tabindex="0" class="dropdown-toggle icon-no-margin" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" aria-controls="action-menu-3-menu">
        <i class="icon fa fa-cog fa-fw" aria-hidden="true" title="{{# str }} actiondropdown, pdfannotator {{/ str }}" aria-label="{{# str }} actiondropdown, pdfannotator {{/ str }}"></i>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{{{url}}}" class="dropdown-item {{buttonclass}}" type="button">
            <i class="{{iconclass}}"></i> {{label}}
        </a></li>
    </ul>
</div>