{{!
@template theme_boost/core_form/element-radio-online

   Example context (json):
   {
    "element": {
        "id": "test-radio",
        "name": "Test radio button",
        "size": "10"
      }
   }

}}
<label class="form-check-inline {{#error}}has-danger{{/error}} fitem {{#advanced}}advanced{{/advanced}} {{{element.extraclasses}}}">
{{^element.frozen}}
<input type="radio" name="{{element.name}}"
    id="{{element.id}}" value="{{element.value}}" size="{{element.size}}"
    {{#element.checked}}checked{{/element.checked}}
    {{#error}}
        autofocus aria-describedby="id_error_{{element.name}}"
    {{/error}}
    {{{element.attributes}}} >
{{/element.frozen}}
    {{{label}}}
</label> {{{helpbutton}}}
<span class="form-control-feedback" id="id_error_{{element.name}}" {{^error}} style="display: none;"{{/error}}>
    {{{error}}}
</span>
{{^element.frozen}}
{{#js}}
require(['theme_boost/form-display-errors'], function(module) {
    module.enhance({{#quote}}{{element.id}}{{/quote}});
});
{{/js}}
{{/element.frozen}}
