{{< core_form/element-template }}
    {{$element}}
        {{#element.elements}}
            {{{separator}}}
            {{{html}}}
        {{/element.elements}}
    {{/element}}
{{/ core_form/element-template }}
