.sideblock.hidden .header {border-bottom-width:0;}
.sideblock.hidden .content {display: none;}

.sideblock {border-style: solid;border-width:1px;margin-bottom:1em;}
.sideblock .header h2 {margin:4px;}
.sideblock .header .block_action {float:right;margin:0 4px;vertical-align:top;}
.sideblock .header .block_action input {margin-right:2px;}
.sideblock .content {padding:4px;}
.sideblock .footer {margin-bottom: 4px;}

.sideblock img.userpicture {width:16px;height:16px;margin-right:4px;}
.sideblock.beingmoved {border-width: 2px;border-style: dashed;}

.block-region .hidden .header {border-bottom: 1px solid;}
.block-region .hidden .content {display: none;}
.block-region .invisible {opacity: 0.5;filter: alpha(opacity=0.5);}

.blockmovetarget {display: block;height: 1em;margin-bottom: 1em;border-width: 2px;border-style: dashed;}

.sideblock .blockannotation {font-size:0.75em;margin: -1em 0 1em;}
.sideblock.beingmoved {border-width: 2px;border-style: dashed;}
.sideblock .content ul.list li.listentry {clear:both;}
.sideblock .content div.info {text-align:center;}

/** List block contents **/
.sideblock .list .c0 {display:inline;}
.sideblock .list .c1 {margin-left:5px;display:inline;}