
    <div class="card">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <div class="card-block p-b-0">
                    <p class="m-b-0"><strong>{{ fullname }}</strong></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 my-auto">
                <div class="card-block">
                    <img class="img-responsive my-auto" src="{{{ imageurl }}}" />
                    <p class="card-text p-t-1"><a href="{{ link }}" class="btn btn-primary" data-id="{{ id }}">{{# str }}entercourse, block_iomad_learningpath{{/ str }}</a></p>
                </div>
            </div>
            <div class="col-md-8 px-3">
                <div class="card-block">
                    {{{ summary }}}
                    {{# hasprogress }}
                        <div class="progress m-t-1">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{ progresspercent}}%;" 
                                aria-valuenow="{{ progresspercent }}" aria-valuemin="0" aria-valuemax="100">{{ progresspercent }}%</div>
                        </div>
                    {{/ hasprogress }}
                    {{^ hasprogress }}
                        <div class="alert alert-warning">{{# str }}nocompletion, block_iomad_learningpath{{/ str }}</div>
                    {{/ hasprogress }} 
                </div>
            </div>
        </div>
    </div>
