/* History */

th#excludedheader {
    white-space: normal;
}

th#excludedheader p {
    width: 75px;
}

table#gradestable th.header.selected {
    font-size: 12px;
    font-weight: bold;
}

.path-grade-report-history div.gradeparent {
    overflow-x: scroll;
}

.path-grade-report-history .singlebutton div {
    margin-bottom: 0;
}

.path-grade-report-history .singlebutton div input[type="button"] {
    margin-bottom: 0;
}

/* User Selector */
.user-selector-panel {width:455px;background-color:#666;position:absolute;top:10%;left:10%;border:1px solid #666;border-width:0 5px 5px 0;}
.user-selector-panel.hidden {display:none;}
.user-selector-panel .usp-wrap {margin-top:-5px;margin-left:-5px;background-color:#FFF;border:1px solid #999;height:inherit;}

.user-selector-panel .usp-header {background-color:#eee;padding:1px;}
.user-selector-panel .usp-header h2 {margin:3px 1em 0.5em 1em;font-size:1em;}
.user-selector-panel .usp-header .close {width:25px;height:15px;position:absolute;top:2px;right:1em;cursor:pointer;background:url([[pix:theme|sprite]]) no-repeat scroll 0 0 transparent; opacity: 1;}

.user-selector-panel .usp-content {text-align:center;position:relative;width:100%;border-top:1px solid #999;border-bottom:1px solid #999;}
.user-selector-panel .usp-content .usp-controls {margin:0;padding:3px;background-color:#ddd;text-align:left;border-bottom:1px solid #BBB;}
.user-selector-panel .usp-content .usp-controls .usp-enrolment-option input {vertical-align:middle;margin-left:1em;}
.user-selector-panel .usp-ajax-content {height:375px;overflow:auto;}
.user-selector-panel .usp-search-results .totalusers {background-color:#eee;padding:5px;border-bottom:1px solid #BBB;font-size:7pt;font-weight: bold;}
.user-selector-panel .usp-search-results .user {width:100%;text-align:left;font-size:9pt;border-bottom:1px solid #ddd;border-top:1px solid #eee;}
.user-selector-panel .usp-search-results .user:nth-child(odd) {border-bottom:1px solid #ddd;border-top:1px solid #eee;background-color:#f9f9f9;}
.user-selector-panel .usp-search-results .user .count {width:20px;float:left;font-size:7pt;line-height:41px;border-right:1px solid #ddd;background-color:#EEE;text-align:right;padding:2px;}
.user-selector-panel .usp-search-results .user .picture {width:45px;float:left;margin:3px;}
.user-selector-panel .usp-search-results .user .details {width:250px;float:left;margin:3px;}
.user-selector-panel .usp-search-results .user .options {padding-right:7px;font-size:8pt;margin:3px;}
.user-selector-panel .usp-search-results .user .options .deselect {margin:3px;float:right;cursor:pointer;}
.user-selector-panel .usp-search-results .user .options .select {margin:3px;float:right;cursor:pointer;}
.user-selector-panel .usp-search-results .user.selected .count {width:40px;color:#eee;}
.user-selector-panel .usp-search-results .usp-more-results {background-color:#eee;padding:5px;border-top:1px solid #BBB;}

.user-selector-panel .usp-loading-lightbox {position:absolute;width:100%;height:100%;top:0;left:0;background-color:#FFF;min-width:50px;min-height:50px;}
.user-selector-panel .usp-loading-lightbox.hidden {display:none;}
.user-selector-panel .usp-loading-lightbox .loading-icon {margin:auto;vertical-align:middle;margin-top:125px;}

.user-selector-panel .usp-footer {padding:3px;background-color:#ddd;text-align:center;}
.user-selector-panel .usp-search {margin:3px;}
.user-selector-panel .usp-search label {padding-right:8px;}
.user-selector-panel .usp-search input {width:50%;}
.user-selector-panel .usp-search input.usp-search-btn {width:20%;}

.dir-rtl .user-selector-panel .usp-header .close {right: auto;left:1em;}
.dir-rtl .user-selector-panel .usp-search-results .user { text-align: right;}
.dir-rtl .user-selector-panel .usp-content .usp-controls { text-align: right;}

