.sections-wrapper{
  display: flex;
  flex: 1;
  .slider.sections{
    &.slick-slider{
      .slick-arrow{
        width:2rem;
        height:2rem;
        margin-top: -1rem;
        &.slick-prev{
          left:0;
          top:50%;
          &:before{
            transform: rotate(45deg);
          }
        }
        &.slick-next{
          right:0;
          top:50%;
          &:before{
            transform: rotate(225deg);
          }
        }
        &.slick-disabled{
          opacity: 0;
        }
      }
    }
    .nav-item{
      .section-icon{
        opacity:0;
      }
      &.active{
        .section-icon{
          opacity:1;
          background-color: #7af2ff;
        }
      }
      &:hover{
        .section-icon{
          opacity:1;
          background-color: #7af2ff;
        }
      }
    }
  }
}
.slider.labels{
  &.slick-slider{
    .slick-slide{
    }
    .slick-arrow{
      width:100%;
      height:2rem;
      padding-left: 50%;
      &.slick-prev{
        // top:-1rem;
        &:before{
          margin-left: -1rem;
          transform: rotate(135deg);
        }
      }
      &.slick-next{
        background: linear-gradient(to bottom, transparent 0%, #fff 50%, #fff 100%);
        bottom:0;
        &:before{
          margin-left:-1rem;
          transform: rotate(-45deg);
        }
      }
      &.slick-disabled{
        opacity: 0;
      }
    }
  }
}
.slick-slider{
  .slick-arrow{
    position: absolute;
    border:0;
    background-color: transparent;
    outline: 0;
    color: transparent;
    &:focus{
      outline: 0;
    }
    &.slick-prev:before{
      content: '';
      display: block;
      width:1.5rem;
      height:1.5rem;
      border-top: 1px solid transparent;
      border-right: 1px solid transparent;
      border-bottom: 1px solid #000;
      border-left: 1px solid #000;
    }
    &.slick-next:before{
      content: '';
      display: block;
      width:1.5rem;
      height:1.5rem;
      border-top: 1px solid transparent;
      border-right: 1px solid transparent;
      border-bottom: 1px solid #000;
      border-left: 1px solid #000;
    }
  }
}
