.format-buttons{
  .sections-wrapper{
    display: flex;
    flex: 1;
    .slider.sections{
      width:75%;
      padding:0;
    }
  }
  .label-content-controls{
    position: absolute!important;
    top:515px;
    right:75%;
    width:25%;
  }
}
