/* @group Tabs */

.nav > .disabled > a {
    color: @grayLight;
    &:hover {
        color: @grayLight;
        border: 1px solid @grayLighter;
    }
}

.nav-tabs > li > a {
    border: 1px solid @grayLighter;
}

/* @end */