{{#totara_version}}
<a href="{{{items.xls}}}">
    {{# pix }} fileformats/xls, local_intelliboard, excel, local_intelliboard {{/ pix }}
</a>

<a href="{{{items.csv}}}">
    {{# pix }} fileformats/csv, local_intelliboard, csv, local_intelliboard {{/ pix }}
</a>

<a href="{{{items.pdf}}}">
    {{# pix }} fileformats/pdf, local_intelliboard, pdf, local_intelliboard {{/ pix }}
</a>
{{/totara_version}}
{{^totara_version}}
<a href="{{{items.xls}}}">
    {{# pix }} fileformats/xls, local_intelliboard, {{#str}} excel, local_intelliboard {{/str}}{{/ pix }}
</a>

<a href="{{{items.csv}}}">
    {{# pix }} fileformats/csv, local_intelliboard, {{#str}} csv, local_intelliboard {{/str}}{{/ pix }}
</a>

<a href="{{{items.pdf}}}">
    {{# pix }} fileformats/pdf, local_intelliboard, {{#str}} pdf, local_intelliboard {{/str}}{{/ pix }}
</a>
{{/totara_version}}
