{{!
    @template core_form/element-radio

    Example context (json):
    {
        "element": {
            "id": "id_test_radio0",
            "name": "test_radio_button"
        }
    }

}}
<div class="form-group row {{#error}}has-danger{{/error}} fitem {{#advanced}}advanced{{/advanced}} {{{element.parentclasses}}}">
    <div class="col-md-3 col-form-label pb-0 pt-0">
        {{#text}}
            <label class="d-inline word-break" for="{{element.id}}">
                {{{label}}}
            </label>
        {{/text}}
    </div>
    <div class="col-md-9 checkbox">
        <div class="form-check d-flex {{{element.extraclasses}}}">
                <label class="form-check-label">
                    {{^element.hardfrozen}}{{#element.frozen}}{{#element.checked}}
                        <input type="hidden" name="{{element.name}}" value="{{element.value}}">
                    {{/element.checked}}{{/element.frozen}}{{/element.hardfrozen}}
                    <input type="radio" class="form-check-input" {{^element.frozen}}name="{{element.name}}"{{/element.frozen}}
                        id="{{element.id}}" value="{{element.value}}"
                        {{#element.checked}}checked{{/element.checked}}
                        {{#element.frozen}}disabled{{/element.frozen}}
                        {{#error}}{{#element.checked}}
                            autofocus aria-describedby="{{element.iderror}}"
                        {{/element.checked}}{{/error}} {{{element.attributes}}} >
                    {{#text}}
                        {{{.}}}
                    {{/text}}
                    {{^text}}
                        {{{label}}}
                    {{/text}}
                </label>
                <div class="ml-2 d-flex align-items-center align-self-start">
                    {{#required}}
                        <div class="text-danger" title="{{#str}}required{{/str}}">
                        {{#pix}}req, core, {{#str}}required{{/str}}{{/pix}}
                        </div>
                    {{/required}}
                    {{{helpbutton}}}
                </div>
        </div>
        {{#error}}{{#element.checked}}
            <div class="form-control-feedback invalid-feedback" id="{{element.iderror}}" {{#error}}{{#element.checked}} style="display: block;"{{/element.checked}}{{/error}}>
                {{{error}}}
            </div>
        {{/element.checked}}{{/error}}
    </div>
</div>
{{^element.frozen}}
{{#js}}
require(['theme_boost/form-display-errors'], function(module) {
    module.enhance({{#quote}}{{element.id}}{{/quote}});
});
{{/js}}
{{/element.frozen}}
