<div class="mb-3 row {{#error}}has-danger{{/error}} fitem {{#advanced}}advanced{{/advanced}} {{{element.extraclasses}}} {{{element.parentclasses}}}">
    <div class="col-md-3 col-form-label pb-0 pt-0">
        {{#text}}
            <label class="d-inline word-break" for="{{element.id}}">
                {{{label}}}
            </label>
        {{/text}}
    </div>
    <div class="col-md-9 checkbox">
        <div class="form-check">
            {{^element.hardfrozen}}
                {{^element.frozen}}
                    <input type="hidden" name="{{element.name}}" value="{{element.deselectedvalue}}">
                {{/element.frozen}}
                {{#element.frozen}}
                    <input type="hidden" name="{{element.name}}" value="{{element.frozenvalue}}">
                {{/element.frozen}}
            {{/element.hardfrozen}}
            <input type="checkbox"
                name="{{element.name}}"
                class="form-check-input {{element.extraclasses}}"
                {{#element.selectedvalue}}
                    value="{{element.selectedvalue}}"
                {{/element.selectedvalue}}
                id="{{element.id}}" {{#element.checked}}checked{{/element.checked}}
                {{#error}}
                    autofocus aria-describedby="{{#text}}{{element.id}}_description {{/text}}{{element.iderror}}"
                {{/error}}
                {{^error}}
                    {{#text}}
                        aria-describedby="{{element.id}}_description"
                    {{/text}}
                {{/error}}
                {{#required}}
                   aria-required="true"
                {{/required}}
                {{#element.frozen}}
                    disabled
                {{/element.frozen}}
                {{{element.attributes}}} >
            {{#text}}
                <span id="{{element.id}}_description">
                    {{{.}}}
                </span>
            {{/text}}
            {{^text}}
                <label for="{{element.id}}">
                    {{{label}}}
                </label>
            {{/text}}
            <div class="ms-2 d-inline-flex align-items-center align-self-start">
                {{#required}}
                    <div class="text-danger" title="{{#str}}required{{/str}}">
                    {{#pix}}req, core, {{#str}}required{{/str}}{{/pix}}
                    </div>
                {{/required}}
                {{{helpbutton}}}
            </div>
        </div>
        <div class="form-control-feedback invalid-feedback" id="{{element.iderror}}" {{#error}} style="display: block;"{{/error}}>
            {{{error}}}
        </div>
    </div>
</div>
{{^element.frozen}}
{{#js}}
require(['theme_boost/form-display-errors'], function(module) {
    module.enhance({{#quote}}{{element.id}}{{/quote}});
});
{{/js}}
{{/element.frozen}}
