{{< core_form/element-template-inline }}
    {{$element}}
    <input type="text"
            class="form-control {{#error}}is-invalid{{/error}}"
            name="{{element.name}}"
            id="{{element.id}}"
    {{#element.frozen}}
            readonly {{#element.hardfrozen}}disabled{{/element.hardfrozen}}
    {{/element.frozen}}
            value="{{element.value}}"
            size="{{element.size}}"
            {{#error}}
                autofocus aria-describedby="{{element.iderror}}"
            {{/error}}
            {{{element.attributes}}}>
    {{/element}}
{{/ core_form/element-template-inline }}
