{{< core_form/element-template-inline }}
    {{$element}}
    <div class="d-flex flex-wrap align-items-center">
        {{#element.elements}}
            {{{separator}}}
            {{{html}}}
        {{/element.elements}}
    </div>
    {{/element}}
{{/ core_form/element-template-inline }}
