{{< core_form/element-template }}
    {{$element}}
        {{^element.frozen}}
        <textarea
            name="{{element.name}}"
            id="{{element.id}}"
            class="form-control {{#error}}is-invalid{{/error}}"
            {{#error}}
                autofocus aria-describedby="{{element.iderror}}"
            {{/error}}
            {{{element.attributes}}} >{{element.value}}</textarea>
        {{/element.frozen}}
        {{#element.frozen}}
            {{element.value}}
        {{/element.frozen}}
    {{/element}}
{{/ core_form/element-template }}
