{{< core_form/element-template }}
    {{$element}}
        <textarea
            name="{{element.name}}"
            id="{{element.id}}"
            class="form-control {{#error}}is-invalid{{/error}}"
            {{#error}}
                autofocus aria-describedby="{{element.iderror}}"
            {{/error}}
            {{{element.attributes}}}
            {{#element.frozen}}
            readonly {{#element.hardfrozen}}disabled{{/element.hardfrozen}}
            {{/element.frozen}}
        >{{element.value}}</textarea>
    {{/element}}
{{/ core_form/element-template }}
