{{!-- Course --}}
<div id="block21-4" class="block21-4 educard-block educard-font">
    <div class="block21-bg block-start-end-space">
        <div class="container">
            <div class="educard-sub-title">
                <h6>{{{block21headline}}}</h6>
            </div>
            <div>
                <div class="h1">{{block21header}} <span>{{block21maintitle}}</span></div>
                <div class="educard-heading-line-left"></div>
            </div>
            <div class="row mt-60">
                {{#block21}}
                <div class="col-xl-4 col-md-6 mb-4">
                    <div class="course-item block-shadow block-hover-shadow educard-rounded">
                        {{#block21imgenabled}}
                        <div class="category-name align-middle block-shadow">
                            <i class="bx bx-category-alt"></i>
                            <a href="{{categorylink}}">
                                <h4 class="text-truncate-1">{{categoryName}}</h4>
                            </a>
                        </div>
                        <div class="img">
                            {{#imgurl}}<img src="{{imgurl}}" alt="image">{{/imgurl}}
                        </div>
                        {{/block21imgenabled}}
                        {{^block21imgenabled}}
                        <div class="noimg"> 
                            <div class="category-name-noimg align-middle block-shadow">
                                <a href="{{categorylink}}">
                                    <h4 class="text-truncate-1">{{categoryName}}</h4>
                                </a>
                            </div>
                        </div>
                        {{/block21imgenabled}}
                        <div class="details position-relative">
                            {{#block21priceshow}}
                            <h4 class="price block-shadow educard-rounded">
                                {{cost}} {{currency}}
                            </h4>
                            {{/block21priceshow}}
                            {{#teachername}}
                            <div class="user-picture">
                                    <span class="align-middle" data-toggle="tooltip" data-placement="top" title="{{{teachername}}}">
                                    {{{userpicture}}}
                                </span>    
                            </div>
                            {{/teachername}}
                            <span class="h6 align-middle font-weight-500" data-toggle="tooltip" data-placement="top" title="{{#str}}block21tooltipenrolled, theme_educard{{/str}}">
                                <i class="fa fa-user-o mr-1" aria-hidden="true"></i> {{studentscount}}
                            </span>
                            <span class="h6 float-right font-weight-500" data-toggle="tooltip" data-placement="top" title="{{#str}}block21tooltiplastdate, theme_educard{{/str}}">
                                <i class="fa fa-calendar mr-1"></i> {{update}}
                            </span>
                            <a href="{{courselink}}">
                                <h4 class="text-truncate-1">
                                    {{#block21shortname}}{{shortname}}{{/block21shortname}}
                                    {{#block21fullname}}{{fullname}}{{/block21fullname}}
                                </h4>
                            </a>
                            <div class="font-size-m text-truncate-3">{{{summary}}}</div>
                        </div>
                    </div>
                </div>
                {{/block21}}
            </div>
            <div class="text-center mt-3">
                {{#block21button}}
                <a class="educard-btn btn mt-3 text-white border-0 block-shadow" href="{{block21buttonlink}}">
                    <span>{{block21button}}</span>
                </a>
                {{/block21button}}
            </div>
        </div>
    </div>
</div>
