.path-mod-survey .smalltext {font-size: 0.75em;}

.path-mod-survey .surveytable .rblock label {display: block;}
.path-mod-survey .surveytable .foundthat,
.path-mod-survey .surveytable .preferthat {white-space: nowrap;}
.path-mod-survey .surveytable .buttoncell {width:5%;}
.path-mod-survey .surveytable .optioncell,
.path-mod-survey .surveytable .questioncell {width:50%;vertical-align:top;}
.path-mod-survey .surveytable .whitecell {background-color:white;}

.path-mod-survey #surveyform th {font-weight: normal;text-align: left;}
.path-mod-survey #surveyform th.hresponse {text-align: center;width: 9%;}

#page-mod-survey-report .fullnamecell {width:10%;vertical-align:top;white-space: nowrap;}