{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/local/toast/message

    Template to render a Toast notification.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
        "data": 200,
        "autohide": true,
        "Message": "Cubing negative numbers is tough",
        "title": "Negative numbers",
        "subtitle": "Cubing",
        "type": "info",
        "closebutton": true
    }
}}
<div id="toast-{{uniqid}}" class="toast mx-auto {{#type}}toast-{{type}}{{/type}}" data-delay="{{delay}}" {{^autohide}}data-autohide="false"{{/autohide}}>
    {{#title}}
    <div class="toast-header">
        <span class="toast-title">{{{title}}}</span>
        {{#subtitle}}<span class="toast-subtitle ml-auto small">{{{subtitle}}}</span>{{/subtitle}}
    </div>
    {{/title}}
    <div class="toast-body d-flex">
        <div class="toast-message px-1">{{{message}}}</div>
        {{#closeButton}}
        <button type="button" class="ml-auto align-self-baseline close" data-dismiss="toast" aria-label="{{#str}}dismissnotification, core{{/str}}">
            <span aria-hidden="true">&times;</span>
        </button>
        {{/closeButton}}
    </div>
</div>
{{#js}}
require(['jquery', 'theme_boost/bootstrap/toast'], function(jQuery) {
    // Show the toast.
    // Bootstrap toast components are not shown automatically.
    jQuery('#toast-{{uniqid}}').toast('show');

    jQuery('#toast-{{uniqid}}').on('hidden.bs.toast', function(e) {
        e.target.remove();
    });
});
{{/js}}
