:root {
  --cardbgcolor: rgb(255, 185, 0, 0.5);
  --cardtextcolor: #b36700;
  --basetextcolor1: #333333;
  --basetextcolor2: #585858;
  --cardcompletecolor: #4d4d4d;
  --hovertextcolor: #116cbf;
  --white: #ffffff;
}
$colorbgcard: rgba(0, 255, 251, 0.5);
$completebgcard: rgba(62, 62, 62, 0.5);
