{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_questionnaire/question_drop

    Template which defines a radio button type question survey display.

    Classes required for JS:
    * /mod/questionnaire/module.js

    Data attributes required for JS:
    * none

    Context variables required for this template:

    Example context (json):
    {
        "qelements": {
            "choice": {
                "id": "choiceid1",
                "name": "choiceid1",
                "class": "classname",
                "onchange": "dosomething()",
                "options": [
                    {
                        "selected": 1,
                        "value": "34",
                        "label": "Option 1"
                    },
                    {
                        "selected": 0,
                        "value": "35",
                        "label": "Option 2"
                    }
                ]
            }
        }
    }
    }}
<!-- Begin HTML generated from question_drop template. -->
{{#qelements}}
{{#choice}}
<select id="{{choice.id}}" name="{{choice.name}}" class="{{choice.class}}" {{#choice.onchange}}onchange="{{.}}"{{/choice.onchange}}>
{{#choice.options}}
<option {{#selected}}selected="selected" {{/selected}}value="{{value}}">{{label}}</option>
{{/choice.options}}
</select>
{{/choice}}
{{/qelements}}
<!-- End HTML generated from question_drop template. -->