.block_blog_tags .s20 {font-size: 1.5em;font-weight: bold;}
.block_blog_tags .s19 {font-size: 1.5em;}
.block_blog_tags .s18 {font-size: 1.4em;font-weight: bold;}
.block_blog_tags .s17 {font-size: 1.4em;}
.block_blog_tags .s16 {font-size: 1.3em;font-weight: bold;}
.block_blog_tags .s15 {font-size: 1.3em;}
.block_blog_tags .s14 {font-size: 1.2em;font-weight: bold;}
.block_blog_tags .s13 {font-size: 1.2em;}
.block_blog_tags .s12,
.block_blog_tags .s11 {font-size: 1.1em;font-weight: bold;}
.block_blog_tags .s10,
.block_blog_tags .s9 {font-size: 1.1em;}
.block_blog_tags .s8,
.block_blog_tags .s7 {font-size: 1em;font-weight: bold;}
.block_blog_tags .s6,
.block_blog_tags .s5 {font-size: 1em;}
.block_blog_tags .s4,
.block_blog_tags .s3 {font-size: 0.9em;font-weight: bold;}
.block_blog_tags .s2,
.block_blog_tags .s1 {font-size: 0.9em;}