{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/auth_digital_minor_page

    Example context (json):
    {
        "logourl": "https://moodle.org/logo/moodle-logo.svg",
        "sitename": "Site name",
        "supportname": "John Doe",
        "supportemail": "johndoe@example.com",
        "homelink": "/"
    }
}}

<div class="card-title">
    <h3>{{#str}}considereddigitalminor{{/str}}</h3>
</div>
<div class="pt-3 pb-5">
    <p>{{#str}}digitalminor_desc{{/str}}</p>
    <p class="mb-0">{{{supportname}}}</p>
    <p class="mb-0">{{{supportemail}}}</p>
</div>
<div class="backlink">
    <a href="{{homelink}}">{{#str}}backtohome{{/str}}</a>
</div>
