{{!
    @template core/filemanager_loginform

    This template is actually a template which is then used by YUI JS to
    generate the markup, so it doesn't make much sense on its own.

    Example context (json): {}
}}
<div class="fp-login-form">
    <div class="fp-content-center">
        <form class="form">
            <div class="fp-formset">
                <div class="fp-login-popup mb-3">
                    <div class="fp-popup">
                        <p class="mdl-align">
                            <button class="fp-login-popup-but btn-primary btn">{{#str}}login, repository{{/str}}</button>
                        </p>
                    </div>
                </div>
                <div class="fp-login-textarea mb-3">
                    <textarea class="form-control"></textarea>
                </div>
                <div class="fp-login-select mb-3">
                    <label class="form-control-label"></label>
                    <select class="custom-select"></select>
                </div>
                <div class="fp-login-input mb-3">
                    <label class="form-control-label"></label>
                    <input class="form-control"/>
                </div>
                <div class="fp-login-radiogroup mb-3">
                    <label class="form-control-label"></label>
                    <div class="fp-login-radio"><input class="form-control" /> <label></label></div>
                </div>
                <div class="fp-login-checkbox mb-3 d-flex flex-wrap align-items-center">
                    <label class="form-control-label"></label>
                    <input class="form-control"/>
                </div>
            </div>
            <p class="mdl-align"><button class="fp-login-submit btn-primary btn">{{#str}}submit, repository{{/str}}</button></p>
        </form>
    </div>
</div>
