<div class="filemanager fp-dlg">
    <p class="fp-dlg-text"></p>
    <button class="fp-dlg-butconfirm btn-primary btn">{{#str}}ok{{/str}}</button>
    <button class="fp-dlg-butcancel btn-secondary btn">{{#str}}cancel{{/str}}</button>
</div>