.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.progress {
    background-color: #eceeef;
    font-size: 0.75rem;
    display: flex;
    overflow: hidden;
    line-height: 1rem;
    text-align: center;
    border-radius: .25rem;
}
