{{! Block Skip Link }}
{{#showskiplink}}
  <a href="#sb-{{skipid}}" class="sr-only sr-only-focusable">{{#str}}skipa, access, {{title}}{{/str}}</a>
{{/showskiplink}}

{{! Start Block Container }}
<aside id="{{id}}"
     class="{{#hidden}}hidden{{/hidden}} m-b-1 block block_{{type}} card"
     role="{{ariarole}}"
     data-block="{{type}}"
     {{#arialabel}}
        aria-label="{{{arialabel}}}"
     {{/arialabel}} >

    {{! Block contents }}
    <div class="card-block">
        {{! Block header }}
        {{#title}}
            <h3 class="card-title p-r-3">{{{title}}}</h3>
        {{/title}}

        {{#hascontrols}}
        <div class="pull-xs-right block-controls">
            {{{controls}}}
        </div>
        {{/hascontrols}}
        <span class="clearfix m-b-1 d-block"></span>
        <div class="card-text">
            {{{content}}}
            {{{footer}}}
            {{{annotation}}}
        </div>
    </div>

{{! End Block Container }}
</aside>

{{! Block Skip Link Target }}
{{#showskiplink}}
  <span id="sb-{{skipid}}"></span>
{{/showskiplink}}
