<div class="progress bg-white border">
    <div class="progress-bar bar" aria-hidden="true" role="progressbar" aria-valuenow="{{progress}}" style="width: {{progress}}%" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="small">
    <span class="sr-only">{{#str}}aria:courseprogress, block_myoverview{{/str}}</span>
    {{#str}}completepercent, block_myoverview, <strong>{{progress}}</strong>{{/str}}
</div>