#page-header-wrapper {
	background: [[setting:backgroundcolor]];
}

a {
	color: [[setting:linkcolor]];
}

a:hover {
	color: #000;
}

.yui3-skin-sam .yui3-menu-label-active,
.yui3-skin-sam .yui3-menu-label-menuvisible {
	color: #fff;
	background: [[setting:linkhover]] !important;
}

.yui3-skin-sam .yui3-menu .yui3-menu {
	padding-top: 5px;
	background: [[setting:linkhover]];
	
}



.yui3-skin-sam .yui3-menu .yui3-menu .yui3-menu .yui3-menu-label-active,
.yui3-skin-sam .yui3-menu .yui3-menu .yui3-menu .yui3-menu-label-menuvisible {
 color: #fff;
	background-color: [[setting:linkhover]] !important;
}


.yui3-skin-sam .yui3-menu .yui3-menu .yui3-menu-content {
	background: [[setting:linkhover]];
}

.yui3-skin-sam .yui3-menu .yui3-menu .yui3-menu .yui3-menu-content {
	background: [[setting:linkhover]];
}