{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_message/message_drawer_view_overview_section

    This template is a base template to render a collapsible "section" on the
    overview page of the message drawer, for example the messages section.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid The logged in user id
    * urls The URLs for the popover

    This is an overridden template
    changing icon "t/collapsedcaret" to "t/collapsed"
    adding ".in" to ".show"
    adding .accordion-group to the main container div
    adding expanded to the .accordion-group if required for toggle icons to work.
    changing span.font-weight-bold to strong

    Example context (json):
    {}

}}
<div
    class="accordion-group section border-0 {{#expanded}}expanded{{/expanded}}"
    data-region="{{$region}}{{/region}}"
>
    <div id="{{$region}}{{/region}}-toggle" class="accordion-heading" data-region="toggle">
        <button
            class="btn btn-link w-100 text-left p-2 m-0 d-flex align-items-center overview-section-toggle {{^expanded}}collapsed{{/expanded}}"
            data-toggle="collapse"
            data-parent="#message-drawer-view-overview-container"
            data-target="#{{$region}}{{/region}}-target"
            aria-expanded="{{#expanded}}true{{/expanded}}{{^expanded}}false{{/expanded}}"
            aria-controls="{{$region}}{{/region}}-target"
        >
            <span class="collapsed-icon-container">
                {{#pix}} t/collapsed, core {{/pix}}
            </span>
            <span class="expanded-icon-container">
                {{#pix}} t/expanded, core {{/pix}}
            </span>
            <strong>{{$title}}{{/title}}</strong>
            <span class="hidden ml-1" data-region="section-total-count-container">
                (<span data-region="section-total-count">{{count.total}}</span>)
            </span>
            <span class="hidden ml-2" data-region="loading-icon-container">
                {{> core/loading }}
            </span>
            <span class="{{^count.unread}}hidden{{/count.unread}} badge badge-pill badge-primary ml-auto bg-primary" data-region="section-unread-count">
                {{count.unread}}
            </span>
        </button>
    </div>
    {{< core_message/message_drawer_lazy_load_list }}
        {{$rootclasses}} accordion-body collapse border-bottom {{#expanded}}show in{{/expanded}}{{/rootclasses}}
        {{$rootattributes}}
            id="{{$region}}{{/region}}-target"
            aria-labelledby="{{$region}}{{/region}}-toggle"
            data-parent="#message-drawer-view-overview-container"
        {{/rootattributes}}
    {{/ core_message/message_drawer_lazy_load_list }}
</div>
