<!--{{#quizzes}}-->
<!--    <li>-->
<!--        <a href="{{quizurl}}">{{quizname}}</a>-->
<!--        ({{timeopen}} - {{timeclose}})-->
<!--    </li>-->
        <!--{{/quizzes}}-->
        <!--{{^quizzes}}-->
<!--    <p>{{#str}}no_active_quizzes, theme_mytheme{{/str}}</p>-->
        <!--{{/quizzes}}-->

