<div class="box py-3 generalbox alert alert-info">
    <div class="mb-2 mt-1 d-flex alert-heading">
        <span><i class="icon fa fa-circle-info fa-fw " aria-hidden="true"></i></span>
        <h3 class="h6 mb-0">{{#str}}ourpartners, theme_moove{{/str}}</h3>
    </div>
    <p>{{#str}}ourpartnersdesc, theme_moove{{/str}}</p>
    <div class="row align-items-center row-cols-1 row-cols-sm-2 row-cols-md-4">
        <div class="col">
            <a href="https://www.readspeaker.com/conecti-me">
                <img style="max-height: 100px;" class="m-2 img-fluid" src="{{config.wwwroot}}/theme/moove/pix/partner-readspeaker.svg" alt="Logo ReadSpeaker">
            </a>
        </div>
    </div>
</div>