<div class="box py-3 generalbox alert alert-warning">
    <div class="mb-2 mt-1 d-flex alert-heading">
        <span><i class="icon fa fa-circle-info fa-fw " aria-hidden="true"></i></span>
        <h3 class="h6 mb-0">{{#str}}supportandservices, admin{{/str}}</h3>
    </div>
    <p>{{#str}}themedevelopedby, theme_moove{{/str}} <a href="https://conecti.me">conecti.me</a> {{#str}}themedevelopedbyconectimepartner, theme_moove{{/str}}</p>
    <p>{{#str}}needsupport, theme_moove{{/str}} <a href="https://conecti.me">{{#str}}contactus, theme_moove{{/str}}.</a> {{#str}}pleasuretohelp, theme_moove{{/str}}</p>
    <a href="https://conecti.me">
        <img style="width: 400px;" class="img-fluid" src="{{config.wwwroot}}/theme/moove/pix/conectime-partner.svg" alt="Logo Conecti.me">
    </a>
</div>