/**
 * Filters
 */
.mediaplugin {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;

    /* Make videos as wide as possible without being wider than their containers */
    width: 100vw;
    max-width: 100%;
}

.mediaplugin > div {
    margin: auto;
}
