#messages-list, #users-list{list-style-type:none;padding:0;margin:0}
#chat-header {
    background: transparent;
    font-size: 200%;
    overflow: hidden;
}
#chat-header p {
    display:inline;
    font-size: 50%;
    color: grey;
}
.time{
    font-weight: bold;
}
.user{
    color:blue;
}
.chat-event{
    text-align:center;
    color:grey;
}
.yui-skin-sam .yui-layout .yui-layout-unit div.yui-layout-bd {
    background: transparent;
}
.yui-layout-unit-top {
    background: #FFE39D;
}
.yui-layout-unit-right {
    border-top: 5px solid white;
    background: #FFD46B;
}
.yui-layout-unit-bottom {
    border-top: 5px solid white;
    background: #FFCB44;
}
.yui-skin-sam .yui-layout .yui-layout-unit div.yui-layout-unit-right {
    background: white;
}
.yui-skin-sam .yui-layout .yui-layout-unit div.yui-layout-bd {
    border:0;
}
.yui-skin-sam .yui-layout .yui-layout-hd {
    border:0;
}
