{{< core_form/element-template }}
    {{$element}}
        {{^element.frozen}}
        <input type="password"
                class="form-control {{#error}}is-invalid{{/error}}"
                name="{{element.name}}"
                id="{{element.id}}"
                value="{{element.value}}"
                size="{{element.size}}"
                {{#error}}
                    autofocus aria-describedby="id_error_{{element.name}}"
                {{/error}} {{{element.attributes}}}>
        {{/element.frozen}}
    {{/element}}
{{/ core_form/element-template }}
