{{< core_form/element-template }}
    {{$element}}
        <span class="fdate_selector d-flex">
        {{#element.elements}}
            {{{separator}}}
            {{{html}}}
        {{/element.elements}}
        </span>
    {{/element}}
{{/ core_form/element-template }}
