// Colours
$light-grey: #EFEFEF;
$dark-grey: #A8A8A8;
$light-blue: #bbe6ff;
$light-blue2: #6fcaff;
$gm-blue: #0070A8;
$white: #fff;
$red: #B94A48;
$green: #19B719;
$hover-blue: #00699e;

// Digital Receipt Success;
$bright-red: #CC0000;

// Table border colours
$border-color: $light-grey;

// Odd / Even colours for table
$odd-color: $light-grey;
$even-color: $white;

// Table padding
$table-padding: 15px;
$table-head-padding: $table-padding - 5px;