// The only class we need for icons is .icon
// Standardize the size, padding and alignment for all icons in Moodle.
.icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    margin-right: 0.5rem;
}

a:first-of-type > .icon {
    margin-left: 0.5rem;
}

.pull-xs-right {
    .icon {
        margin-right: 0;
        margin-left: 0.5rem;
    }
}

// Fix the cog icon for an action menu.
.action-menu > .dropdown .icon {
    margin-left: 0;
}

// Fix the first item in a drop down menu (it's a list of links and icons, but has been made vertical.
.dropdown .dropdown-item .icon {
    margin-left: 0;
}

// YUI 2 Tree View icons must not have a margin left.
.ygtvcell .icon {
    margin-left: 0 !important; /* stylelint-disable-line declaration-no-important */
}

// In the navigation, tree icons should not have margins.
.block_navigation,
.block_settings {
    .tree_item .icon {
        margin-left: 0;
    }
}

[data-action=toggle-drawer] .icon {
    margin: 0;
}
