.navbar.fixed-top {
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    align-items: stretch;
    height: $navbar-height;

    .navbar-brand {
        .logo {
            max-height: calc(#{$navbar-height} - (#{$primary-nav-padding-y} * 2));
        }
    }
    .nav-link {
        height: 100%;
        display: flex;
        align-items: center;
        white-space: nowrap;
    }
    .divider {
        width: 1px;
        background-color: $gray-300;
    }

    #usernavigation .nav-link {
        padding: 0 $primary-nav-padding-x;
    }
    .usermenu {
        display: flex;
        .action-menu {
            display: flex;
            align-items: center;
        }
        .dropdown-toggle::after {
            display: none;
        }
    }
    .moodle-actionmenu .menubar,
    .action-menu-trigger .dropdown {
        height: 100%;
        display: flex;
    }
}
#page {
    margin-top: $navbar-height;
}
